USE [CENTRA_ID]
GO

CREATE TABLE [SCH_CENTRA_ID].[APPLICATIONS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](20) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[AUTOMATIC_PROVISIONING] [int] NOT NULL,
	[AUTOMATIC_PROFILES] [int] NOT NULL,
	[CREATED] [datetime] NOT NULL,
	[VALID] [int] NOT NULL,
 CONSTRAINT [APPLICATIONS_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [APPLICATIONS_CODE_UK] UNIQUE NONCLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [APPLICATIONS_NAME_UK] UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SCH_CENTRA_ID].[APPLICATIONS_PROFILES]    Script Date: 24/09/2019 16:44:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCH_CENTRA_ID].[APPLICATIONS_PROFILES](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[APPLICATION_ID] [bigint] NOT NULL,
	[CODE] [nvarchar](20) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[CREATED] [datetime] NOT NULL,
	[VALID] [int] NOT NULL,
 CONSTRAINT [APPLICATIONS_PROFILES_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [APPLICATIONS_PROFILES_CODE_UK] UNIQUE NONCLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [APPLICATIONS_PROFILES_NAME_UK] UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SCH_CENTRA_ID].[CATALOGS]    Script Date: 24/09/2019 16:44:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCH_CENTRA_ID].[CATALOGS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](20) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[PREDETERMINED] [int] NOT NULL,
	[ORDINAL] [int] NULL,
	[VALUE_TEXT] [nvarchar](20) NULL,
	[VALUE_NUMBER] [numeric](10, 2) NULL,
	[VALUE_DATE] [datetime] NULL,
	[VALUE_BOOLEAN] [int] NULL,
	[catalog_type_id] [bigint] NOT NULL,
	[VALID] [int] NOT NULL,
 CONSTRAINT [CATALOGS_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [CATALOGS_UX] UNIQUE NONCLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SCH_CENTRA_ID].[COMPANIES]    Script Date: 24/09/2019 16:44:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCH_CENTRA_ID].[COMPANIES](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[IDENTIFIER] [nvarchar](20) NOT NULL,
	[BUSINESS_NAME] [nvarchar](100) NOT NULL,
	[VALID] [int] NOT NULL,
	[CATALOG_COMPANY_TYPE_ID] [bigint] NOT NULL,
	[CODE] [nvarchar](20) NOT NULL,
	[DOMAIN_NAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [COMPANIES_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [COMPANIES_BUSINESSNAME_UK] UNIQUE NONCLUSTERED 
(
	[BUSINESS_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [COMPANIES_CODE_UK] UNIQUE NONCLUSTERED 
(
	[IDENTIFIER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [COMPANIES_IDENTIFIER_UK] UNIQUE NONCLUSTERED 
(
	[IDENTIFIER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SCH_CENTRA_ID].[COSTS_CENTERS]    Script Date: 24/09/2019 16:44:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCH_CENTRA_ID].[COSTS_CENTERS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](20) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[COMPANY_ID] [bigint] NOT NULL,
	[COSTS_CENTERS_ID] [bigint] NULL,
	[VALID] [int] NOT NULL,
 CONSTRAINT [COSTS_CENTERS_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [COSTS_CENTERS_CODE_UK] UNIQUE NONCLUSTERED 
(
	[CODE] ASC,
	[NAME] ASC,
	[COMPANY_ID] ASC,
	[COSTS_CENTERS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SCH_CENTRA_ID].[DISTRIBUTION_LIST]    Script Date: 24/09/2019 16:44:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCH_CENTRA_ID].[DISTRIBUTION_LIST](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](20) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[VALID] [int] NOT NULL,
 CONSTRAINT [DISTRIBUTION_LIST_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [DISTRIBUTION_LIST_UK] UNIQUE NONCLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SCH_CENTRA_ID].[DISTRIBUTION_LIST_DETAIL]    Script Date: 24/09/2019 16:44:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCH_CENTRA_ID].[DISTRIBUTION_LIST_DETAIL](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MAIL] [nvarchar](100) NOT NULL,
	[DISTRIBUTION_LIST_ID] [bigint] NOT NULL,
	[VALID] [int] NOT NULL,
 CONSTRAINT [DISTRIBUTION_LIST_DETAIL_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SCH_CENTRA_ID].[GLOBAL_PARAMETERS]    Script Date: 24/09/2019 16:44:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCH_CENTRA_ID].[GLOBAL_PARAMETERS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](20) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[DESCRIPTION] [nvarchar](500) NOT NULL,
	[TYPE] [nvarchar](1) NOT NULL,
	[VALUE_TEXT] [nvarchar](500) NULL,
	[VALUE_NUMBER] [numeric](10, 2) NULL,
	[VALUE_DATE] [datetime] NULL,
	[VALUE_BOOLEAN] [int] NULL,
	[VALID] [int] NOT NULL,
 CONSTRAINT [GLOBAL_PARAMETERS_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [GLOBAL_PARAMETERS_NAME_UK] UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [GLOBAL_PARAMETERS_UX] UNIQUE NONCLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SCH_CENTRA_ID].[GLOBAL_PROFILES]    Script Date: 24/09/2019 16:44:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCH_CENTRA_ID].[GLOBAL_PROFILES](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](20) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[IS_BIRTH] [int] NOT NULL,
	[VALID] [int] NOT NULL,
	[CATALOG_DIVISION_ID] [bigint] NOT NULL,
	[CATALOG_POSITION_ID] [bigint] NOT NULL,
	[EMPLOYEE_CODE_OWNER] [nvarchar](50) NOT NULL,
	[CATALOG_POSITION_OWNER_ID] [bigint] NOT NULL,
	[ASSOCIATED_TICKET_NUMBER] [nvarchar](50) NOT NULL,
	[STATUS] [nvarchar](3) NOT NULL,
	[COMPANY_ID] [bigint] NOT NULL,
	[CREATED_DATE] [datetime] NULL,
	[APPROVAL_DATE] [datetime] NULL,
	[EMPLOYEE_CODE_APPROVAL] [nvarchar](50) NULL,
 CONSTRAINT [GLOBAL_PROFILES_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [GLOBAL_PROFILES_CODE_UK] UNIQUE NONCLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [GLOBAL_PROFILES_NAME_UK] UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SCH_CENTRA_ID].[GUIDS]    Script Date: 24/09/2019 16:44:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCH_CENTRA_ID].[GUIDS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [nvarchar](50) NOT NULL,
	[CREATED] [datetime] NOT NULL,
	[EVENT] [nvarchar](100) NOT NULL,
 CONSTRAINT [GUIDS_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [GUIDS_UK] UNIQUE NONCLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SCH_CENTRA_ID].[HIERARCHIES]    Script Date: 24/09/2019 16:44:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCH_CENTRA_ID].[HIERARCHIES](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[catalog_type_id] [bigint] NOT NULL,
	[CATALOG_COMPANY_TYPE_ID] [bigint] NOT NULL,
	[HIERARCHIES_ID] [bigint] NULL,
	[VALID] [int] NOT NULL,
 CONSTRAINT [HIERARCHIES_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [HIERARCHIES_UX] UNIQUE NONCLUSTERED 
(
	[catalog_type_id] ASC,
	[CATALOG_COMPANY_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SCH_CENTRA_ID].[MASSIVE_PROCESS]    Script Date: 24/09/2019 16:44:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCH_CENTRA_ID].[MASSIVE_PROCESS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[JSON] [text] NOT NULL,
	[STATE] [nvarchar](1) NOT NULL,
	[RESULT] [nvarchar](1) NOT NULL,
	[OBSERVATIONS] [text] NULL,
	[TYPE_ACTION] [nvarchar](1) NOT NULL,
	[VALID] [int] NOT NULL,
	[USERNAME] [nvarchar](50) NULL,
	[CODIGO_TRABAJADOR] [nvarchar](50) NULL,
	[APELLIDOS_EMPLEADO] [nvarchar](200) NULL,
	[NOMBRES_EMPLEADO] [nvarchar](200) NULL,
	[IDENTIFICACION] [nvarchar](50) NULL,
	[IDENTIFICACION_SUPERVISOR] [nvarchar](50) NULL,
	[NOMBRE_SUPERVISOR] [nvarchar](200) NULL,
	[CODIGO_COMPANIA] [nvarchar](50) NULL,
	[NOMBRE_COMPANIA] [nvarchar](200) NULL,
	[CODIGO_AGRUPACION] [nvarchar](50) NULL,
	[NOMBRE_AGRUPACION] [nvarchar](200) NULL,
	[CODIGO_DIVISION] [nvarchar](50) NULL,
	[NOMBRE_DIVISION] [nvarchar](200) NULL,
	[CODIGO_DEPARTAMENTO] [nvarchar](50) NULL,
	[NOMBRE_DEPARTAMENTO] [nvarchar](200) NULL,
	[CODIGO_AREA] [nvarchar](50) NULL,
	[NOMBRE_AREA] [nvarchar](200) NULL,
	[CODIGO_SUCURSAL] [nvarchar](50) NULL,
	[NOMBRE_SUCURSAL] [nvarchar](200) NULL,
	[CODIGO_CENTRO_COSTO] [nvarchar](50) NULL,
	[NOMBRE_CENTRO_COSTO] [nvarchar](200) NULL,
	[NOMBRE_LOCALIDAD] [nvarchar](200) NULL,
	[NOMBRE_CARGO] [nvarchar](200) NULL,
	[CODIGO_NIVEL_JERARQUICO] [nvarchar](50) NULL,
	[NOMBRE_NIVEL_JERARQUICO] [nvarchar](200) NULL,
	[NUMERO_CUENTA_DEPOSITO] [nvarchar](50) NULL,
	[FECHA_INGRESO_EMPLEADO] [nvarchar](20) NULL,
	[FECHA_SALIDA_EMPLEADO] [nvarchar](20) NULL,
	[ESTADO_EMPLEADO] [nvarchar](50) NULL,
	[CODIGO_EMPLEADO] [nvarchar](50) NULL,
	[TIPO_USUARIO] [nvarchar](50) NULL,
	[SUB_TIPO] [nvarchar](50) NULL,
	[FECHA_REGISTRO] [datetime] NOT NULL,
	[GUID] [nvarchar](50) NOT NULL,
	[TYPE_EVENT] [nvarchar](1) NOT NULL,
	[FECHA_DATOS] [datetime] NOT NULL,
	[UUID] [nvarchar](50) NOT NULL,
	[MODIFICA_DATOS] [int] NOT NULL,
	[RECALCULO_PERFIL] [int] NOT NULL,
	[FECHA_PROVISIONAMIENTO] [datetime] NULL,
	[CELULAR] [nvarchar](20) NULL,
 CONSTRAINT [MASSIVE_PROCESS_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [SCH_CENTRA_ID].[MASSIVE_PROCESS_PROBLEMS]    Script Date: 24/09/2019 16:44:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCH_CENTRA_ID].[MASSIVE_PROCESS_PROBLEMS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[JSON] [text] NOT NULL,
	[OBSERVATIONS] [text] NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[GUID] [nvarchar](50) NULL,
 CONSTRAINT [MASSIVE_PROCESS_PROBLEMS_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [SCH_CENTRA_ID].[ORGANIZATIONS_STRUCTURES]    Script Date: 24/09/2019 16:44:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCH_CENTRA_ID].[ORGANIZATIONS_STRUCTURES](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[COMPANY_ID] [bigint] NOT NULL,
	[CATALOG_ORGANIZATIONAL_STRUCTURE_ID] [bigint] NOT NULL,
	[ORGANIZATION_STRUCTURE_ID] [bigint] NULL,
	[VALID] [int] NOT NULL,
 CONSTRAINT [ORGANIZATIONS_STRUCTURES_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SCH_CENTRA_ID].[PROCESS]    Script Date: 24/09/2019 16:44:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCH_CENTRA_ID].[PROCESS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](20) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[DESCRIPTION] [nvarchar](500) NOT NULL,
	[VALID] [int] NOT NULL,
 CONSTRAINT [PROCESS_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [PROCESS_UK] UNIQUE NONCLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SCH_CENTRA_ID].[PROCESS_DISTRIBUTION_LIST]    Script Date: 24/09/2019 16:44:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCH_CENTRA_ID].[PROCESS_DISTRIBUTION_LIST](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DISTRIBUTION_LIST_ID] [bigint] NOT NULL,
	[PROCESS_ID] [bigint] NOT NULL,
	[VALID] [int] NOT NULL,
 CONSTRAINT [PROCESS_DISTRIBUTION_LIST_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SCH_CENTRA_ID].[TRANSACTIONAL_PROFILES]    Script Date: 24/09/2019 16:44:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCH_CENTRA_ID].[TRANSACTIONAL_PROFILES](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[APPLICATION_PROFILE_ID] [bigint] NOT NULL,
	[CODE] [nvarchar](20) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[DESCRIPTION] [nvarchar](100) NOT NULL,
	[COMMENTS] [nvarchar](100) NOT NULL,
	[CATALOG_RISK_LEVEL_ID] [bigint] NOT NULL,
	[CREATED] [datetime] NOT NULL,
	[VALID] [int] NOT NULL,
 CONSTRAINT [TRANSACTIONAL_PROFILES_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [TRANSACTIONAL_PROFILES_CODE_UK] UNIQUE NONCLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [TRANSACTIONAL_PROFILES_NAME_UK] UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SCH_CENTRA_ID].[TYPES_CATALOGS]    Script Date: 24/09/2019 16:44:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCH_CENTRA_ID].[TYPES_CATALOGS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](20) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[SORT_TYPE] [nvarchar](1) NOT NULL,
	[EDITABLE] [int] NOT NULL,
	[VALID] [int] NOT NULL,
 CONSTRAINT [TYPES_CATALOGS_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [TYPES_CATALOGS_UX] UNIQUE NONCLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SCH_CENTRA_ID].[TYPES_USERS]    Script Date: 24/09/2019 16:44:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCH_CENTRA_ID].[TYPES_USERS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](20) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[TYPE] [nvarchar](1) NOT NULL,
	[TYPE_USER_ID] [bigint] NULL,
	[VALID] [int] NOT NULL,
 CONSTRAINT [TYPES_USERS_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [TYPES_USERS_CODE_UK] UNIQUE NONCLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [TYPES_USERS_NAME_UK] UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [SCH_CENTRA_ID].[APPLICATIONS_PROFILES]  WITH CHECK ADD  CONSTRAINT [APPLICATIONSPROFILES_APPLICATIONS_FK] FOREIGN KEY([APPLICATION_ID])
REFERENCES [SCH_CENTRA_ID].[APPLICATIONS] ([ID])
GO
ALTER TABLE [SCH_CENTRA_ID].[APPLICATIONS_PROFILES] CHECK CONSTRAINT [APPLICATIONSPROFILES_APPLICATIONS_FK]
GO
ALTER TABLE [SCH_CENTRA_ID].[CATALOGS]  WITH CHECK ADD  CONSTRAINT [CATALOGS_TYPESCATALOGS_FK] FOREIGN KEY([catalog_type_id])
REFERENCES [SCH_CENTRA_ID].[TYPES_CATALOGS] ([ID])
GO
ALTER TABLE [SCH_CENTRA_ID].[CATALOGS] CHECK CONSTRAINT [CATALOGS_TYPESCATALOGS_FK]
GO
ALTER TABLE [SCH_CENTRA_ID].[COMPANIES]  WITH CHECK ADD  CONSTRAINT [COMPANIES_CATALOGS_COMPANY_TYPE_FK] FOREIGN KEY([CATALOG_COMPANY_TYPE_ID])
REFERENCES [SCH_CENTRA_ID].[CATALOGS] ([ID])
GO
ALTER TABLE [SCH_CENTRA_ID].[COMPANIES] CHECK CONSTRAINT [COMPANIES_CATALOGS_COMPANY_TYPE_FK]
GO
ALTER TABLE [SCH_CENTRA_ID].[COSTS_CENTERS]  WITH CHECK ADD  CONSTRAINT [COSTSCENTERS_COMPANIES_FK] FOREIGN KEY([COMPANY_ID])
REFERENCES [SCH_CENTRA_ID].[COMPANIES] ([ID])
GO
ALTER TABLE [SCH_CENTRA_ID].[COSTS_CENTERS] CHECK CONSTRAINT [COSTSCENTERS_COMPANIES_FK]
GO
ALTER TABLE [SCH_CENTRA_ID].[COSTS_CENTERS]  WITH CHECK ADD  CONSTRAINT [COSTSCENTERS_COSTSCENTERS_FK] FOREIGN KEY([COSTS_CENTERS_ID])
REFERENCES [SCH_CENTRA_ID].[COSTS_CENTERS] ([ID])
GO
ALTER TABLE [SCH_CENTRA_ID].[COSTS_CENTERS] CHECK CONSTRAINT [COSTSCENTERS_COSTSCENTERS_FK]
GO
ALTER TABLE [SCH_CENTRA_ID].[DISTRIBUTION_LIST_DETAIL]  WITH CHECK ADD  CONSTRAINT [DISTRIBUTIONLISTDETAIL_DISTRIBUTIONLIST_FK] FOREIGN KEY([DISTRIBUTION_LIST_ID])
REFERENCES [SCH_CENTRA_ID].[DISTRIBUTION_LIST] ([ID])
GO
ALTER TABLE [SCH_CENTRA_ID].[DISTRIBUTION_LIST_DETAIL] CHECK CONSTRAINT [DISTRIBUTIONLISTDETAIL_DISTRIBUTIONLIST_FK]
GO
ALTER TABLE [SCH_CENTRA_ID].[GLOBAL_PROFILES]  WITH CHECK ADD  CONSTRAINT [GLOBALPROFILES_CATALOGS_DIVISION_FK] FOREIGN KEY([CATALOG_DIVISION_ID])
REFERENCES [SCH_CENTRA_ID].[CATALOGS] ([ID])
GO
ALTER TABLE [SCH_CENTRA_ID].[GLOBAL_PROFILES] CHECK CONSTRAINT [GLOBALPROFILES_CATALOGS_DIVISION_FK]
GO
ALTER TABLE [SCH_CENTRA_ID].[GLOBAL_PROFILES]  WITH CHECK ADD  CONSTRAINT [GLOBALPROFILES_CATALOGS_POSITION_FK] FOREIGN KEY([CATALOG_POSITION_ID])
REFERENCES [SCH_CENTRA_ID].[CATALOGS] ([ID])
GO
ALTER TABLE [SCH_CENTRA_ID].[GLOBAL_PROFILES] CHECK CONSTRAINT [GLOBALPROFILES_CATALOGS_POSITION_FK]
GO
ALTER TABLE [SCH_CENTRA_ID].[GLOBAL_PROFILES]  WITH CHECK ADD  CONSTRAINT [GLOBALPROFILES_CATALOGS_POSITION_OWNER_FK] FOREIGN KEY([CATALOG_POSITION_OWNER_ID])
REFERENCES [SCH_CENTRA_ID].[CATALOGS] ([ID])
GO
ALTER TABLE [SCH_CENTRA_ID].[GLOBAL_PROFILES] CHECK CONSTRAINT [GLOBALPROFILES_CATALOGS_POSITION_OWNER_FK]
GO
ALTER TABLE [SCH_CENTRA_ID].[GLOBAL_PROFILES]  WITH CHECK ADD  CONSTRAINT [GLOBALPROFILES_COMPANIES_FK] FOREIGN KEY([COMPANY_ID])
REFERENCES [SCH_CENTRA_ID].[COMPANIES] ([ID])
GO
ALTER TABLE [SCH_CENTRA_ID].[GLOBAL_PROFILES] CHECK CONSTRAINT [GLOBALPROFILES_COMPANIES_FK]
GO
ALTER TABLE [SCH_CENTRA_ID].[HIERARCHIES]  WITH CHECK ADD  CONSTRAINT [HIERARCHIES_CATALOGS_COMPANY_TYPE_FK] FOREIGN KEY([CATALOG_COMPANY_TYPE_ID])
REFERENCES [SCH_CENTRA_ID].[CATALOGS] ([ID])
GO
ALTER TABLE [SCH_CENTRA_ID].[HIERARCHIES] CHECK CONSTRAINT [HIERARCHIES_CATALOGS_COMPANY_TYPE_FK]
GO
ALTER TABLE [SCH_CENTRA_ID].[HIERARCHIES]  WITH CHECK ADD  CONSTRAINT [HIERARCHIES_HIERARCHIES_FK] FOREIGN KEY([HIERARCHIES_ID])
REFERENCES [SCH_CENTRA_ID].[HIERARCHIES] ([ID])
GO
ALTER TABLE [SCH_CENTRA_ID].[HIERARCHIES] CHECK CONSTRAINT [HIERARCHIES_HIERARCHIES_FK]
GO
ALTER TABLE [SCH_CENTRA_ID].[HIERARCHIES]  WITH CHECK ADD  CONSTRAINT [HIERARCHIES_TYPES_CATALOGS_FK] FOREIGN KEY([catalog_type_id])
REFERENCES [SCH_CENTRA_ID].[TYPES_CATALOGS] ([ID])
GO
ALTER TABLE [SCH_CENTRA_ID].[HIERARCHIES] CHECK CONSTRAINT [HIERARCHIES_TYPES_CATALOGS_FK]
GO
ALTER TABLE [SCH_CENTRA_ID].[ORGANIZATIONS_STRUCTURES]  WITH CHECK ADD  CONSTRAINT [ORGANIZATIONSSTRUCTURES_CATALOGSORGANIZATIONALSTRUCTURE_FK] FOREIGN KEY([CATALOG_ORGANIZATIONAL_STRUCTURE_ID])
REFERENCES [SCH_CENTRA_ID].[CATALOGS] ([ID])
GO
ALTER TABLE [SCH_CENTRA_ID].[ORGANIZATIONS_STRUCTURES] CHECK CONSTRAINT [ORGANIZATIONSSTRUCTURES_CATALOGSORGANIZATIONALSTRUCTURE_FK]
GO
ALTER TABLE [SCH_CENTRA_ID].[ORGANIZATIONS_STRUCTURES]  WITH CHECK ADD  CONSTRAINT [ORGANIZATIONSSTRUCTURES_COMPANIES_FK] FOREIGN KEY([COMPANY_ID])
REFERENCES [SCH_CENTRA_ID].[COMPANIES] ([ID])
GO
ALTER TABLE [SCH_CENTRA_ID].[ORGANIZATIONS_STRUCTURES] CHECK CONSTRAINT [ORGANIZATIONSSTRUCTURES_COMPANIES_FK]
GO
ALTER TABLE [SCH_CENTRA_ID].[ORGANIZATIONS_STRUCTURES]  WITH CHECK ADD  CONSTRAINT [ORGANIZATIONSSTRUCTURES_ORGANIZATIONSSTRUCTURES_FK] FOREIGN KEY([ORGANIZATION_STRUCTURE_ID])
REFERENCES [SCH_CENTRA_ID].[ORGANIZATIONS_STRUCTURES] ([ID])
GO
ALTER TABLE [SCH_CENTRA_ID].[ORGANIZATIONS_STRUCTURES] CHECK CONSTRAINT [ORGANIZATIONSSTRUCTURES_ORGANIZATIONSSTRUCTURES_FK]
GO
ALTER TABLE [SCH_CENTRA_ID].[PROCESS_DISTRIBUTION_LIST]  WITH CHECK ADD  CONSTRAINT [PROCESSDISTRIBUTIONLIST_DISTRIBUTIONLIST_FK] FOREIGN KEY([DISTRIBUTION_LIST_ID])
REFERENCES [SCH_CENTRA_ID].[DISTRIBUTION_LIST] ([ID])
GO
ALTER TABLE [SCH_CENTRA_ID].[PROCESS_DISTRIBUTION_LIST] CHECK CONSTRAINT [PROCESSDISTRIBUTIONLIST_DISTRIBUTIONLIST_FK]
GO
ALTER TABLE [SCH_CENTRA_ID].[PROCESS_DISTRIBUTION_LIST]  WITH CHECK ADD  CONSTRAINT [PROCESSDISTRIBUTIONLIST_PROCESS_FK] FOREIGN KEY([PROCESS_ID])
REFERENCES [SCH_CENTRA_ID].[PROCESS] ([ID])
GO
ALTER TABLE [SCH_CENTRA_ID].[PROCESS_DISTRIBUTION_LIST] CHECK CONSTRAINT [PROCESSDISTRIBUTIONLIST_PROCESS_FK]
GO
ALTER TABLE [SCH_CENTRA_ID].[TRANSACTIONAL_PROFILES]  WITH CHECK ADD  CONSTRAINT [TRANSACTIONALPROFILES_APPLICATIONSPROFILES_FK] FOREIGN KEY([APPLICATION_PROFILE_ID])
REFERENCES [SCH_CENTRA_ID].[APPLICATIONS_PROFILES] ([ID])
GO
ALTER TABLE [SCH_CENTRA_ID].[TRANSACTIONAL_PROFILES] CHECK CONSTRAINT [TRANSACTIONALPROFILES_APPLICATIONSPROFILES_FK]
GO
ALTER TABLE [SCH_CENTRA_ID].[TRANSACTIONAL_PROFILES]  WITH CHECK ADD  CONSTRAINT [TRANSACTIONALPROFILES_CATALOGS_FK] FOREIGN KEY([CATALOG_RISK_LEVEL_ID])
REFERENCES [SCH_CENTRA_ID].[CATALOGS] ([ID])
GO
ALTER TABLE [SCH_CENTRA_ID].[TRANSACTIONAL_PROFILES] CHECK CONSTRAINT [TRANSACTIONALPROFILES_CATALOGS_FK]
GO
ALTER TABLE [SCH_CENTRA_ID].[TYPES_USERS]  WITH CHECK ADD  CONSTRAINT [TYPESUSERS_TYPESUSERS_FK] FOREIGN KEY([TYPE_USER_ID])
REFERENCES [SCH_CENTRA_ID].[TYPES_USERS] ([ID])
GO
ALTER TABLE [SCH_CENTRA_ID].[TYPES_USERS] CHECK CONSTRAINT [TYPESUSERS_TYPESUSERS_FK]
GO
ALTER TABLE [SCH_CENTRA_ID].[GLOBAL_PARAMETERS]  WITH CHECK ADD  CONSTRAINT [GLOBAL_PARAMETERS_TYPE_CK] CHECK  (([TYPE]='B' OR [TYPE]='D' OR [TYPE]='N' OR [TYPE]='S'))
GO
ALTER TABLE [SCH_CENTRA_ID].[GLOBAL_PARAMETERS] CHECK CONSTRAINT [GLOBAL_PARAMETERS_TYPE_CK]
GO
ALTER TABLE [SCH_CENTRA_ID].[GLOBAL_PROFILES]  WITH CHECK ADD  CONSTRAINT [GLOBAL_PROFILES_STATUS_UK] CHECK  (([STATUS]='APR' OR [STATUS]='REC' OR [STATUS]='INA' OR [STATUS]='ELI' OR [STATUS]='ACT' OR [STATUS]='REG'))
GO
ALTER TABLE [SCH_CENTRA_ID].[GLOBAL_PROFILES] CHECK CONSTRAINT [GLOBAL_PROFILES_STATUS_UK]
GO
ALTER TABLE [SCH_CENTRA_ID].[MASSIVE_PROCESS]  WITH CHECK ADD  CONSTRAINT [MASIVE_PROCESS_TYPEEVENT_CK] CHECK  (([TYPE_EVENT]='C' OR [TYPE_EVENT]='P'))
GO
ALTER TABLE [SCH_CENTRA_ID].[MASSIVE_PROCESS] CHECK CONSTRAINT [MASIVE_PROCESS_TYPEEVENT_CK]
GO
ALTER TABLE [SCH_CENTRA_ID].[MASSIVE_PROCESS]  WITH CHECK ADD  CONSTRAINT [MASSIVE_PROCESS_RESULT_UK] CHECK  (([RESULT]='P' OR [RESULT]='C' OR [RESULT]='I'))
GO
ALTER TABLE [SCH_CENTRA_ID].[MASSIVE_PROCESS] CHECK CONSTRAINT [MASSIVE_PROCESS_RESULT_UK]
GO
ALTER TABLE [SCH_CENTRA_ID].[MASSIVE_PROCESS]  WITH CHECK ADD  CONSTRAINT [MASSIVE_PROCESS_STATE_UK] CHECK  (([STATE]='Y' OR [STATE]='N' OR [STATE]='S'))
GO
ALTER TABLE [SCH_CENTRA_ID].[MASSIVE_PROCESS] CHECK CONSTRAINT [MASSIVE_PROCESS_STATE_UK]
GO
ALTER TABLE [SCH_CENTRA_ID].[MASSIVE_PROCESS]  WITH CHECK ADD  CONSTRAINT [MASSIVE_PROCESS_TYPEACTION_UK] CHECK  (([TYPE_ACTION]='D' OR [TYPE_ACTION]='U' OR [TYPE_ACTION]='C'))
GO
ALTER TABLE [SCH_CENTRA_ID].[MASSIVE_PROCESS] CHECK CONSTRAINT [MASSIVE_PROCESS_TYPEACTION_UK]
GO
ALTER TABLE [SCH_CENTRA_ID].[TYPES_CATALOGS]  WITH CHECK ADD  CONSTRAINT [TYPES_CATALOGS_SORT_TYPE_CK] CHECK  (([SORT_TYPE]='O' OR [SORT_TYPE]='A'))
GO
ALTER TABLE [SCH_CENTRA_ID].[TYPES_CATALOGS] CHECK CONSTRAINT [TYPES_CATALOGS_SORT_TYPE_CK]
GO
ALTER TABLE [SCH_CENTRA_ID].[TYPES_USERS]  WITH CHECK ADD  CONSTRAINT [TYPES_USERS_TYPE_CK] CHECK  (([TYPE]='S' OR [TYPE]='T'))
GO
ALTER TABLE [SCH_CENTRA_ID].[TYPES_USERS] CHECK CONSTRAINT [TYPES_USERS_TYPE_CK]
GO

