{
    "swagger": "2.0",
    "info": {
        "version": "v1",
        "title": "CentraID_API_report",
        "description": "API para integración de CentraID paquete report"
    },
    "host": "api.centraid.com",
    "schemes": [
        "https"
    ],
    "basePath": "/api.centraid/report",
    "paths": {
        "/DefaultProfileReport": {
            "get": {
                "operationId": "DefaultProfileReport_listAll",
                "summary": "Lista todos los registros de DefaultProfileReport.",
                "tags": [
                    "DefaultProfileReport"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "globalProfileCode",
                        "in": "query",
                        "description": "Filtra registros por globalProfileCode",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileName",
                        "in": "query",
                        "description": "Filtra registros por globalProfileName",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileStatus",
                        "in": "query",
                        "description": "Filtra registros por globalProfileStatus",
                        "type": "string"
                    },
                    {
                        "name": "defaultProfileCompanyCode",
                        "in": "query",
                        "description": "Filtra registros por defaultProfileCompanyCode",
                        "type": "string"
                    },
                    {
                        "name": "defaultProfileDivisionCode",
                        "in": "query",
                        "description": "Filtra registros por defaultProfileDivisionCode",
                        "type": "string"
                    },
                    {
                        "name": "defaultProfileAreaCode",
                        "in": "query",
                        "description": "Filtra registros por defaultProfileAreaCode",
                        "type": "string"
                    },
                    {
                        "name": "defaultProfileDepartmentCode",
                        "in": "query",
                        "description": "Filtra registros por defaultProfileDepartmentCode",
                        "type": "string"
                    },
                    {
                        "name": "defaultProfilePositionCode",
                        "in": "query",
                        "description": "Filtra registros por defaultProfilePositionCode",
                        "type": "string"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DefaultProfileReportResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_report_read"
            },
            "post": {
                "operationId": "DefaultProfileReport_create",
                "summary": "Crea un registro de DefaultProfileReport.",
                "tags": [
                    "DefaultProfileReport"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Request body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DefaultProfileReport"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DefaultProfileReport"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_report_read"
            }
        },
        "/DefaultProfileReport/count": {
            "get": {
                "operationId": "DefaultProfileReport_count",
                "summary": "Retorna total de registros de DefaultProfileReport.",
                "tags": [
                    "DefaultProfileReport"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "globalProfileCode",
                        "in": "query",
                        "description": "Filtra registros por globalProfileCode",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileName",
                        "in": "query",
                        "description": "Filtra registros por globalProfileName",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileStatus",
                        "in": "query",
                        "description": "Filtra registros por globalProfileStatus",
                        "type": "string"
                    },
                    {
                        "name": "defaultProfileCompanyCode",
                        "in": "query",
                        "description": "Filtra registros por defaultProfileCompanyCode",
                        "type": "string"
                    },
                    {
                        "name": "defaultProfileDivisionCode",
                        "in": "query",
                        "description": "Filtra registros por defaultProfileDivisionCode",
                        "type": "string"
                    },
                    {
                        "name": "defaultProfileAreaCode",
                        "in": "query",
                        "description": "Filtra registros por defaultProfileAreaCode",
                        "type": "string"
                    },
                    {
                        "name": "defaultProfileDepartmentCode",
                        "in": "query",
                        "description": "Filtra registros por defaultProfileDepartmentCode",
                        "type": "string"
                    },
                    {
                        "name": "defaultProfilePositionCode",
                        "in": "query",
                        "description": "Filtra registros por defaultProfilePositionCode",
                        "type": "string"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CountResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_report_read"
            }
        },
        "/DefaultProfileReport/max/{campo}": {
            "get": {
                "operationId": "DefaultProfileReport_max",
                "summary": "Retorna el valor máximo de campo de los registros de DefaultProfileReport.",
                "tags": [
                    "DefaultProfileReport"
                ],
                "parameters": [
                    {
                        "name": "campo",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "globalProfileCode",
                        "in": "query",
                        "description": "Filtra registros por globalProfileCode",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileName",
                        "in": "query",
                        "description": "Filtra registros por globalProfileName",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileStatus",
                        "in": "query",
                        "description": "Filtra registros por globalProfileStatus",
                        "type": "string"
                    },
                    {
                        "name": "defaultProfileCompanyCode",
                        "in": "query",
                        "description": "Filtra registros por defaultProfileCompanyCode",
                        "type": "string"
                    },
                    {
                        "name": "defaultProfileDivisionCode",
                        "in": "query",
                        "description": "Filtra registros por defaultProfileDivisionCode",
                        "type": "string"
                    },
                    {
                        "name": "defaultProfileAreaCode",
                        "in": "query",
                        "description": "Filtra registros por defaultProfileAreaCode",
                        "type": "string"
                    },
                    {
                        "name": "defaultProfileDepartmentCode",
                        "in": "query",
                        "description": "Filtra registros por defaultProfileDepartmentCode",
                        "type": "string"
                    },
                    {
                        "name": "defaultProfilePositionCode",
                        "in": "query",
                        "description": "Filtra registros por defaultProfilePositionCode",
                        "type": "string"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MaxResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_report_read"
            }
        },
        "/DefaultProfileReport/sum/{campo}": {
            "get": {
                "operationId": "DefaultProfileReport_sum",
                "summary": "Retorna la suma de un campo de los registros de DefaultProfileReport.",
                "tags": [
                    "DefaultProfileReport"
                ],
                "parameters": [
                    {
                        "name": "campo",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "globalProfileCode",
                        "in": "query",
                        "description": "Filtra registros por globalProfileCode",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileName",
                        "in": "query",
                        "description": "Filtra registros por globalProfileName",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileStatus",
                        "in": "query",
                        "description": "Filtra registros por globalProfileStatus",
                        "type": "string"
                    },
                    {
                        "name": "defaultProfileCompanyCode",
                        "in": "query",
                        "description": "Filtra registros por defaultProfileCompanyCode",
                        "type": "string"
                    },
                    {
                        "name": "defaultProfileDivisionCode",
                        "in": "query",
                        "description": "Filtra registros por defaultProfileDivisionCode",
                        "type": "string"
                    },
                    {
                        "name": "defaultProfileAreaCode",
                        "in": "query",
                        "description": "Filtra registros por defaultProfileAreaCode",
                        "type": "string"
                    },
                    {
                        "name": "defaultProfileDepartmentCode",
                        "in": "query",
                        "description": "Filtra registros por defaultProfileDepartmentCode",
                        "type": "string"
                    },
                    {
                        "name": "defaultProfilePositionCode",
                        "in": "query",
                        "description": "Filtra registros por defaultProfilePositionCode",
                        "type": "string"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SumResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_report_read"
            }
        },
        "/DefaultProfileReport/{from}/{to}": {
            "get": {
                "operationId": "DefaultProfileReport_listRange",
                "summary": "Lista los registros de DefaultProfileReport por posición.",
                "tags": [
                    "DefaultProfileReport"
                ],
                "parameters": [
                    {
                        "name": "from",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "to",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "globalProfileCode",
                        "in": "query",
                        "description": "Filtra registros por globalProfileCode",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileName",
                        "in": "query",
                        "description": "Filtra registros por globalProfileName",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileStatus",
                        "in": "query",
                        "description": "Filtra registros por globalProfileStatus",
                        "type": "string"
                    },
                    {
                        "name": "defaultProfileCompanyCode",
                        "in": "query",
                        "description": "Filtra registros por defaultProfileCompanyCode",
                        "type": "string"
                    },
                    {
                        "name": "defaultProfileDivisionCode",
                        "in": "query",
                        "description": "Filtra registros por defaultProfileDivisionCode",
                        "type": "string"
                    },
                    {
                        "name": "defaultProfileAreaCode",
                        "in": "query",
                        "description": "Filtra registros por defaultProfileAreaCode",
                        "type": "string"
                    },
                    {
                        "name": "defaultProfileDepartmentCode",
                        "in": "query",
                        "description": "Filtra registros por defaultProfileDepartmentCode",
                        "type": "string"
                    },
                    {
                        "name": "defaultProfilePositionCode",
                        "in": "query",
                        "description": "Filtra registros por defaultProfilePositionCode",
                        "type": "string"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DefaultProfileReportResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_report_read"
            }
        },
        "/DefaultProfileReport/{id}": {
            "get": {
                "operationId": "DefaultProfileReport_read",
                "summary": "Retorna o respectivo registro de DefaultProfileReport.",
                "tags": [
                    "DefaultProfileReport"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DefaultProfileReport"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_report_read"
            },
            "put": {
                "operationId": "DefaultProfileReport_update",
                "summary": "Actualiza el respectivo registro de DefaultProfileReport.",
                "tags": [
                    "DefaultProfileReport"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Request body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DefaultProfileReport"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_report_read"
            },
            "delete": {
                "operationId": "DefaultProfileReport_delete",
                "summary": "Remove o respectivo registro de DefaultProfileReport.",
                "tags": [
                    "DefaultProfileReport"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_report_read"
            }
        },
        "/GlobalProfileReport": {
            "get": {
                "operationId": "GlobalProfileReport_listAll",
                "summary": "Lista todos los registros de GlobalProfileReport.",
                "tags": [
                    "GlobalProfileReport"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "globalProfileCode",
                        "in": "query",
                        "description": "Filtra registros por globalProfileCode",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileName",
                        "in": "query",
                        "description": "Filtra registros por globalProfileName",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileIsBirth",
                        "in": "query",
                        "description": "Filtra registros por globalProfileIsBirth",
                        "type": "integer"
                    },
                    {
                        "name": "globalProfileStatus",
                        "in": "query",
                        "description": "Filtra registros por globalProfileStatus",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileTicketNumber",
                        "in": "query",
                        "description": "Filtra registros por globalProfileTicketNumber",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileUserCreation",
                        "in": "query",
                        "description": "Filtra registros por globalProfileUserCreation",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileDateCreation",
                        "in": "query",
                        "description": "Filtra registros por globalProfileDateCreation",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileUserApproval",
                        "in": "query",
                        "description": "Filtra registros por globalProfileUserApproval",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileDateApproval",
                        "in": "query",
                        "description": "Filtra registros por globalProfileDateApproval",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileObservation",
                        "in": "query",
                        "description": "Filtra registros por globalProfileObservation",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileScopeRulesWho",
                        "in": "query",
                        "description": "Filtra registros por globalProfileScopeRulesWho",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileScopeRulesThat",
                        "in": "query",
                        "description": "Filtra registros por globalProfileScopeRulesThat",
                        "type": "string"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/GlobalProfileReportResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_report_read"
            },
            "post": {
                "operationId": "GlobalProfileReport_create",
                "summary": "Crea un registro de GlobalProfileReport.",
                "tags": [
                    "GlobalProfileReport"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Request body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GlobalProfileReport"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/GlobalProfileReport"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_report_read"
            }
        },
        "/GlobalProfileReport/count": {
            "get": {
                "operationId": "GlobalProfileReport_count",
                "summary": "Retorna total de registros de GlobalProfileReport.",
                "tags": [
                    "GlobalProfileReport"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "globalProfileCode",
                        "in": "query",
                        "description": "Filtra registros por globalProfileCode",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileName",
                        "in": "query",
                        "description": "Filtra registros por globalProfileName",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileIsBirth",
                        "in": "query",
                        "description": "Filtra registros por globalProfileIsBirth",
                        "type": "integer"
                    },
                    {
                        "name": "globalProfileStatus",
                        "in": "query",
                        "description": "Filtra registros por globalProfileStatus",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileTicketNumber",
                        "in": "query",
                        "description": "Filtra registros por globalProfileTicketNumber",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileUserCreation",
                        "in": "query",
                        "description": "Filtra registros por globalProfileUserCreation",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileDateCreation",
                        "in": "query",
                        "description": "Filtra registros por globalProfileDateCreation",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileUserApproval",
                        "in": "query",
                        "description": "Filtra registros por globalProfileUserApproval",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileDateApproval",
                        "in": "query",
                        "description": "Filtra registros por globalProfileDateApproval",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileObservation",
                        "in": "query",
                        "description": "Filtra registros por globalProfileObservation",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileScopeRulesWho",
                        "in": "query",
                        "description": "Filtra registros por globalProfileScopeRulesWho",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileScopeRulesThat",
                        "in": "query",
                        "description": "Filtra registros por globalProfileScopeRulesThat",
                        "type": "string"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CountResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_report_read"
            }
        },
        "/GlobalProfileReport/max/{campo}": {
            "get": {
                "operationId": "GlobalProfileReport_max",
                "summary": "Retorna el valor máximo de campo de los registros de GlobalProfileReport.",
                "tags": [
                    "GlobalProfileReport"
                ],
                "parameters": [
                    {
                        "name": "campo",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "globalProfileCode",
                        "in": "query",
                        "description": "Filtra registros por globalProfileCode",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileName",
                        "in": "query",
                        "description": "Filtra registros por globalProfileName",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileIsBirth",
                        "in": "query",
                        "description": "Filtra registros por globalProfileIsBirth",
                        "type": "integer"
                    },
                    {
                        "name": "globalProfileStatus",
                        "in": "query",
                        "description": "Filtra registros por globalProfileStatus",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileTicketNumber",
                        "in": "query",
                        "description": "Filtra registros por globalProfileTicketNumber",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileUserCreation",
                        "in": "query",
                        "description": "Filtra registros por globalProfileUserCreation",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileDateCreation",
                        "in": "query",
                        "description": "Filtra registros por globalProfileDateCreation",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileUserApproval",
                        "in": "query",
                        "description": "Filtra registros por globalProfileUserApproval",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileDateApproval",
                        "in": "query",
                        "description": "Filtra registros por globalProfileDateApproval",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileObservation",
                        "in": "query",
                        "description": "Filtra registros por globalProfileObservation",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileScopeRulesWho",
                        "in": "query",
                        "description": "Filtra registros por globalProfileScopeRulesWho",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileScopeRulesThat",
                        "in": "query",
                        "description": "Filtra registros por globalProfileScopeRulesThat",
                        "type": "string"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MaxResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_report_read"
            }
        },
        "/GlobalProfileReport/sum/{campo}": {
            "get": {
                "operationId": "GlobalProfileReport_sum",
                "summary": "Retorna la suma de un campo de los registros de GlobalProfileReport.",
                "tags": [
                    "GlobalProfileReport"
                ],
                "parameters": [
                    {
                        "name": "campo",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "globalProfileCode",
                        "in": "query",
                        "description": "Filtra registros por globalProfileCode",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileName",
                        "in": "query",
                        "description": "Filtra registros por globalProfileName",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileIsBirth",
                        "in": "query",
                        "description": "Filtra registros por globalProfileIsBirth",
                        "type": "integer"
                    },
                    {
                        "name": "globalProfileStatus",
                        "in": "query",
                        "description": "Filtra registros por globalProfileStatus",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileTicketNumber",
                        "in": "query",
                        "description": "Filtra registros por globalProfileTicketNumber",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileUserCreation",
                        "in": "query",
                        "description": "Filtra registros por globalProfileUserCreation",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileDateCreation",
                        "in": "query",
                        "description": "Filtra registros por globalProfileDateCreation",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileUserApproval",
                        "in": "query",
                        "description": "Filtra registros por globalProfileUserApproval",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileDateApproval",
                        "in": "query",
                        "description": "Filtra registros por globalProfileDateApproval",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileObservation",
                        "in": "query",
                        "description": "Filtra registros por globalProfileObservation",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileScopeRulesWho",
                        "in": "query",
                        "description": "Filtra registros por globalProfileScopeRulesWho",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileScopeRulesThat",
                        "in": "query",
                        "description": "Filtra registros por globalProfileScopeRulesThat",
                        "type": "string"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SumResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_report_read"
            }
        },
        "/GlobalProfileReport/{from}/{to}": {
            "get": {
                "operationId": "GlobalProfileReport_listRange",
                "summary": "Lista los registros de GlobalProfileReport por posición.",
                "tags": [
                    "GlobalProfileReport"
                ],
                "parameters": [
                    {
                        "name": "from",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "to",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "globalProfileCode",
                        "in": "query",
                        "description": "Filtra registros por globalProfileCode",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileName",
                        "in": "query",
                        "description": "Filtra registros por globalProfileName",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileIsBirth",
                        "in": "query",
                        "description": "Filtra registros por globalProfileIsBirth",
                        "type": "integer"
                    },
                    {
                        "name": "globalProfileStatus",
                        "in": "query",
                        "description": "Filtra registros por globalProfileStatus",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileTicketNumber",
                        "in": "query",
                        "description": "Filtra registros por globalProfileTicketNumber",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileUserCreation",
                        "in": "query",
                        "description": "Filtra registros por globalProfileUserCreation",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileDateCreation",
                        "in": "query",
                        "description": "Filtra registros por globalProfileDateCreation",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileUserApproval",
                        "in": "query",
                        "description": "Filtra registros por globalProfileUserApproval",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileDateApproval",
                        "in": "query",
                        "description": "Filtra registros por globalProfileDateApproval",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileObservation",
                        "in": "query",
                        "description": "Filtra registros por globalProfileObservation",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileScopeRulesWho",
                        "in": "query",
                        "description": "Filtra registros por globalProfileScopeRulesWho",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileScopeRulesThat",
                        "in": "query",
                        "description": "Filtra registros por globalProfileScopeRulesThat",
                        "type": "string"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/GlobalProfileReportResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_report_read"
            }
        },
        "/GlobalProfileReport/{id}": {
            "get": {
                "operationId": "GlobalProfileReport_read",
                "summary": "Retorna o respectivo registro de GlobalProfileReport.",
                "tags": [
                    "GlobalProfileReport"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/GlobalProfileReport"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_report_read"
            },
            "put": {
                "operationId": "GlobalProfileReport_update",
                "summary": "Actualiza el respectivo registro de GlobalProfileReport.",
                "tags": [
                    "GlobalProfileReport"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Request body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GlobalProfileReport"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_report_read"
            },
            "delete": {
                "operationId": "GlobalProfileReport_delete",
                "summary": "Remove o respectivo registro de GlobalProfileReport.",
                "tags": [
                    "GlobalProfileReport"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_report_read"
            }
        },
        "/GlobalTransactionalProfileReport": {
            "get": {
                "operationId": "GlobalTransactionalProfileReport_listAll",
                "summary": "Lista todos los registros de GlobalTransactionalProfileReport.",
                "tags": [
                    "GlobalTransactionalProfileReport"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "globalProfileCode",
                        "in": "query",
                        "description": "Filtra registros por globalProfileCode",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileName",
                        "in": "query",
                        "description": "Filtra registros por globalProfileName",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileStatus",
                        "in": "query",
                        "description": "Filtra registros por globalProfileStatus",
                        "type": "string"
                    },
                    {
                        "name": "applicationCode",
                        "in": "query",
                        "description": "Filtra registros por applicationCode",
                        "type": "string"
                    },
                    {
                        "name": "applicationName",
                        "in": "query",
                        "description": "Filtra registros por applicationName",
                        "type": "string"
                    },
                    {
                        "name": "transactionalProfileCode",
                        "in": "query",
                        "description": "Filtra registros por transactionalProfileCode",
                        "type": "string"
                    },
                    {
                        "name": "transactionalProfileName",
                        "in": "query",
                        "description": "Filtra registros por transactionalProfileName",
                        "type": "string"
                    },
                    {
                        "name": "transactionalProfileRiskLevel",
                        "in": "query",
                        "description": "Filtra registros por transactionalProfileRiskLevel",
                        "type": "string"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/GlobalTransactionalProfileReportResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_report_read"
            },
            "post": {
                "operationId": "GlobalTransactionalProfileReport_create",
                "summary": "Crea un registro de GlobalTransactionalProfileReport.",
                "tags": [
                    "GlobalTransactionalProfileReport"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Request body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GlobalTransactionalProfileReport"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/GlobalTransactionalProfileReport"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_report_read"
            }
        },
        "/GlobalTransactionalProfileReport/count": {
            "get": {
                "operationId": "GlobalTransactionalProfileReport_count",
                "summary": "Retorna total de registros de GlobalTransactionalProfileReport.",
                "tags": [
                    "GlobalTransactionalProfileReport"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "globalProfileCode",
                        "in": "query",
                        "description": "Filtra registros por globalProfileCode",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileName",
                        "in": "query",
                        "description": "Filtra registros por globalProfileName",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileStatus",
                        "in": "query",
                        "description": "Filtra registros por globalProfileStatus",
                        "type": "string"
                    },
                    {
                        "name": "applicationCode",
                        "in": "query",
                        "description": "Filtra registros por applicationCode",
                        "type": "string"
                    },
                    {
                        "name": "applicationName",
                        "in": "query",
                        "description": "Filtra registros por applicationName",
                        "type": "string"
                    },
                    {
                        "name": "transactionalProfileCode",
                        "in": "query",
                        "description": "Filtra registros por transactionalProfileCode",
                        "type": "string"
                    },
                    {
                        "name": "transactionalProfileName",
                        "in": "query",
                        "description": "Filtra registros por transactionalProfileName",
                        "type": "string"
                    },
                    {
                        "name": "transactionalProfileRiskLevel",
                        "in": "query",
                        "description": "Filtra registros por transactionalProfileRiskLevel",
                        "type": "string"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CountResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_report_read"
            }
        },
        "/GlobalTransactionalProfileReport/max/{campo}": {
            "get": {
                "operationId": "GlobalTransactionalProfileReport_max",
                "summary": "Retorna el valor máximo de campo de los registros de GlobalTransactionalProfileReport.",
                "tags": [
                    "GlobalTransactionalProfileReport"
                ],
                "parameters": [
                    {
                        "name": "campo",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "globalProfileCode",
                        "in": "query",
                        "description": "Filtra registros por globalProfileCode",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileName",
                        "in": "query",
                        "description": "Filtra registros por globalProfileName",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileStatus",
                        "in": "query",
                        "description": "Filtra registros por globalProfileStatus",
                        "type": "string"
                    },
                    {
                        "name": "applicationCode",
                        "in": "query",
                        "description": "Filtra registros por applicationCode",
                        "type": "string"
                    },
                    {
                        "name": "applicationName",
                        "in": "query",
                        "description": "Filtra registros por applicationName",
                        "type": "string"
                    },
                    {
                        "name": "transactionalProfileCode",
                        "in": "query",
                        "description": "Filtra registros por transactionalProfileCode",
                        "type": "string"
                    },
                    {
                        "name": "transactionalProfileName",
                        "in": "query",
                        "description": "Filtra registros por transactionalProfileName",
                        "type": "string"
                    },
                    {
                        "name": "transactionalProfileRiskLevel",
                        "in": "query",
                        "description": "Filtra registros por transactionalProfileRiskLevel",
                        "type": "string"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MaxResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_report_read"
            }
        },
        "/GlobalTransactionalProfileReport/sum/{campo}": {
            "get": {
                "operationId": "GlobalTransactionalProfileReport_sum",
                "summary": "Retorna la suma de un campo de los registros de GlobalTransactionalProfileReport.",
                "tags": [
                    "GlobalTransactionalProfileReport"
                ],
                "parameters": [
                    {
                        "name": "campo",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "globalProfileCode",
                        "in": "query",
                        "description": "Filtra registros por globalProfileCode",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileName",
                        "in": "query",
                        "description": "Filtra registros por globalProfileName",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileStatus",
                        "in": "query",
                        "description": "Filtra registros por globalProfileStatus",
                        "type": "string"
                    },
                    {
                        "name": "applicationCode",
                        "in": "query",
                        "description": "Filtra registros por applicationCode",
                        "type": "string"
                    },
                    {
                        "name": "applicationName",
                        "in": "query",
                        "description": "Filtra registros por applicationName",
                        "type": "string"
                    },
                    {
                        "name": "transactionalProfileCode",
                        "in": "query",
                        "description": "Filtra registros por transactionalProfileCode",
                        "type": "string"
                    },
                    {
                        "name": "transactionalProfileName",
                        "in": "query",
                        "description": "Filtra registros por transactionalProfileName",
                        "type": "string"
                    },
                    {
                        "name": "transactionalProfileRiskLevel",
                        "in": "query",
                        "description": "Filtra registros por transactionalProfileRiskLevel",
                        "type": "string"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SumResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_report_read"
            }
        },
        "/GlobalTransactionalProfileReport/{from}/{to}": {
            "get": {
                "operationId": "GlobalTransactionalProfileReport_listRange",
                "summary": "Lista los registros de GlobalTransactionalProfileReport por posición.",
                "tags": [
                    "GlobalTransactionalProfileReport"
                ],
                "parameters": [
                    {
                        "name": "from",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "to",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "globalProfileCode",
                        "in": "query",
                        "description": "Filtra registros por globalProfileCode",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileName",
                        "in": "query",
                        "description": "Filtra registros por globalProfileName",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileStatus",
                        "in": "query",
                        "description": "Filtra registros por globalProfileStatus",
                        "type": "string"
                    },
                    {
                        "name": "applicationCode",
                        "in": "query",
                        "description": "Filtra registros por applicationCode",
                        "type": "string"
                    },
                    {
                        "name": "applicationName",
                        "in": "query",
                        "description": "Filtra registros por applicationName",
                        "type": "string"
                    },
                    {
                        "name": "transactionalProfileCode",
                        "in": "query",
                        "description": "Filtra registros por transactionalProfileCode",
                        "type": "string"
                    },
                    {
                        "name": "transactionalProfileName",
                        "in": "query",
                        "description": "Filtra registros por transactionalProfileName",
                        "type": "string"
                    },
                    {
                        "name": "transactionalProfileRiskLevel",
                        "in": "query",
                        "description": "Filtra registros por transactionalProfileRiskLevel",
                        "type": "string"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/GlobalTransactionalProfileReportResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_report_read"
            }
        },
        "/GlobalTransactionalProfileReport/{id}": {
            "get": {
                "operationId": "GlobalTransactionalProfileReport_read",
                "summary": "Retorna o respectivo registro de GlobalTransactionalProfileReport.",
                "tags": [
                    "GlobalTransactionalProfileReport"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/GlobalTransactionalProfileReport"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_report_read"
            },
            "put": {
                "operationId": "GlobalTransactionalProfileReport_update",
                "summary": "Actualiza el respectivo registro de GlobalTransactionalProfileReport.",
                "tags": [
                    "GlobalTransactionalProfileReport"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Request body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GlobalTransactionalProfileReport"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_report_read"
            },
            "delete": {
                "operationId": "GlobalTransactionalProfileReport_delete",
                "summary": "Remove o respectivo registro de GlobalTransactionalProfileReport.",
                "tags": [
                    "GlobalTransactionalProfileReport"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_report_read"
            }
        },
        "/TransactionalProfileReport": {
            "get": {
                "operationId": "TransactionalProfileReport_listAll",
                "summary": "Lista todos los registros de TransactionalProfileReport.",
                "tags": [
                    "TransactionalProfileReport"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "applicationCode",
                        "in": "query",
                        "description": "Filtra registros por applicationCode",
                        "type": "string"
                    },
                    {
                        "name": "applicationName",
                        "in": "query",
                        "description": "Filtra registros por applicationName",
                        "type": "string"
                    },
                    {
                        "name": "applicationAutomatic",
                        "in": "query",
                        "description": "Filtra registros por applicationAutomatic",
                        "type": "integer"
                    },
                    {
                        "name": "transactionalProfileCode",
                        "in": "query",
                        "description": "Filtra registros por transactionalProfileCode",
                        "type": "string"
                    },
                    {
                        "name": "transactionalProfileName",
                        "in": "query",
                        "description": "Filtra registros por transactionalProfileName",
                        "type": "string"
                    },
                    {
                        "name": "riskLevel",
                        "in": "query",
                        "description": "Filtra registros por riskLevel",
                        "type": "string"
                    },
                    {
                        "name": "comments",
                        "in": "query",
                        "description": "Filtra registros por comments",
                        "type": "string"
                    },
                    {
                        "name": "fieldName",
                        "in": "query",
                        "description": "Filtra registros por fieldName",
                        "type": "string"
                    },
                    {
                        "name": "fieldValue",
                        "in": "query",
                        "description": "Filtra registros por fieldValue",
                        "type": "string"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TransactionalProfileReportResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_report_read"
            },
            "post": {
                "operationId": "TransactionalProfileReport_create",
                "summary": "Crea un registro de TransactionalProfileReport.",
                "tags": [
                    "TransactionalProfileReport"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Request body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TransactionalProfileReport"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TransactionalProfileReport"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_report_read"
            }
        },
        "/TransactionalProfileReport/count": {
            "get": {
                "operationId": "TransactionalProfileReport_count",
                "summary": "Retorna total de registros de TransactionalProfileReport.",
                "tags": [
                    "TransactionalProfileReport"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "applicationCode",
                        "in": "query",
                        "description": "Filtra registros por applicationCode",
                        "type": "string"
                    },
                    {
                        "name": "applicationName",
                        "in": "query",
                        "description": "Filtra registros por applicationName",
                        "type": "string"
                    },
                    {
                        "name": "applicationAutomatic",
                        "in": "query",
                        "description": "Filtra registros por applicationAutomatic",
                        "type": "integer"
                    },
                    {
                        "name": "transactionalProfileCode",
                        "in": "query",
                        "description": "Filtra registros por transactionalProfileCode",
                        "type": "string"
                    },
                    {
                        "name": "transactionalProfileName",
                        "in": "query",
                        "description": "Filtra registros por transactionalProfileName",
                        "type": "string"
                    },
                    {
                        "name": "riskLevel",
                        "in": "query",
                        "description": "Filtra registros por riskLevel",
                        "type": "string"
                    },
                    {
                        "name": "comments",
                        "in": "query",
                        "description": "Filtra registros por comments",
                        "type": "string"
                    },
                    {
                        "name": "fieldName",
                        "in": "query",
                        "description": "Filtra registros por fieldName",
                        "type": "string"
                    },
                    {
                        "name": "fieldValue",
                        "in": "query",
                        "description": "Filtra registros por fieldValue",
                        "type": "string"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CountResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_report_read"
            }
        },
        "/TransactionalProfileReport/max/{campo}": {
            "get": {
                "operationId": "TransactionalProfileReport_max",
                "summary": "Retorna el valor máximo de campo de los registros de TransactionalProfileReport.",
                "tags": [
                    "TransactionalProfileReport"
                ],
                "parameters": [
                    {
                        "name": "campo",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "applicationCode",
                        "in": "query",
                        "description": "Filtra registros por applicationCode",
                        "type": "string"
                    },
                    {
                        "name": "applicationName",
                        "in": "query",
                        "description": "Filtra registros por applicationName",
                        "type": "string"
                    },
                    {
                        "name": "applicationAutomatic",
                        "in": "query",
                        "description": "Filtra registros por applicationAutomatic",
                        "type": "integer"
                    },
                    {
                        "name": "transactionalProfileCode",
                        "in": "query",
                        "description": "Filtra registros por transactionalProfileCode",
                        "type": "string"
                    },
                    {
                        "name": "transactionalProfileName",
                        "in": "query",
                        "description": "Filtra registros por transactionalProfileName",
                        "type": "string"
                    },
                    {
                        "name": "riskLevel",
                        "in": "query",
                        "description": "Filtra registros por riskLevel",
                        "type": "string"
                    },
                    {
                        "name": "comments",
                        "in": "query",
                        "description": "Filtra registros por comments",
                        "type": "string"
                    },
                    {
                        "name": "fieldName",
                        "in": "query",
                        "description": "Filtra registros por fieldName",
                        "type": "string"
                    },
                    {
                        "name": "fieldValue",
                        "in": "query",
                        "description": "Filtra registros por fieldValue",
                        "type": "string"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MaxResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_report_read"
            }
        },
        "/TransactionalProfileReport/sum/{campo}": {
            "get": {
                "operationId": "TransactionalProfileReport_sum",
                "summary": "Retorna la suma de un campo de los registros de TransactionalProfileReport.",
                "tags": [
                    "TransactionalProfileReport"
                ],
                "parameters": [
                    {
                        "name": "campo",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "applicationCode",
                        "in": "query",
                        "description": "Filtra registros por applicationCode",
                        "type": "string"
                    },
                    {
                        "name": "applicationName",
                        "in": "query",
                        "description": "Filtra registros por applicationName",
                        "type": "string"
                    },
                    {
                        "name": "applicationAutomatic",
                        "in": "query",
                        "description": "Filtra registros por applicationAutomatic",
                        "type": "integer"
                    },
                    {
                        "name": "transactionalProfileCode",
                        "in": "query",
                        "description": "Filtra registros por transactionalProfileCode",
                        "type": "string"
                    },
                    {
                        "name": "transactionalProfileName",
                        "in": "query",
                        "description": "Filtra registros por transactionalProfileName",
                        "type": "string"
                    },
                    {
                        "name": "riskLevel",
                        "in": "query",
                        "description": "Filtra registros por riskLevel",
                        "type": "string"
                    },
                    {
                        "name": "comments",
                        "in": "query",
                        "description": "Filtra registros por comments",
                        "type": "string"
                    },
                    {
                        "name": "fieldName",
                        "in": "query",
                        "description": "Filtra registros por fieldName",
                        "type": "string"
                    },
                    {
                        "name": "fieldValue",
                        "in": "query",
                        "description": "Filtra registros por fieldValue",
                        "type": "string"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SumResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_report_read"
            }
        },
        "/TransactionalProfileReport/{from}/{to}": {
            "get": {
                "operationId": "TransactionalProfileReport_listRange",
                "summary": "Lista los registros de TransactionalProfileReport por posición.",
                "tags": [
                    "TransactionalProfileReport"
                ],
                "parameters": [
                    {
                        "name": "from",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "to",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "applicationCode",
                        "in": "query",
                        "description": "Filtra registros por applicationCode",
                        "type": "string"
                    },
                    {
                        "name": "applicationName",
                        "in": "query",
                        "description": "Filtra registros por applicationName",
                        "type": "string"
                    },
                    {
                        "name": "applicationAutomatic",
                        "in": "query",
                        "description": "Filtra registros por applicationAutomatic",
                        "type": "integer"
                    },
                    {
                        "name": "transactionalProfileCode",
                        "in": "query",
                        "description": "Filtra registros por transactionalProfileCode",
                        "type": "string"
                    },
                    {
                        "name": "transactionalProfileName",
                        "in": "query",
                        "description": "Filtra registros por transactionalProfileName",
                        "type": "string"
                    },
                    {
                        "name": "riskLevel",
                        "in": "query",
                        "description": "Filtra registros por riskLevel",
                        "type": "string"
                    },
                    {
                        "name": "comments",
                        "in": "query",
                        "description": "Filtra registros por comments",
                        "type": "string"
                    },
                    {
                        "name": "fieldName",
                        "in": "query",
                        "description": "Filtra registros por fieldName",
                        "type": "string"
                    },
                    {
                        "name": "fieldValue",
                        "in": "query",
                        "description": "Filtra registros por fieldValue",
                        "type": "string"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TransactionalProfileReportResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_report_read"
            }
        },
        "/TransactionalProfileReport/{id}": {
            "get": {
                "operationId": "TransactionalProfileReport_read",
                "summary": "Retorna o respectivo registro de TransactionalProfileReport.",
                "tags": [
                    "TransactionalProfileReport"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TransactionalProfileReport"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_report_read"
            },
            "put": {
                "operationId": "TransactionalProfileReport_update",
                "summary": "Actualiza el respectivo registro de TransactionalProfileReport.",
                "tags": [
                    "TransactionalProfileReport"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Request body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TransactionalProfileReport"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_report_read"
            },
            "delete": {
                "operationId": "TransactionalProfileReport_delete",
                "summary": "Remove o respectivo registro de TransactionalProfileReport.",
                "tags": [
                    "TransactionalProfileReport"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_report_read"
            }
        },
        "/UserdataReport": {
            "get": {
                "operationId": "UserdataReport_listAll",
                "summary": "Lista todos los registros de UserdataReport.",
                "tags": [
                    "UserdataReport"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "userdataUsername",
                        "in": "query",
                        "description": "Filtra registros por userdataUsername",
                        "type": "string"
                    },
                    {
                        "name": "userdataIdentification",
                        "in": "query",
                        "description": "Filtra registros por userdataIdentification",
                        "type": "string"
                    },
                    {
                        "name": "userdataName",
                        "in": "query",
                        "description": "Filtra registros por userdataName",
                        "type": "string"
                    },
                    {
                        "name": "userdataEmployeeCode",
                        "in": "query",
                        "description": "Filtra registros por userdataEmployeeCode",
                        "type": "string"
[...]
