{
    "swagger": "2.0",
    "info": {
        "version": "v1",
        "title": "CentraID_API_common",
        "description": "API para integración de CentraID paquete common"
    },
    "host": "api.centraid.com",
    "schemes": [
        "https"
    ],
    "basePath": "/api.centraid/common",
    "paths": {
        "/Catalog": {
            "get": {
                "operationId": "Catalog_listAll",
                "summary": "Lista todos los registros de Catalog.",
                "tags": [
                    "Catalog"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Filtra registros por code",
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Filtra registros por name",
                        "type": "string"
                    },
                    {
                        "name": "predetermined",
                        "in": "query",
                        "description": "Filtra registros por predetermined",
                        "type": "integer"
                    },
                    {
                        "name": "ordinal",
                        "in": "query",
                        "description": "Filtra registros por ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "valueText",
                        "in": "query",
                        "description": "Filtra registros por valueText",
                        "type": "string"
                    },
                    {
                        "name": "valueNumber",
                        "in": "query",
                        "description": "Filtra registros por valueNumber",
                        "type": "number"
                    },
                    {
                        "name": "valueDate",
                        "in": "query",
                        "description": "Filtra registros por valueDate",
                        "type": "string"
                    },
                    {
                        "name": "valueBoolean",
                        "in": "query",
                        "description": "Filtra registros por valueBoolean",
                        "type": "integer"
                    },
                    {
                        "name": "catalogType.id",
                        "in": "query",
                        "description": "Filtra registros por catalogType.id",
                        "type": "integer"
                    },
                    {
                        "name": "catalogType.code",
                        "in": "query",
                        "description": "Filtra registros por catalogType.code",
                        "type": "string"
                    },
                    {
                        "name": "catalogType.name",
                        "in": "query",
                        "description": "Filtra registros por catalogType.name",
                        "type": "string"
                    },
                    {
                        "name": "catalogType.sortType",
                        "in": "query",
                        "description": "Filtra registros por catalogType.sortType",
                        "type": "string"
                    },
                    {
                        "name": "catalogType.editable",
                        "in": "query",
                        "description": "Filtra registros por catalogType.editable",
                        "type": "integer"
                    },
                    {
                        "name": "catalogType.valid",
                        "in": "query",
                        "description": "Filtra registros por catalogType.valid",
                        "type": "integer"
                    },
                    {
                        "name": "catalogType.description",
                        "in": "query",
                        "description": "Filtra registros por catalogType.description",
                        "type": "string"
                    },
                    {
                        "name": "catalogType.id",
                        "in": "query",
                        "description": "Filtra registros por catalogType.id",
                        "type": "integer"
                    },
                    {
                        "name": "catalogType.code",
                        "in": "query",
                        "description": "Filtra registros por catalogType.code",
                        "type": "string"
                    },
                    {
                        "name": "catalogType.name",
                        "in": "query",
                        "description": "Filtra registros por catalogType.name",
                        "type": "string"
                    },
                    {
                        "name": "catalogType.sortType",
                        "in": "query",
                        "description": "Filtra registros por catalogType.sortType",
                        "type": "string"
                    },
                    {
                        "name": "catalogType.editable",
                        "in": "query",
                        "description": "Filtra registros por catalogType.editable",
                        "type": "integer"
                    },
                    {
                        "name": "catalogType.valid",
                        "in": "query",
                        "description": "Filtra registros por catalogType.valid",
                        "type": "integer"
                    },
                    {
                        "name": "catalogType.description",
                        "in": "query",
                        "description": "Filtra registros por catalogType.description",
                        "type": "string"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CatalogResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_common_read"
            },
            "post": {
                "operationId": "Catalog_create",
                "summary": "Crea un registro de Catalog.",
                "tags": [
                    "Catalog"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Request body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Catalog"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Catalog"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_common_read"
            }
        },
        "/Catalog/count": {
            "get": {
                "operationId": "Catalog_count",
                "summary": "Retorna total de registros de Catalog.",
                "tags": [
                    "Catalog"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Filtra registros por code",
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Filtra registros por name",
                        "type": "string"
                    },
                    {
                        "name": "predetermined",
                        "in": "query",
                        "description": "Filtra registros por predetermined",
                        "type": "integer"
                    },
                    {
                        "name": "ordinal",
                        "in": "query",
                        "description": "Filtra registros por ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "valueText",
                        "in": "query",
                        "description": "Filtra registros por valueText",
                        "type": "string"
                    },
                    {
                        "name": "valueNumber",
                        "in": "query",
                        "description": "Filtra registros por valueNumber",
                        "type": "number"
                    },
                    {
                        "name": "valueDate",
                        "in": "query",
                        "description": "Filtra registros por valueDate",
                        "type": "string"
                    },
                    {
                        "name": "valueBoolean",
                        "in": "query",
                        "description": "Filtra registros por valueBoolean",
                        "type": "integer"
                    },
                    {
                        "name": "catalogType.id",
                        "in": "query",
                        "description": "Filtra registros por catalogType.id",
                        "type": "integer"
                    },
                    {
                        "name": "catalogType.code",
                        "in": "query",
                        "description": "Filtra registros por catalogType.code",
                        "type": "string"
                    },
                    {
                        "name": "catalogType.name",
                        "in": "query",
                        "description": "Filtra registros por catalogType.name",
                        "type": "string"
                    },
                    {
                        "name": "catalogType.sortType",
                        "in": "query",
                        "description": "Filtra registros por catalogType.sortType",
                        "type": "string"
                    },
                    {
                        "name": "catalogType.editable",
                        "in": "query",
                        "description": "Filtra registros por catalogType.editable",
                        "type": "integer"
                    },
                    {
                        "name": "catalogType.valid",
                        "in": "query",
                        "description": "Filtra registros por catalogType.valid",
                        "type": "integer"
                    },
                    {
                        "name": "catalogType.description",
                        "in": "query",
                        "description": "Filtra registros por catalogType.description",
                        "type": "string"
                    },
                    {
                        "name": "catalogType.id",
                        "in": "query",
                        "description": "Filtra registros por catalogType.id",
                        "type": "integer"
                    },
                    {
                        "name": "catalogType.code",
                        "in": "query",
                        "description": "Filtra registros por catalogType.code",
                        "type": "string"
                    },
                    {
                        "name": "catalogType.name",
                        "in": "query",
                        "description": "Filtra registros por catalogType.name",
                        "type": "string"
                    },
                    {
                        "name": "catalogType.sortType",
                        "in": "query",
                        "description": "Filtra registros por catalogType.sortType",
                        "type": "string"
                    },
                    {
                        "name": "catalogType.editable",
                        "in": "query",
                        "description": "Filtra registros por catalogType.editable",
                        "type": "integer"
                    },
                    {
                        "name": "catalogType.valid",
                        "in": "query",
                        "description": "Filtra registros por catalogType.valid",
                        "type": "integer"
                    },
                    {
                        "name": "catalogType.description",
                        "in": "query",
                        "description": "Filtra registros por catalogType.description",
                        "type": "string"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CountResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_common_read"
            }
        },
        "/Catalog/max/{campo}": {
            "get": {
                "operationId": "Catalog_max",
                "summary": "Retorna el valor máximo de campo de los registros de Catalog.",
                "tags": [
                    "Catalog"
                ],
                "parameters": [
                    {
                        "name": "campo",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Filtra registros por code",
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Filtra registros por name",
                        "type": "string"
                    },
                    {
                        "name": "predetermined",
                        "in": "query",
                        "description": "Filtra registros por predetermined",
                        "type": "integer"
                    },
                    {
                        "name": "ordinal",
                        "in": "query",
                        "description": "Filtra registros por ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "valueText",
                        "in": "query",
                        "description": "Filtra registros por valueText",
                        "type": "string"
                    },
                    {
                        "name": "valueNumber",
                        "in": "query",
                        "description": "Filtra registros por valueNumber",
                        "type": "number"
                    },
                    {
                        "name": "valueDate",
                        "in": "query",
                        "description": "Filtra registros por valueDate",
                        "type": "string"
                    },
                    {
                        "name": "valueBoolean",
                        "in": "query",
                        "description": "Filtra registros por valueBoolean",
                        "type": "integer"
                    },
                    {
                        "name": "catalogType.id",
                        "in": "query",
                        "description": "Filtra registros por catalogType.id",
                        "type": "integer"
                    },
                    {
                        "name": "catalogType.code",
                        "in": "query",
                        "description": "Filtra registros por catalogType.code",
                        "type": "string"
                    },
                    {
                        "name": "catalogType.name",
                        "in": "query",
                        "description": "Filtra registros por catalogType.name",
                        "type": "string"
                    },
                    {
                        "name": "catalogType.sortType",
                        "in": "query",
                        "description": "Filtra registros por catalogType.sortType",
                        "type": "string"
                    },
                    {
                        "name": "catalogType.editable",
                        "in": "query",
                        "description": "Filtra registros por catalogType.editable",
                        "type": "integer"
                    },
                    {
                        "name": "catalogType.valid",
                        "in": "query",
                        "description": "Filtra registros por catalogType.valid",
                        "type": "integer"
                    },
                    {
                        "name": "catalogType.description",
                        "in": "query",
                        "description": "Filtra registros por catalogType.description",
                        "type": "string"
                    },
                    {
                        "name": "catalogType.id",
                        "in": "query",
                        "description": "Filtra registros por catalogType.id",
                        "type": "integer"
                    },
                    {
                        "name": "catalogType.code",
                        "in": "query",
                        "description": "Filtra registros por catalogType.code",
                        "type": "string"
                    },
                    {
                        "name": "catalogType.name",
                        "in": "query",
                        "description": "Filtra registros por catalogType.name",
                        "type": "string"
                    },
                    {
                        "name": "catalogType.sortType",
                        "in": "query",
                        "description": "Filtra registros por catalogType.sortType",
                        "type": "string"
                    },
                    {
                        "name": "catalogType.editable",
                        "in": "query",
                        "description": "Filtra registros por catalogType.editable",
                        "type": "integer"
                    },
                    {
                        "name": "catalogType.valid",
                        "in": "query",
                        "description": "Filtra registros por catalogType.valid",
                        "type": "integer"
                    },
                    {
                        "name": "catalogType.description",
                        "in": "query",
                        "description": "Filtra registros por catalogType.description",
                        "type": "string"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MaxResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_common_read"
            }
        },
        "/Catalog/sum/{campo}": {
            "get": {
                "operationId": "Catalog_sum",
                "summary": "Retorna la suma de un campo de los registros de Catalog.",
                "tags": [
                    "Catalog"
                ],
                "parameters": [
                    {
                        "name": "campo",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Filtra registros por code",
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Filtra registros por name",
                        "type": "string"
                    },
                    {
                        "name": "predetermined",
                        "in": "query",
                        "description": "Filtra registros por predetermined",
                        "type": "integer"
                    },
                    {
                        "name": "ordinal",
                        "in": "query",
                        "description": "Filtra registros por ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "valueText",
                        "in": "query",
                        "description": "Filtra registros por valueText",
                        "type": "string"
                    },
                    {
                        "name": "valueNumber",
                        "in": "query",
                        "description": "Filtra registros por valueNumber",
                        "type": "number"
                    },
                    {
                        "name": "valueDate",
                        "in": "query",
                        "description": "Filtra registros por valueDate",
                        "type": "string"
                    },
                    {
                        "name": "valueBoolean",
                        "in": "query",
                        "description": "Filtra registros por valueBoolean",
                        "type": "integer"
                    },
                    {
                        "name": "catalogType.id",
                        "in": "query",
                        "description": "Filtra registros por catalogType.id",
                        "type": "integer"
                    },
                    {
                        "name": "catalogType.code",
                        "in": "query",
                        "description": "Filtra registros por catalogType.code",
                        "type": "string"
                    },
                    {
                        "name": "catalogType.name",
                        "in": "query",
                        "description": "Filtra registros por catalogType.name",
                        "type": "string"
                    },
                    {
                        "name": "catalogType.sortType",
                        "in": "query",
                        "description": "Filtra registros por catalogType.sortType",
                        "type": "string"
                    },
                    {
                        "name": "catalogType.editable",
                        "in": "query",
                        "description": "Filtra registros por catalogType.editable",
                        "type": "integer"
                    },
                    {
                        "name": "catalogType.valid",
                        "in": "query",
                        "description": "Filtra registros por catalogType.valid",
                        "type": "integer"
                    },
                    {
                        "name": "catalogType.description",
                        "in": "query",
                        "description": "Filtra registros por catalogType.description",
                        "type": "string"
                    },
                    {
                        "name": "catalogType.id",
                        "in": "query",
                        "description": "Filtra registros por catalogType.id",
                        "type": "integer"
                    },
                    {
                        "name": "catalogType.code",
                        "in": "query",
                        "description": "Filtra registros por catalogType.code",
                        "type": "string"
                    },
                    {
                        "name": "catalogType.name",
                        "in": "query",
                        "description": "Filtra registros por catalogType.name",
                        "type": "string"
                    },
                    {
                        "name": "catalogType.sortType",
                        "in": "query",
                        "description": "Filtra registros por catalogType.sortType",
                        "type": "string"
                    },
                    {
                        "name": "catalogType.editable",
                        "in": "query",
                        "description": "Filtra registros por catalogType.editable",
                        "type": "integer"
                    },
                    {
                        "name": "catalogType.valid",
                        "in": "query",
                        "description": "Filtra registros por catalogType.valid",
                        "type": "integer"
                    },
                    {
                        "name": "catalogType.description",
                        "in": "query",
                        "description": "Filtra registros por catalogType.description",
                        "type": "string"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SumResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_common_read"
            }
        },
        "/Catalog/{from}/{to}": {
            "get": {
                "operationId": "Catalog_listRange",
                "summary": "Lista los registros de Catalog por posición.",
                "tags": [
                    "Catalog"
                ],
                "parameters": [
                    {
                        "name": "from",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "to",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Filtra registros por code",
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Filtra registros por name",
                        "type": "string"
                    },
                    {
                        "name": "predetermined",
                        "in": "query",
                        "description": "Filtra registros por predetermined",
                        "type": "integer"
                    },
                    {
                        "name": "ordinal",
                        "in": "query",
                        "description": "Filtra registros por ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "valueText",
                        "in": "query",
                        "description": "Filtra registros por valueText",
                        "type": "string"
                    },
                    {
                        "name": "valueNumber",
                        "in": "query",
                        "description": "Filtra registros por valueNumber",
                        "type": "number"
                    },
                    {
                        "name": "valueDate",
                        "in": "query",
                        "description": "Filtra registros por valueDate",
                        "type": "string"
                    },
                    {
                        "name": "valueBoolean",
                        "in": "query",
                        "description": "Filtra registros por valueBoolean",
                        "type": "integer"
                    },
                    {
                        "name": "catalogType.id",
                        "in": "query",
                        "description": "Filtra registros por catalogType.id",
                        "type": "integer"
                    },
                    {
                        "name": "catalogType.code",
                        "in": "query",
                        "description": "Filtra registros por catalogType.code",
                        "type": "string"
                    },
                    {
                        "name": "catalogType.name",
                        "in": "query",
                        "description": "Filtra registros por catalogType.name",
                        "type": "string"
                    },
                    {
                        "name": "catalogType.sortType",
                        "in": "query",
                        "description": "Filtra registros por catalogType.sortType",
                        "type": "string"
                    },
                    {
                        "name": "catalogType.editable",
                        "in": "query",
                        "description": "Filtra registros por catalogType.editable",
                        "type": "integer"
                    },
                    {
                        "name": "catalogType.valid",
                        "in": "query",
                        "description": "Filtra registros por catalogType.valid",
                        "type": "integer"
                    },
                    {
                        "name": "catalogType.description",
                        "in": "query",
                        "description": "Filtra registros por catalogType.description",
                        "type": "string"
                    },
                    {
                        "name": "catalogType.id",
                        "in": "query",
                        "description": "Filtra registros por catalogType.id",
                        "type": "integer"
                    },
                    {
                        "name": "catalogType.code",
                        "in": "query",
                        "description": "Filtra registros por catalogType.code",
                        "type": "string"
                    },
                    {
                        "name": "catalogType.name",
                        "in": "query",
                        "description": "Filtra registros por catalogType.name",
                        "type": "string"
                    },
                    {
                        "name": "catalogType.sortType",
                        "in": "query",
                        "description": "Filtra registros por catalogType.sortType",
                        "type": "string"
                    },
                    {
                        "name": "catalogType.editable",
                        "in": "query",
                        "description": "Filtra registros por catalogType.editable",
                        "type": "integer"
                    },
                    {
                        "name": "catalogType.valid",
                        "in": "query",
                        "description": "Filtra registros por catalogType.valid",
                        "type": "integer"
                    },
                    {
                        "name": "catalogType.description",
                        "in": "query",
                        "description": "Filtra registros por catalogType.description",
                        "type": "string"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CatalogResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_common_read"
            }
        },
        "/Catalog/{id}": {
            "get": {
                "operationId": "Catalog_read",
                "summary": "Retorna o respectivo registro de Catalog.",
                "tags": [
                    "Catalog"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Catalog"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_common_read"
            },
            "put": {
                "operationId": "Catalog_update",
                "summary": "Actualiza el respectivo registro de Catalog.",
                "tags": [
                    "Catalog"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Request body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Catalog"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_common_read"
            },
            "delete": {
                "operationId": "Catalog_delete",
                "summary": "Remove o respectivo registro de Catalog.",
                "tags": [
                    "Catalog"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_common_read"
            }
        },
        "/Catalog/distinct/catalogType": {
            "get": {
                "operationId": "Catalog_catalogType_distinct",
                "summary": "List all records of Catalog referenced by field catalogType.",
                "tags": [
                    "Catalog"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Filtra registros por code",
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Filtra registros por name",
                        "type": "string"
                    },
                    {
                        "name": "predetermined",
                        "in": "query",
                        "description": "Filtra registros por predetermined",
                        "type": "integer"
                    },
                    {
                        "name": "ordinal",
                        "in": "query",
                        "description": "Filtra registros por ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "valueText",
                        "in": "query",
                        "description": "Filtra registros por valueText",
                        "type": "string"
                    },
                    {
                        "name": "valueNumber",
                        "in": "query",
                        "description": "Filtra registros por valueNumber",
                        "type": "number"
                    },
                    {
                        "name": "valueDate",
                        "in": "query",
                        "description": "Filtra registros por valueDate",
                        "type": "string"
                    },
                    {
                        "name": "valueBoolean",
                        "in": "query",
                        "description": "Filtra registros por valueBoolean",
                        "type": "integer"
                    },
                    {
                        "name": "catalogType.id",
                        "in": "query",
                        "description": "Filtra registros por catalogType.id",
                        "type": "integer"
                    },
                    {
                        "name": "catalogType.code",
                        "in": "query",
                        "description": "Filtra registros por catalogType.code",
                        "type": "string"
                    },
                    {
                        "name": "catalogType.name",
                        "in": "query",
                        "description": "Filtra registros por catalogType.name",
                        "type": "string"
                    },
                    {
                        "name": "catalogType.sortType",
                        "in": "query",
                        "description": "Filtra registros por catalogType.sortType",
                        "type": "string"
                    },
                    {
                        "name": "catalogType.editable",
                        "in": "query",
                        "description": "Filtra registros por catalogType.editable",
                        "type": "integer"
                    },
                    {
                        "name": "catalogType.valid",
                        "in": "query",
                        "description": "Filtra registros por catalogType.valid",
                        "type": "integer"
                    },
                    {
                        "name": "catalogType.description",
                        "in": "query",
                        "description": "Filtra registros por catalogType.description",
                        "type": "string"
                    },
                    {
                        "name": "catalogType.id",
                        "in": "query",
                        "description": "Filtra registros por catalogType.id",
                        "type": "integer"
                    },
                    {
                        "name": "catalogType.code",
                        "in": "query",
                        "description": "Filtra registros por catalogType.code",
                        "type": "string"
                    },
                    {
                        "name": "catalogType.name",
                        "in": "query",
                        "description": "Filtra registros por catalogType.name",
                        "type": "string"
                    },
                    {
                        "name": "catalogType.sortType",
                        "in": "query",
                        "description": "Filtra registros por catalogType.sortType",
                        "type": "string"
                    },
                    {
                        "name": "catalogType.editable",
                        "in": "query",
                        "description": "Filtra registros por catalogType.editable",
                        "type": "integer"
                    },
                    {
                        "name": "catalogType.valid",
                        "in": "query",
                        "description": "Filtra registros por catalogType.valid",
                        "type": "integer"
                    },
                    {
                        "name": "catalogType.description",
                        "in": "query",
                        "description": "Filtra registros por catalogType.description",
                        "type": "string"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CatalogTypeResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_common_read"
            }
        },
        "/Catalog/distinct/catalogType/count": {
            "get": {
                "operationId": "Catalog_catalogType_distinctCount",
                "summary": "Retorna a contagem dos registros de Catalog referenciados pelo campo catalogType.",
                "tags": [
                    "Catalog"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Filtra registros por code",
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Filtra registros por name",
                        "type": "string"
                    },
                    {
                        "name": "predetermined",
                        "in": "query",
                        "description": "Filtra registros por predetermined",
                        "type": "integer"
                    },
                    {
                        "name": "ordinal",
                        "in": "query",
                        "description": "Filtra registros por ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "valueText",
                        "in": "query",
                        "description": "Filtra registros por valueText",
                        "type": "string"
                    },
                    {
                        "name": "valueNumber",
                        "in": "query",
                        "description": "Filtra registros por valueNumber",
                        "type": "number"
                    },
                    {
                        "name": "valueDate",
                        "in": "query",
                        "description": "Filtra registros por valueDate",
                        "type": "string"
                    },
                    {
                        "name": "valueBoolean",
                        "in": "query",
                        "description": "Filtra registros por valueBoolean",
                        "type": "integer"
                    },
                    {
                        "name": "catalogType.id",
                        "in": "query",
                        "description": "Filtra registros por catalogType.id",
                        "type": "integer"
                    },
                    {
                        "name": "catalogType.code",
                        "in": "query",
                        "description": "Filtra registros por catalogType.code",
                        "type": "string"
                    },
                    {
                        "name": "catalogType.name",
                        "in": "query",
                        "description": "Filtra registros por catalogType.name",
                        "type": "string"
                    },
                    {
                        "name": "catalogType.sortType",
                        "in": "query",
                        "description": "Filtra registros por catalogType.sortType",
                        "type": "string"
                    },
                    {
                        "name": "catalogType.editable",
                        "in": "query",
                        "description": "Filtra registros por catalogType.editable",
                        "type": "integer"
                    },
                    {
                        "name": "catalogType.valid",
                        "in": "query",
                        "description": "Filtra registros por catalogType.valid",
                        "type": "integer"
                    },
                    {
                        "name": "catalogType.description",
                        "in": "query",
                        "description": "Filtra registros por catalogType.description",
                        "type": "string"
                    },
                    {
                        "name": "catalogType.id",
                        "in": "query",
                        "description": "Filtra registros por catalogType.id",
                        "type": "integer"
                    },
                    {
                        "name": "catalogType.code",
                        "in": "query",
                        "description": "Filtra registros por catalogType.code",
                        "type": "string"
                    },
                    {
                        "name": "catalogType.name",
                        "in": "query",
                        "description": "Filtra registros por catalogType.name",
                        "type": "string"
                    },
                    {
                        "name": "catalogType.sortType",
                        "in": "query",
                        "description": "Filtra registros por catalogType.sortType",
                        "type": "string"
                    },
                    {
                        "name": "catalogType.editable",
                        "in": "query",
                        "description": "Filtra registros por catalogType.editable",
                        "type": "integer"
                    },
                    {
                        "name": "catalogType.valid",
                        "in": "query",
                        "description": "Filtra registros por catalogType.valid",
                        "type": "integer"
                    },
                    {
                        "name": "catalogType.description",
                        "in": "query",
                        "description": "Filtra registros por catalogType.description",
                        "type": "string"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CountResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_common_read"
            }
        },
        "/CatalogType": {
            "get": {
                "operationId": "CatalogType_listAll",
                "summary": "Lista todos los registros de CatalogType.",
                "tags": [
                    "CatalogType"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Filtra registros por code",
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Filtra registros por name",
                        "type": "string"
                    },
                    {
                        "name": "sortType",
                        "in": "query",
                        "description": "Filtra registros por sortType",
                        "type": "string"
                    },
                    {
                        "name": "editable",
                        "in": "query",
                        "description": "Filtra registros por editable",
                        "type": "integer"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "Filtra registros por description",
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Filtra registros por code",
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Filtra registros por name",
                        "type": "string"
                    },
                    {
                        "name": "sortType",
                        "in": "query",
                        "description": "Filtra registros por sortType",
                        "type": "string"
                    },
                    {
                        "name": "editable",
                        "in": "query",
                        "description": "Filtra registros por editable",
                        "type": "integer"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "Filtra registros por description",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CatalogTypeResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_common_read"
            },
            "post": {
                "operationId": "CatalogType_create",
                "summary": "Crea un registro de CatalogType.",
                "tags": [
                    "CatalogType"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Request body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CatalogType"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CatalogType"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_common_read"
            }
        },
        "/CatalogType/count": {
            "get": {
                "operationId": "CatalogType_count",
                "summary": "Retorna total de registros de CatalogType.",
                "tags": [
                    "CatalogType"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Filtra registros por code",
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Filtra registros por name",
                        "type": "string"
                    },
                    {
                        "name": "sortType",
                        "in": "query",
                        "description": "Filtra registros por sortType",
                        "type": "string"
                    },
                    {
                        "name": "editable",
                        "in": "query",
                        "description": "Filtra registros por editable",
                        "type": "integer"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "Filtra registros por description",
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Filtra registros por code",
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Filtra registros por name",
                        "type": "string"
                    },
                    {
                        "name": "sortType",
                        "in": "query",
                        "description": "Filtra registros por sortType",
                        "type": "string"
                    },
                    {
                        "name": "editable",
                        "in": "query",
                        "description": "Filtra registros por editable",
                        "type": "integer"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "Filtra registros por description",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CountResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_common_read"
            }
        },
        "/CatalogType/max/{campo}": {
            "get": {
                "operationId": "CatalogType_max",
                "summary": "Retorna el valor máximo de campo de los registros de CatalogType.",
                "tags": [
                    "CatalogType"
                ],
                "parameters": [
                    {
                        "name": "campo",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Filtra registros por code",
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Filtra registros por name",
                        "type": "string"
                    },
                    {
                        "name": "sortType",
                        "in": "query",
                        "description": "Filtra registros por sortType",
                        "type": "string"
                    },
                    {
                        "name": "editable",
                        "in": "query",
                        "description": "Filtra registros por editable",
                        "type": "integer"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "Filtra registros por description",
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Filtra registros por code",
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Filtra registros por name",
                        "type": "string"
                    },
                    {
                        "name": "sortType",
                        "in": "query",
                        "description": "Filtra registros por sortType",
                        "type": "string"
                    },
                    {
                        "name": "editable",
                        "in": "query",
                        "description": "Filtra registros por editable",
                        "type": "integer"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "Filtra registros por description",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MaxResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_common_read"
            }
        },
        "/CatalogType/sum/{campo}": {
            "get": {
                "operationId": "CatalogType_sum",
                "summary": "Retorna la suma de un campo de los registros de CatalogType.",
                "tags": [
                    "CatalogType"
                ],
                "parameters": [
                    {
                        "name": "campo",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Filtra registros por code",
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Filtra registros por name",
                        "type": "string"
                    },
                    {
                        "name": "sortType",
                        "in": "query",
                        "description": "Filtra registros por sortType",
                        "type": "string"
                    },
                    {
                        "name": "editable",
                        "in": "query",
                        "description": "Filtra registros por editable",
                        "type": "integer"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "Filtra registros por description",
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Filtra registros por code",
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Filtra registros por name",
                        "type": "string"
                    },
                    {
                        "name": "sortType",
                        "in": "query",
                        "description": "Filtra registros por sortType",
                        "type": "string"
                    },
                    {
                        "name": "editable",
                        "in": "query",
                        "description": "Filtra registros por editable",
                        "type": "integer"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "Filtra registros por description",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SumResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_common_read"
            }
        },
        "/CatalogType/{from}/{to}": {
            "get": {
                "operationId": "CatalogType_listRange",
                "summary": "Lista los registros de CatalogType por posición.",
                "tags": [
                    "CatalogType"
                ],
                "parameters": [
                    {
                        "name": "from",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "to",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Filtra registros por code",
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Filtra registros por name",
                        "type": "string"
                    },
                    {
                        "name": "sortType",
                        "in": "query",
                        "description": "Filtra registros por sortType",
                        "type": "string"
                    },
                    {
                        "name": "editable",
                        "in": "query",
                        "description": "Filtra registros por editable",
                        "type": "integer"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "Filtra registros por description",
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Filtra registros por code",
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Filtra registros por name",
                        "type": "string"
                    },
                    {
                        "name": "sortType",
                        "in": "query",
                        "description": "Filtra registros por sortType",
                        "type": "string"
                    },
                    {
                        "name": "editable",
                        "in": "query",
                        "description": "Filtra registros por editable",
                        "type": "integer"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "Filtra registros por description",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CatalogTypeResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_common_read"
            }
        },
        "/CatalogType/{id}": {
            "get": {
                "operationId": "CatalogType_read",
                "summary": "Retorna o respectivo registro de CatalogType.",
                "tags": [
                    "CatalogType"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CatalogType"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_common_read"
            },
            "put": {
                "operationId": "CatalogType_update",
                "summary": "Actualiza el respectivo registro de CatalogType.",
                "tags": [
                    "CatalogType"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Request body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CatalogType"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_common_read"
            },
            "delete": {
                "operationId": "CatalogType_delete",
                "summary": "Remove o respectivo registro de CatalogType.",
                "tags": [
                    "CatalogType"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_common_read"
            }
        },
        "/GlobalParameter": {
            "get": {
                "operationId": "GlobalParameter_listAll",
                "summary": "Lista todos los registros de GlobalParameter.",
                "tags": [
                    "GlobalParameter"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Filtra registros por code",
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Filtra registros por name",
                        "type": "string"
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "Filtra registros por description",
                        "type": "string"
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Filtra registros por type",
                        "type": "string"
                    },
                    {
                        "name": "valueText",
                        "in": "query",
                        "description": "Filtra registros por valueText",
                        "type": "string"
                    },
                    {
                        "name": "valueNumber",
                        "in": "query",
                        "description": "Filtra registros por valueNumber",
                        "type": "number"
                    },
                    {
                        "name": "valueDate",
                        "in": "query",
                        "description": "Filtra registros por valueDate",
                        "type": "string"
                    },
                    {
                        "name": "valueBoolean",
                        "in": "query",
                        "description": "Filtra registros por valueBoolean",
                        "type": "boolean"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/GlobalParameterResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_common_read"
            },
            "post": {
                "operationId": "GlobalParameter_create",
                "summary": "Crea un registro de GlobalParameter.",
                "tags": [
                    "GlobalParameter"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Request body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GlobalParameter"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/GlobalParameter"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_common_read"
            }
        },
        "/GlobalParameter/count": {
            "get": {
                "operationId": "GlobalParameter_count",
                "summary": "Retorna total de registros de GlobalParameter.",
                "tags": [
                    "GlobalParameter"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Filtra registros por code",
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Filtra registros por name",
                        "type": "string"
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "Filtra registros por description",
                        "type": "string"
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Filtra registros por type",
                        "type": "string"
                    },
                    {
                        "name": "valueText",
                        "in": "query",
                        "description": "Filtra registros por valueText",
                        "type": "string"
                    },
                    {
                        "name": "valueNumber",
                        "in": "query",
                        "description": "Filtra registros por valueNumber",
                        "type": "number"
                    },
                    {
                        "name": "valueDate",
                        "in": "query",
                        "description": "Filtra registros por valueDate",
                        "type": "string"
                    },
                    {
                        "name": "valueBoolean",
                        "in": "query",
                        "description": "Filtra registros por valueBoolean",
                        "type": "boolean"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CountResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_common_read"
            }
        },
        "/GlobalParameter/max/{campo}": {
            "get": {
                "operationId": "GlobalParameter_max",
                "summary": "Retorna el valor máximo de campo de los registros de GlobalParameter.",
                "tags": [
                    "GlobalParameter"
                ],
                "parameters": [
                    {
                        "name": "campo",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Filtra registros por code",
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Filtra registros por name",
                        "type": "string"
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "Filtra registros por description",
                        "type": "string"
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Filtra registros por type",
                        "type": "string"
                    },
                    {
                        "name": "valueText",
                        "in": "query",
                        "description": "Filtra registros por valueText",
                        "type": "string"
                    },
                    {
                        "name": "valueNumber",
                        "in": "query",
                        "description": "Filtra registros por valueNumber",
                        "type": "number"
                    },
                    {
                        "name": "valueDate",
                        "in": "query",
                        "description": "Filtra registros por valueDate",
                        "type": "string"
                    },
                    {
                        "name": "valueBoolean",
                        "in": "query",
                        "description": "Filtra registros por valueBoolean",
                        "type": "boolean"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MaxResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_common_read"
            }
        },
        "/GlobalParameter/sum/{campo}": {
            "get": {
                "operationId": "GlobalParameter_sum",
                "summary": "Retorna la suma de un campo de los registros de GlobalParameter.",
                "tags": [
                    "GlobalParameter"
                ],
                "parameters": [
                    {
                        "name": "campo",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Filtra registros por code",
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Filtra registros por name",
                        "type": "string"
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "Filtra registros por description",
                        "type": "string"
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Filtra registros por type",
                        "type": "string"
                    },
                    {
                        "name": "valueText",
                        "in": "query",
                        "description": "Filtra registros por valueText",
                        "type": "string"
                    },
                    {
                        "name": "valueNumber",
                        "in": "query",
                        "description": "Filtra registros por valueNumber",
                        "type": "number"
                    },
                    {
                        "name": "valueDate",
                        "in": "query",
                        "description": "Filtra registros por valueDate",
                        "type": "string"
                    },
                    {
                        "name": "valueBoolean",
                        "in": "query",
                        "description": "Filtra registros por valueBoolean",
                        "type": "boolean"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SumResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_common_read"
            }
        },
        "/GlobalParameter/{from}/{to}": {
            "get": {
                "operationId": "GlobalParameter_listRange",
                "summary": "Lista los registros de GlobalParameter por posición.",
                "tags": [
                    "GlobalParameter"
                ],
                "parameters": [
                    {
                        "name": "from",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "to",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Filtra registros por code",
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Filtra registros por name",
                        "type": "string"
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "Filtra registros por description",
                        "type": "string"
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Filtra registros por type",
                        "type": "string"
                    },
                    {
                        "name": "valueText",
                        "in": "query",
                        "description": "Filtra registros por valueText",
                        "type": "string"
                    },
                    {
                        "name": "valueNumber",
                        "in": "query",
                        "description": "Filtra registros por valueNumber",
                        "type": "number"
                    },
                    {
                        "name": "valueDate",
                        "in": "query",
                        "description": "Filtra registros por valueDate",
                        "type": "string"
                    },
                    {
                        "name": "valueBoolean",
                        "in": "query",
                        "description": "Filtra registros por valueBoolean",
                        "type": "boolean"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/GlobalParameterResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_common_read"
            }
        },
        "/GlobalParameter/{id}": {
            "get": {
                "operationId": "GlobalParameter_read",
                "summary": "Retorna o respectivo registro de GlobalParameter.",
                "tags": [
                    "GlobalParameter"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/GlobalParameter"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_common_read"
            },
            "put": {
                "operationId": "GlobalParameter_update",
                "summary": "Actualiza el respectivo registro de GlobalParameter.",
                "tags": [
                    "GlobalParameter"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "body",
                        "name": "body",
[...]
