{
    "swagger": "2.0",
    "info": {
        "version": "v1",
        "title": "CentraID_API_company",
        "description": "API para integración de CentraID paquete company"
    },
    "host": "api.centraid.com",
    "schemes": [
        "https"
    ],
    "basePath": "/api.centraid/company",
    "paths": {
        "/Company": {
            "get": {
                "operationId": "Company_listAll",
                "summary": "Lista todos los registros de Company.",
                "tags": [
                    "Company"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Filtra registros por code",
                        "type": "string"
                    },
                    {
                        "name": "identifier",
                        "in": "query",
                        "description": "Filtra registros por identifier",
                        "type": "string"
                    },
                    {
                        "name": "businessName",
                        "in": "query",
                        "description": "Filtra registros por businessName",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.id",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.id",
                        "type": "integer"
                    },
                    {
                        "name": "catalogCompanyType.code",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.code",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.name",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.name",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.predetermined",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.predetermined",
                        "type": "integer"
                    },
                    {
                        "name": "catalogCompanyType.ordinal",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "catalogCompanyType.valueText",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.valueText",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.valueNumber",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.valueNumber",
                        "type": "number"
                    },
                    {
                        "name": "catalogCompanyType.valueDate",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.valueDate",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.valueBoolean",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.valueBoolean",
                        "type": "integer"
                    },
                    {
                        "name": "catalogCompanyType.catalogType.id",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.catalogType.id",
                        "type": "integer"
                    },
                    {
                        "name": "catalogCompanyType.catalogType.code",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.catalogType.code",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.catalogType.name",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.catalogType.name",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.catalogType.sortType",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.catalogType.sortType",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.catalogType.editable",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.catalogType.editable",
                        "type": "integer"
                    },
                    {
                        "name": "catalogCompanyType.catalogType.valid",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.catalogType.valid",
                        "type": "integer"
                    },
                    {
                        "name": "catalogCompanyType.catalogType.description",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.catalogType.description",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.valid",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.valid",
                        "type": "integer"
                    },
                    {
                        "name": "domainName",
                        "in": "query",
                        "description": "Filtra registros por domainName",
                        "type": "string"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CompanyResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_company_read"
            },
            "post": {
                "operationId": "Company_create",
                "summary": "Crea un registro de Company.",
                "tags": [
                    "Company"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Request body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Company"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Company"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_company_create"
            }
        },
        "/Company/count": {
            "get": {
                "operationId": "Company_count",
                "summary": "Retorna total de registros de Company.",
                "tags": [
                    "Company"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Filtra registros por code",
                        "type": "string"
                    },
                    {
                        "name": "identifier",
                        "in": "query",
                        "description": "Filtra registros por identifier",
                        "type": "string"
                    },
                    {
                        "name": "businessName",
                        "in": "query",
                        "description": "Filtra registros por businessName",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.id",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.id",
                        "type": "integer"
                    },
                    {
                        "name": "catalogCompanyType.code",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.code",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.name",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.name",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.predetermined",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.predetermined",
                        "type": "integer"
                    },
                    {
                        "name": "catalogCompanyType.ordinal",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "catalogCompanyType.valueText",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.valueText",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.valueNumber",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.valueNumber",
                        "type": "number"
                    },
                    {
                        "name": "catalogCompanyType.valueDate",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.valueDate",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.valueBoolean",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.valueBoolean",
                        "type": "integer"
                    },
                    {
                        "name": "catalogCompanyType.catalogType.id",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.catalogType.id",
                        "type": "integer"
                    },
                    {
                        "name": "catalogCompanyType.catalogType.code",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.catalogType.code",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.catalogType.name",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.catalogType.name",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.catalogType.sortType",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.catalogType.sortType",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.catalogType.editable",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.catalogType.editable",
                        "type": "integer"
                    },
                    {
                        "name": "catalogCompanyType.catalogType.valid",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.catalogType.valid",
                        "type": "integer"
                    },
                    {
                        "name": "catalogCompanyType.catalogType.description",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.catalogType.description",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.valid",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.valid",
                        "type": "integer"
                    },
                    {
                        "name": "domainName",
                        "in": "query",
                        "description": "Filtra registros por domainName",
                        "type": "string"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CountResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_company_read"
            }
        },
        "/Company/max/{campo}": {
            "get": {
                "operationId": "Company_max",
                "summary": "Retorna el valor máximo de campo de los registros de Company.",
                "tags": [
                    "Company"
                ],
                "parameters": [
                    {
                        "name": "campo",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Filtra registros por code",
                        "type": "string"
                    },
                    {
                        "name": "identifier",
                        "in": "query",
                        "description": "Filtra registros por identifier",
                        "type": "string"
                    },
                    {
                        "name": "businessName",
                        "in": "query",
                        "description": "Filtra registros por businessName",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.id",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.id",
                        "type": "integer"
                    },
                    {
                        "name": "catalogCompanyType.code",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.code",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.name",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.name",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.predetermined",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.predetermined",
                        "type": "integer"
                    },
                    {
                        "name": "catalogCompanyType.ordinal",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "catalogCompanyType.valueText",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.valueText",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.valueNumber",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.valueNumber",
                        "type": "number"
                    },
                    {
                        "name": "catalogCompanyType.valueDate",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.valueDate",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.valueBoolean",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.valueBoolean",
                        "type": "integer"
                    },
                    {
                        "name": "catalogCompanyType.catalogType.id",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.catalogType.id",
                        "type": "integer"
                    },
                    {
                        "name": "catalogCompanyType.catalogType.code",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.catalogType.code",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.catalogType.name",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.catalogType.name",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.catalogType.sortType",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.catalogType.sortType",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.catalogType.editable",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.catalogType.editable",
                        "type": "integer"
                    },
                    {
                        "name": "catalogCompanyType.catalogType.valid",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.catalogType.valid",
                        "type": "integer"
                    },
                    {
                        "name": "catalogCompanyType.catalogType.description",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.catalogType.description",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.valid",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.valid",
                        "type": "integer"
                    },
                    {
                        "name": "domainName",
                        "in": "query",
                        "description": "Filtra registros por domainName",
                        "type": "string"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MaxResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_company_read"
            }
        },
        "/Company/sum/{campo}": {
            "get": {
                "operationId": "Company_sum",
                "summary": "Retorna la suma de un campo de los registros de Company.",
                "tags": [
                    "Company"
                ],
                "parameters": [
                    {
                        "name": "campo",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Filtra registros por code",
                        "type": "string"
                    },
                    {
                        "name": "identifier",
                        "in": "query",
                        "description": "Filtra registros por identifier",
                        "type": "string"
                    },
                    {
                        "name": "businessName",
                        "in": "query",
                        "description": "Filtra registros por businessName",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.id",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.id",
                        "type": "integer"
                    },
                    {
                        "name": "catalogCompanyType.code",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.code",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.name",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.name",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.predetermined",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.predetermined",
                        "type": "integer"
                    },
                    {
                        "name": "catalogCompanyType.ordinal",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "catalogCompanyType.valueText",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.valueText",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.valueNumber",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.valueNumber",
                        "type": "number"
                    },
                    {
                        "name": "catalogCompanyType.valueDate",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.valueDate",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.valueBoolean",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.valueBoolean",
                        "type": "integer"
                    },
                    {
                        "name": "catalogCompanyType.catalogType.id",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.catalogType.id",
                        "type": "integer"
                    },
                    {
                        "name": "catalogCompanyType.catalogType.code",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.catalogType.code",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.catalogType.name",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.catalogType.name",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.catalogType.sortType",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.catalogType.sortType",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.catalogType.editable",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.catalogType.editable",
                        "type": "integer"
                    },
                    {
                        "name": "catalogCompanyType.catalogType.valid",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.catalogType.valid",
                        "type": "integer"
                    },
                    {
                        "name": "catalogCompanyType.catalogType.description",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.catalogType.description",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.valid",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.valid",
                        "type": "integer"
                    },
                    {
                        "name": "domainName",
                        "in": "query",
                        "description": "Filtra registros por domainName",
                        "type": "string"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SumResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_company_read"
            }
        },
        "/Company/{from}/{to}": {
            "get": {
                "operationId": "Company_listRange",
                "summary": "Lista los registros de Company por posición.",
                "tags": [
                    "Company"
                ],
                "parameters": [
                    {
                        "name": "from",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "to",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Filtra registros por code",
                        "type": "string"
                    },
                    {
                        "name": "identifier",
                        "in": "query",
                        "description": "Filtra registros por identifier",
                        "type": "string"
                    },
                    {
                        "name": "businessName",
                        "in": "query",
                        "description": "Filtra registros por businessName",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.id",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.id",
                        "type": "integer"
                    },
                    {
                        "name": "catalogCompanyType.code",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.code",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.name",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.name",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.predetermined",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.predetermined",
                        "type": "integer"
                    },
                    {
                        "name": "catalogCompanyType.ordinal",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "catalogCompanyType.valueText",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.valueText",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.valueNumber",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.valueNumber",
                        "type": "number"
                    },
                    {
                        "name": "catalogCompanyType.valueDate",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.valueDate",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.valueBoolean",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.valueBoolean",
                        "type": "integer"
                    },
                    {
                        "name": "catalogCompanyType.catalogType.id",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.catalogType.id",
                        "type": "integer"
                    },
                    {
                        "name": "catalogCompanyType.catalogType.code",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.catalogType.code",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.catalogType.name",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.catalogType.name",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.catalogType.sortType",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.catalogType.sortType",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.catalogType.editable",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.catalogType.editable",
                        "type": "integer"
                    },
                    {
                        "name": "catalogCompanyType.catalogType.valid",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.catalogType.valid",
                        "type": "integer"
                    },
                    {
                        "name": "catalogCompanyType.catalogType.description",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.catalogType.description",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.valid",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.valid",
                        "type": "integer"
                    },
                    {
                        "name": "domainName",
                        "in": "query",
                        "description": "Filtra registros por domainName",
                        "type": "string"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CompanyResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_company_read"
            }
        },
        "/Company/{id}": {
            "get": {
                "operationId": "Company_read",
                "summary": "Retorna o respectivo registro de Company.",
                "tags": [
                    "Company"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Company"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_company_read"
            },
            "put": {
                "operationId": "Company_update",
                "summary": "Actualiza el respectivo registro de Company.",
                "tags": [
                    "Company"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Request body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Company"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_company_update"
            },
            "delete": {
                "operationId": "Company_delete",
                "summary": "Remove o respectivo registro de Company.",
                "tags": [
                    "Company"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_company_delete"
            }
        },
        "/Company/distinct/catalogCompanyType": {
            "get": {
                "operationId": "Company_catalogCompanyType_distinct",
                "summary": "List all records of Company referenced by field catalogCompanyType.",
                "tags": [
                    "Company"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Filtra registros por code",
                        "type": "string"
                    },
                    {
                        "name": "identifier",
                        "in": "query",
                        "description": "Filtra registros por identifier",
                        "type": "string"
                    },
                    {
                        "name": "businessName",
                        "in": "query",
                        "description": "Filtra registros por businessName",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.id",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.id",
                        "type": "integer"
                    },
                    {
                        "name": "catalogCompanyType.code",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.code",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.name",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.name",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.predetermined",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.predetermined",
                        "type": "integer"
                    },
                    {
                        "name": "catalogCompanyType.ordinal",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "catalogCompanyType.valueText",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.valueText",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.valueNumber",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.valueNumber",
                        "type": "number"
                    },
                    {
                        "name": "catalogCompanyType.valueDate",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.valueDate",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.valueBoolean",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.valueBoolean",
                        "type": "integer"
                    },
                    {
                        "name": "catalogCompanyType.catalogType.id",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.catalogType.id",
                        "type": "integer"
                    },
                    {
                        "name": "catalogCompanyType.catalogType.code",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.catalogType.code",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.catalogType.name",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.catalogType.name",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.catalogType.sortType",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.catalogType.sortType",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.catalogType.editable",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.catalogType.editable",
                        "type": "integer"
                    },
                    {
                        "name": "catalogCompanyType.catalogType.valid",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.catalogType.valid",
                        "type": "integer"
                    },
                    {
                        "name": "catalogCompanyType.catalogType.description",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.catalogType.description",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.valid",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.valid",
                        "type": "integer"
                    },
                    {
                        "name": "domainName",
                        "in": "query",
                        "description": "Filtra registros por domainName",
                        "type": "string"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CatalogResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_company_read"
            }
        },
        "/Company/distinct/catalogCompanyType/count": {
            "get": {
                "operationId": "Company_catalogCompanyType_distinctCount",
                "summary": "Retorna a contagem dos registros de Company referenciados pelo campo catalogCompanyType.",
                "tags": [
                    "Company"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Filtra registros por code",
                        "type": "string"
                    },
                    {
                        "name": "identifier",
                        "in": "query",
                        "description": "Filtra registros por identifier",
                        "type": "string"
                    },
                    {
                        "name": "businessName",
                        "in": "query",
                        "description": "Filtra registros por businessName",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.id",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.id",
                        "type": "integer"
                    },
                    {
                        "name": "catalogCompanyType.code",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.code",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.name",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.name",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.predetermined",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.predetermined",
                        "type": "integer"
                    },
                    {
                        "name": "catalogCompanyType.ordinal",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "catalogCompanyType.valueText",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.valueText",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.valueNumber",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.valueNumber",
                        "type": "number"
                    },
                    {
                        "name": "catalogCompanyType.valueDate",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.valueDate",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.valueBoolean",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.valueBoolean",
                        "type": "integer"
                    },
                    {
                        "name": "catalogCompanyType.catalogType.id",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.catalogType.id",
                        "type": "integer"
                    },
                    {
                        "name": "catalogCompanyType.catalogType.code",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.catalogType.code",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.catalogType.name",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.catalogType.name",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.catalogType.sortType",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.catalogType.sortType",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.catalogType.editable",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.catalogType.editable",
                        "type": "integer"
                    },
                    {
                        "name": "catalogCompanyType.catalogType.valid",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.catalogType.valid",
                        "type": "integer"
                    },
                    {
                        "name": "catalogCompanyType.catalogType.description",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.catalogType.description",
                        "type": "string"
                    },
                    {
                        "name": "catalogCompanyType.valid",
                        "in": "query",
                        "description": "Filtra registros por catalogCompanyType.valid",
                        "type": "integer"
                    },
                    {
                        "name": "domainName",
                        "in": "query",
                        "description": "Filtra registros por domainName",
                        "type": "string"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CountResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_company_read"
            }
        },
        "/CompanyStructure": {
            "get": {
                "operationId": "CompanyStructure_listAll",
                "summary": "Lista todos los registros de CompanyStructure.",
                "tags": [
                    "CompanyStructure"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "company.id",
                        "in": "query",
                        "description": "Filtra registros por company.id",
                        "type": "integer"
                    },
                    {
                        "name": "company.code",
                        "in": "query",
                        "description": "Filtra registros por company.code",
                        "type": "string"
                    },
                    {
                        "name": "company.identifier",
                        "in": "query",
                        "description": "Filtra registros por company.identifier",
                        "type": "string"
                    },
                    {
                        "name": "company.businessName",
                        "in": "query",
                        "description": "Filtra registros por company.businessName",
                        "type": "string"
                    },
                    {
                        "name": "company.catalogCompanyType.id",
                        "in": "query",
                        "description": "Filtra registros por company.catalogCompanyType.id",
                        "type": "integer"
                    },
                    {
                        "name": "company.catalogCompanyType.code",
                        "in": "query",
                        "description": "Filtra registros por company.catalogCompanyType.code",
                        "type": "string"
                    },
                    {
                        "name": "company.catalogCompanyType.name",
                        "in": "query",
                        "description": "Filtra registros por company.catalogCompanyType.name",
                        "type": "string"
                    },
                    {
                        "name": "company.catalogCompanyType.predetermined",
                        "in": "query",
                        "description": "Filtra registros por company.catalogCompanyType.predetermined",
                        "type": "integer"
                    },
                    {
                        "name": "company.catalogCompanyType.ordinal",
                        "in": "query",
                        "description": "Filtra registros por company.catalogCompanyType.ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "company.catalogCompanyType.valueText",
                        "in": "query",
                        "description": "Filtra registros por company.catalogCompanyType.valueText",
                        "type": "string"
                    },
                    {
                        "name": "company.catalogCompanyType.valueNumber",
                        "in": "query",
                        "description": "Filtra registros por company.catalogCompanyType.valueNumber",
                        "type": "number"
                    },
                    {
                        "name": "company.catalogCompanyType.valueDate",
                        "in": "query",
                        "description": "Filtra registros por company.catalogCompanyType.valueDate",
                        "type": "string"
                    },
                    {
                        "name": "company.catalogCompanyType.valueBoolean",
                        "in": "query",
                        "description": "Filtra registros por company.catalogCompanyType.valueBoolean",
                        "type": "integer"
                    },
                    {
                        "name": "company.catalogCompanyType.catalogType.id",
                        "in": "query",
                        "description": "Filtra registros por company.catalogCompanyType.catalogType.id",
                        "type": "integer"
                    },
                    {
                        "name": "company.catalogCompanyType.catalogType.code",
                        "in": "query",
                        "description": "Filtra registros por company.catalogCompanyType.catalogType.code",
                        "type": "string"
                    },
                    {
                        "name": "company.catalogCompanyType.catalogType.name",
                        "in": "query",
                        "description": "Filtra registros por company.catalogCompanyType.catalogType.name",
                        "type": "string"
                    },
                    {
                        "name": "company.catalogCompanyType.catalogType.sortType",
                        "in": "query",
                        "description": "Filtra registros por company.catalogCompanyType.catalogType.sortType",
                        "type": "string"
                    },
                    {
                        "name": "company.catalogCompanyType.catalogType.editable",
                        "in": "query",
                        "description": "Filtra registros por company.catalogCompanyType.catalogType.editable",
                        "type": "integer"
                    },
                    {
                        "name": "company.catalogCompanyType.catalogType.valid",
                        "in": "query",
                        "description": "Filtra registros por company.catalogCompanyType.catalogType.valid",
                        "type": "integer"
                    },
                    {
                        "name": "company.catalogCompanyType.catalogType.description",
                        "in": "query",
                        "description": "Filtra registros por company.catalogCompanyType.catalogType.description",
                        "type": "string"
                    },
                    {
                        "name": "company.catalogCompanyType.valid",
                        "in": "query",
                        "description": "Filtra registros por company.catalogCompanyType.valid",
                        "type": "integer"
                    },
                    {
                        "name": "company.domainName",
                        "in": "query",
                        "description": "Filtra registros por company.domainName",
                        "type": "string"
                    },
                    {
                        "name": "company.valid",
                        "in": "query",
                        "description": "Filtra registros por company.valid",
                        "type": "integer"
                    },
                    {
                        "name": "catalogOrganizationalStructure.id",
                        "in": "query",
                        "description": "Filtra registros por catalogOrganizationalStructure.id",
                        "type": "integer"
                    },
                    {
                        "name": "catalogOrganizationalStructure.code",
                        "in": "query",
                        "description": "Filtra registros por catalogOrganizationalStructure.code",
                        "type": "string"
                    },
                    {
                        "name": "catalogOrganizationalStructure.name",
                        "in": "query",
                        "description": "Filtra registros por catalogOrganizationalStructure.name",
                        "type": "string"
                    },
                    {
                        "name": "catalogOrganizationalStructure.predetermined",
                        "in": "query",
                        "description": "Filtra registros por catalogOrganizationalStructure.predetermined",
                        "type": "integer"
                    },
                    {
                        "name": "catalogOrganizationalStructure.ordinal",
                        "in": "query",
                        "description": "Filtra registros por catalogOrganizationalStructure.ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "catalogOrganizationalStructure.valueText",
                        "in": "query",
                        "description": "Filtra registros por catalogOrganizationalStructure.valueText",
                        "type": "string"
                    },
                    {
                        "name": "catalogOrganizationalStructure.valueNumber",
                        "in": "query",
                        "description": "Filtra registros por catalogOrganizationalStructure.valueNumber",
                        "type": "number"
                    },
                    {
                        "name": "catalogOrganizationalStructure.valueDate",
                        "in": "query",
                        "description": "Filtra registros por catalogOrganizationalStructure.valueDate",
                        "type": "string"
                    },
                    {
                        "name": "catalogOrganizationalStructure.valueBoolean",
                        "in": "query",
                        "description": "Filtra registros por catalogOrganizationalStructure.valueBoolean",
                        "type": "integer"
                    },
                    {
                        "name": "catalogOrganizationalStructure.catalogType.id",
                        "in": "query",
                        "description": "Filtra registros por catalogOrganizationalStructure.catalogType.id",
                        "type": "integer"
                    },
                    {
                        "name": "catalogOrganizationalStructure.catalogType.code",
                        "in": "query",
                        "description": "Filtra registros por catalogOrganizationalStructure.catalogType.code",
                        "type": "string"
                    },
                    {
                        "name": "catalogOrganizationalStructure.catalogType.name",
                        "in": "query",
                        "description": "Filtra registros por catalogOrganizationalStructure.catalogType.name",
                        "type": "string"
                    },
                    {
                        "name": "catalogOrganizationalStructure.catalogType.sortType",
                        "in": "query",
                        "description": "Filtra registros por catalogOrganizationalStructure.catalogType.sortType",
                        "type": "string"
                    },
                    {
                        "name": "catalogOrganizationalStructure.catalogType.editable",
                        "in": "query",
                        "description": "Filtra registros por catalogOrganizationalStructure.catalogType.editable",
                        "type": "integer"
                    },
                    {
                        "name": "catalogOrganizationalStructure.catalogType.valid",
                        "in": "query",
                        "description": "Filtra registros por catalogOrganizationalStructure.catalogType.valid",
                        "type": "integer"
                    },
                    {
                        "name": "catalogOrganizationalStructure.catalogType.description",
                        "in": "query",
                        "description": "Filtra registros por catalogOrganizationalStructure.catalogType.description",
                        "type": "string"
                    },
                    {
                        "name": "catalogOrganizationalStructure.valid",
                        "in": "query",
                        "description": "Filtra registros por catalogOrganizationalStructure.valid",
                        "type": "integer"
                    },
                    {
                        "name": "parent.id",
                        "in": "query",
                        "description": "Filtra registros por parent.id",
                        "type": "integer"
                    },
                    {
                        "name": "parent.company.id",
                        "in": "query",
                        "description": "Filtra registros por parent.company.id",
                        "type": "integer"
                    },
                    {
                        "name": "parent.company.code",
                        "in": "query",
                        "description": "Filtra registros por parent.company.code",
                        "type": "string"
                    },
                    {
                        "name": "parent.company.identifier",
                        "in": "query",
                        "description": "Filtra registros por parent.company.identifier",
                        "type": "string"
                    },
                    {
                        "name": "parent.company.businessName",
                        "in": "query",
                        "description": "Filtra registros por parent.company.businessName",
                        "type": "string"
                    },
                    {
                        "name": "parent.company.catalogCompanyType.id",
                        "in": "query",
                        "description": "Filtra registros por parent.company.catalogCompanyType.id",
                        "type": "integer"
                    },
                    {
                        "name": "parent.company.catalogCompanyType.code",
                        "in": "query",
                        "description": "Filtra registros por parent.company.catalogCompanyType.code",
                        "type": "string"
                    },
                    {
                        "name": "parent.company.catalogCompanyType.name",
                        "in": "query",
                        "description": "Filtra registros por parent.company.catalogCompanyType.name",
                        "type": "string"
                    },
                    {
                        "name": "parent.company.catalogCompanyType.predetermined",
                        "in": "query",
                        "description": "Filtra registros por parent.company.catalogCompanyType.predetermined",
                        "type": "integer"
                    },
                    {
                        "name": "parent.company.catalogCompanyType.ordinal",
                        "in": "query",
                        "description": "Filtra registros por parent.company.catalogCompanyType.ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "parent.company.catalogCompanyType.valueText",
                        "in": "query",
                        "description": "Filtra registros por parent.company.catalogCompanyType.valueText",
                        "type": "string"
                    },
                    {
                        "name": "parent.company.catalogCompanyType.valueNumber",
                        "in": "query",
                        "description": "Filtra registros por parent.company.catalogCompanyType.valueNumber",
                        "type": "number"
                    },
                    {
                        "name": "parent.company.catalogCompanyType.valueDate",
                        "in": "query",
                        "description": "Filtra registros por parent.company.catalogCompanyType.valueDate",
                        "type": "string"
                    },
                    {
                        "name": "parent.company.catalogCompanyType.valueBoolean",
                        "in": "query",
                        "description": "Filtra registros por parent.company.catalogCompanyType.valueBoolean",
                        "type": "integer"
                    },
                    {
                        "name": "parent.company.catalogCompanyType.catalogType.id",
                        "in": "query",
                        "description": "Filtra registros por parent.company.catalogCompanyType.catalogType.id",
                        "type": "integer"
                    },
                    {
                        "name": "parent.company.catalogCompanyType.catalogType.code",
                        "in": "query",
                        "description": "Filtra registros por parent.company.catalogCompanyType.catalogType.code",
                        "type": "string"
                    },
                    {
                        "name": "parent.company.catalogCompanyType.catalogType.name",
                        "in": "query",
                        "description": "Filtra registros por parent.company.catalogCompanyType.catalogType.name",
                        "type": "string"
                    },
                    {
                        "name": "parent.company.catalogCompanyType.catalogType.sortType",
                        "in": "query",
                        "description": "Filtra registros por parent.company.catalogCompanyType.catalogType.sortType",
                        "type": "string"
                    },
                    {
                        "name": "parent.company.catalogCompanyType.catalogType.editable",
                        "in": "query",
                        "description": "Filtra registros por parent.company.catalogCompanyType.catalogType.editable",
                        "type": "integer"
                    },
                    {
                        "name": "parent.company.catalogCompanyType.catalogType.valid",
                        "in": "query",
                        "description": "Filtra registros por parent.company.catalogCompanyType.catalogType.valid",
                        "type": "integer"
                    },
                    {
                        "name": "parent.company.catalogCompanyType.catalogType.description",
                        "in": "query",
                        "description": "Filtra registros por parent.company.catalogCompanyType.catalogType.description",
                        "type": "string"
                    },
                    {
                        "name": "parent.company.catalogCompanyType.valid",
                        "in": "query",
                        "description": "Filtra registros por parent.company.catalogCompanyType.valid",
                        "type": "integer"
                    },
                    {
                        "name": "parent.company.domainName",
                        "in": "query",
                        "description": "Filtra registros por parent.company.domainName",
                        "type": "string"
                    },
                    {
                        "name": "parent.company.valid",
                        "in": "query",
                        "description": "Filtra registros por parent.company.valid",
                        "type": "integer"
                    },
                    {
                        "name": "parent.catalogOrganizationalStructure.id",
                        "in": "query",
                        "description": "Filtra registros por parent.catalogOrganizationalStructure.id",
                        "type": "integer"
                    },
                    {
                        "name": "parent.catalogOrganizationalStructure.code",
                        "in": "query",
                        "description": "Filtra registros por parent.catalogOrganizationalStructure.code",
                        "type": "string"
                    },
                    {
                        "name": "parent.catalogOrganizationalStructure.name",
                        "in": "query",
                        "description": "Filtra registros por parent.catalogOrganizationalStructure.name",
                        "type": "string"
                    },
                    {
                        "name": "parent.catalogOrganizationalStructure.predetermined",
                        "in": "query",
                        "description": "Filtra registros por parent.catalogOrganizationalStructure.predetermined",
                        "type": "integer"
                    },
                    {
                        "name": "parent.catalogOrganizationalStructure.ordinal",
                        "in": "query",
                        "description": "Filtra registros por parent.catalogOrganizationalStructure.ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "parent.catalogOrganizationalStructure.valueText",
                        "in": "query",
                        "description": "Filtra registros por parent.catalogOrganizationalStructure.valueText",
                        "type": "string"
                    },
                    {
                        "name": "parent.catalogOrganizationalStructure.valueNumber",
                        "in": "query",
                        "description": "Filtra registros por parent.catalogOrganizationalStructure.valueNumber",
                        "type": "number"
                    },
                    {
                        "name": "parent.catalogOrganizationalStructure.valueDate",
                        "in": "query",
                        "description": "Filtra registros por parent.catalogOrganizationalStructure.valueDate",
                        "type": "string"
                    },
                    {
                        "name": "parent.catalogOrganizationalStructure.valueBoolean",
                        "in": "query",
                        "description": "Filtra registros por parent.catalogOrganizationalStructure.valueBoolean",
                        "type": "integer"
                    },
                    {
                        "name": "parent.catalogOrganizationalStructure.catalogType.id",
                        "in": "query",
                        "description": "Filtra registros por parent.catalogOrganizationalStructure.catalogType.id",
                        "type": "integer"
                    },
                    {
                        "name": "parent.catalogOrganizationalStructure.catalogType.code",
                        "in": "query",
                        "description": "Filtra registros por parent.catalogOrganizationalStructure.catalogType.code",
                        "type": "string"
                    },
                    {
                        "name": "parent.catalogOrganizationalStructure.catalogType.name",
                        "in": "query",
                        "description": "Filtra registros por parent.catalogOrganizationalStructure.catalogType.name",
                        "type": "string"
                    },
                    {
                        "name": "parent.catalogOrganizationalStructure.catalogType.sortType",
                        "in": "query",
                        "description": "Filtra registros por parent.catalogOrganizationalStructure.catalogType.sortType",
                        "type": "string"
                    },
                    {
                        "name": "parent.catalogOrganizationalStructure.catalogType.editable",
                        "in": "query",
                        "description": "Filtra registros por parent.catalogOrganizationalStructure.catalogType.editable",
                        "type": "integer"
                    },
                    {
                        "name": "parent.catalogOrganizationalStructure.catalogType.valid",
                        "in": "query",
                        "description": "Filtra registros por parent.catalogOrganizationalStructure.catalogType.valid",
                        "type": "integer"
                    },
                    {
                        "name": "parent.catalogOrganizationalStructure.catalogType.description",
                        "in": "query",
                        "description": "Filtra registros por parent.catalogOrganizationalStructure.catalogType.description",
                        "type": "string"
                    },
                    {
                        "name": "parent.catalogOrganizationalStructure.valid",
                        "in": "query",
                        "description": "Filtra registros por parent.catalogOrganizationalStructure.valid",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.id",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.id",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.company.id",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.company.id",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.company.code",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.company.code",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.company.identifier",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.company.identifier",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.company.businessName",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.company.businessName",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.company.catalogCompanyType.id",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.company.catalogCompanyType.id",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.company.catalogCompanyType.code",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.company.catalogCompanyType.code",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.company.catalogCompanyType.name",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.company.catalogCompanyType.name",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.company.catalogCompanyType.predetermined",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.company.catalogCompanyType.predetermined",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.company.catalogCompanyType.ordinal",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.company.catalogCompanyType.ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.company.catalogCompanyType.valueText",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.company.catalogCompanyType.valueText",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.company.catalogCompanyType.valueNumber",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.company.catalogCompanyType.valueNumber",
                        "type": "number"
                    },
                    {
                        "name": "parent.parent.company.catalogCompanyType.valueDate",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.company.catalogCompanyType.valueDate",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.company.catalogCompanyType.valueBoolean",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.company.catalogCompanyType.valueBoolean",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.company.catalogCompanyType.valid",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.company.catalogCompanyType.valid",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.company.domainName",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.company.domainName",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.company.valid",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.company.valid",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.catalogOrganizationalStructure.id",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.catalogOrganizationalStructure.id",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.catalogOrganizationalStructure.code",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.catalogOrganizationalStructure.code",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.catalogOrganizationalStructure.name",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.catalogOrganizationalStructure.name",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.catalogOrganizationalStructure.predetermined",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.catalogOrganizationalStructure.predetermined",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.catalogOrganizationalStructure.ordinal",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.catalogOrganizationalStructure.ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.catalogOrganizationalStructure.valueText",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.catalogOrganizationalStructure.valueText",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.catalogOrganizationalStructure.valueNumber",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.catalogOrganizationalStructure.valueNumber",
                        "type": "number"
                    },
                    {
                        "name": "parent.parent.catalogOrganizationalStructure.valueDate",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.catalogOrganizationalStructure.valueDate",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.catalogOrganizationalStructure.valueBoolean",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.catalogOrganizationalStructure.valueBoolean",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.catalogOrganizationalStructure.catalogType.id",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.catalogOrganizationalStructure.catalogType.id",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.catalogOrganizationalStructure.catalogType.code",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.catalogOrganizationalStructure.catalogType.code",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.catalogOrganizationalStructure.catalogType.name",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.catalogOrganizationalStructure.catalogType.name",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.catalogOrganizationalStructure.catalogType.sortType",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.catalogOrganizationalStructure.catalogType.sortType",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.catalogOrganizationalStructure.catalogType.editable",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.catalogOrganizationalStructure.catalogType.editable",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.catalogOrganizationalStructure.catalogType.valid",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.catalogOrganizationalStructure.catalogType.valid",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.catalogOrganizationalStructure.catalogType.description",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.catalogOrganizationalStructure.catalogType.description",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.catalogOrganizationalStructure.valid",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.catalogOrganizationalStructure.valid",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.parent.id",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.id",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.parent.company.id",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.company.id",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.parent.company.code",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.company.code",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.parent.company.identifier",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.company.identifier",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.parent.company.businessName",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.company.businessName",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.parent.company.domainName",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.company.domainName",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.parent.company.valid",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.company.valid",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.parent.catalogOrganizationalStructure.id",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.catalogOrganizationalStructure.id",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.parent.catalogOrganizationalStructure.code",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.catalogOrganizationalStructure.code",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.parent.catalogOrganizationalStructure.name",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.catalogOrganizationalStructure.name",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.parent.catalogOrganizationalStructure.predetermined",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.catalogOrganizationalStructure.predetermined",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.parent.catalogOrganizationalStructure.ordinal",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.catalogOrganizationalStructure.ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.parent.catalogOrganizationalStructure.valueText",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.catalogOrganizationalStructure.valueText",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.parent.catalogOrganizationalStructure.valueNumber",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.catalogOrganizationalStructure.valueNumber",
                        "type": "number"
                    },
                    {
                        "name": "parent.parent.parent.catalogOrganizationalStructure.valueDate",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.catalogOrganizationalStructure.valueDate",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.parent.catalogOrganizationalStructure.valueBoolean",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.catalogOrganizationalStructure.valueBoolean",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.parent.catalogOrganizationalStructure.valid",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.catalogOrganizationalStructure.valid",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.parent.parent.id",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.parent.id",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.parent.parent.valid",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.parent.valid",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.parent.valid",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.valid",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.valid",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.valid",
                        "type": "integer"
                    },
                    {
                        "name": "parent.valid",
                        "in": "query",
                        "description": "Filtra registros por parent.valid",
                        "type": "integer"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CompanyStructureResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_company_read"
            },
            "post": {
                "operationId": "CompanyStructure_create",
                "summary": "Crea un registro de CompanyStructure.",
                "tags": [
                    "CompanyStructure"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
[...]
