{
    "swagger": "2.0",
    "info": {
        "version": "v1",
        "title": "CentraID_API_provisioning",
        "description": "API para integración de CentraID paquete provisioning"
    },
    "host": "api.centraid.com",
    "schemes": [
        "https"
    ],
    "basePath": "/api.centraid/provisioning",
    "paths": {
        "/TransactionalIdentity": {
            "get": {
                "operationId": "TransactionalIdentity_listAll",
                "summary": "Lista todos los registros de TransactionalIdentity.",
                "tags": [
                    "TransactionalIdentity"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "uuid",
                        "in": "query",
                        "description": "Filtra registros por uuid",
                        "type": "string"
                    },
                    {
                        "name": "guid",
                        "in": "query",
                        "description": "Filtra registros por guid",
                        "type": "string"
                    },
                    {
                        "name": "username",
                        "in": "query",
                        "description": "Filtra registros por username",
                        "type": "string"
                    },
                    {
                        "name": "workerCode",
                        "in": "query",
                        "description": "Filtra registros por workerCode",
                        "type": "string"
                    },
                    {
                        "name": "employeeLastname",
                        "in": "query",
                        "description": "Filtra registros por employeeLastname",
                        "type": "string"
                    },
                    {
                        "name": "employeeFirstname",
                        "in": "query",
                        "description": "Filtra registros por employeeFirstname",
                        "type": "string"
                    },
                    {
                        "name": "identification",
                        "in": "query",
                        "description": "Filtra registros por identification",
                        "type": "string"
                    },
                    {
                        "name": "identificationSupervisor",
                        "in": "query",
                        "description": "Filtra registros por identificationSupervisor",
                        "type": "string"
                    },
                    {
                        "name": "namesSupervisor",
                        "in": "query",
                        "description": "Filtra registros por namesSupervisor",
                        "type": "string"
                    },
                    {
                        "name": "companyCode",
                        "in": "query",
                        "description": "Filtra registros por companyCode",
                        "type": "string"
                    },
                    {
                        "name": "companyName",
                        "in": "query",
                        "description": "Filtra registros por companyName",
                        "type": "string"
                    },
                    {
                        "name": "groupCode",
                        "in": "query",
                        "description": "Filtra registros por groupCode",
                        "type": "string"
                    },
                    {
                        "name": "groupName",
                        "in": "query",
                        "description": "Filtra registros por groupName",
                        "type": "string"
                    },
                    {
                        "name": "divisionCode",
                        "in": "query",
                        "description": "Filtra registros por divisionCode",
                        "type": "string"
                    },
                    {
                        "name": "divisionName",
                        "in": "query",
                        "description": "Filtra registros por divisionName",
                        "type": "string"
                    },
                    {
                        "name": "departmentCode",
                        "in": "query",
                        "description": "Filtra registros por departmentCode",
                        "type": "string"
                    },
                    {
                        "name": "departmentName",
                        "in": "query",
                        "description": "Filtra registros por departmentName",
                        "type": "string"
                    },
                    {
                        "name": "areaCode",
                        "in": "query",
                        "description": "Filtra registros por areaCode",
                        "type": "string"
                    },
                    {
                        "name": "areaName",
                        "in": "query",
                        "description": "Filtra registros por areaName",
                        "type": "string"
                    },
                    {
                        "name": "subsidiaryCode",
                        "in": "query",
                        "description": "Filtra registros por subsidiaryCode",
                        "type": "string"
                    },
                    {
                        "name": "subsidiaryName",
                        "in": "query",
                        "description": "Filtra registros por subsidiaryName",
                        "type": "string"
                    },
                    {
                        "name": "costCenterCode",
                        "in": "query",
                        "description": "Filtra registros por costCenterCode",
                        "type": "string"
                    },
                    {
                        "name": "costCenterName",
                        "in": "query",
                        "description": "Filtra registros por costCenterName",
                        "type": "string"
                    },
                    {
                        "name": "locationCode",
                        "in": "query",
                        "description": "Filtra registros por locationCode",
                        "type": "string"
                    },
                    {
                        "name": "locationName",
                        "in": "query",
                        "description": "Filtra registros por locationName",
                        "type": "string"
                    },
                    {
                        "name": "hierarchicalLevelCode",
                        "in": "query",
                        "description": "Filtra registros por hierarchicalLevelCode",
                        "type": "string"
                    },
                    {
                        "name": "positionName",
                        "in": "query",
                        "description": "Filtra registros por positionName",
                        "type": "string"
                    },
                    {
                        "name": "hierarchicalLevelName",
                        "in": "query",
                        "description": "Filtra registros por hierarchicalLevelName",
                        "type": "string"
                    },
                    {
                        "name": "depositAccountNumber",
                        "in": "query",
                        "description": "Filtra registros por depositAccountNumber",
                        "type": "string"
                    },
                    {
                        "name": "employeeStartDate",
                        "in": "query",
                        "description": "Filtra registros por employeeStartDate",
                        "type": "string"
                    },
                    {
                        "name": "employeeEndDate",
                        "in": "query",
                        "description": "Filtra registros por employeeEndDate",
                        "type": "string"
                    },
                    {
                        "name": "employeeStatus",
                        "in": "query",
                        "description": "Filtra registros por employeeStatus",
                        "type": "string"
                    },
                    {
                        "name": "employeeCode",
                        "in": "query",
                        "description": "Filtra registros por employeeCode",
                        "type": "string"
                    },
                    {
                        "name": "userType",
                        "in": "query",
                        "description": "Filtra registros por userType",
                        "type": "string"
                    },
                    {
                        "name": "userSubtype",
                        "in": "query",
                        "description": "Filtra registros por userSubtype",
                        "type": "string"
                    },
                    {
                        "name": "mobile",
                        "in": "query",
                        "description": "Filtra registros por mobile",
                        "type": "string"
                    },
                    {
                        "name": "origen",
                        "in": "query",
                        "description": "Filtra registros por origen",
                        "type": "string"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filtra registros por status",
                        "type": "string"
                    },
                    {
                        "name": "createdDate",
                        "in": "query",
                        "description": "Filtra registros por createdDate",
                        "type": "string"
                    },
                    {
                        "name": "plannedExecutionDate",
                        "in": "query",
                        "description": "Filtra registros por plannedExecutionDate",
                        "type": "string"
                    },
                    {
                        "name": "modifyData",
                        "in": "query",
                        "description": "Filtra registros por modifyData",
                        "type": "integer"
                    },
                    {
                        "name": "profileRecalculation",
                        "in": "query",
                        "description": "Filtra registros por profileRecalculation",
                        "type": "integer"
                    },
                    {
                        "name": "typeAction",
                        "in": "query",
                        "description": "Filtra registros por typeAction",
                        "type": "string"
                    },
                    {
                        "name": "mail",
                        "in": "query",
                        "description": "Filtra registros por mail",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileId",
                        "in": "query",
                        "description": "Filtra registros por globalProfileId",
                        "type": "integer"
                    },
                    {
                        "name": "userDataId",
                        "in": "query",
                        "description": "Filtra registros por userDataId",
                        "type": "integer"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TransactionalIdentityResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_provisioning_read"
            },
            "post": {
                "operationId": "TransactionalIdentity_create",
                "summary": "Crea un registro de TransactionalIdentity.",
                "tags": [
                    "TransactionalIdentity"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Request body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TransactionalIdentity"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TransactionalIdentity"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_provisioning_read"
            }
        },
        "/TransactionalIdentity/count": {
            "get": {
                "operationId": "TransactionalIdentity_count",
                "summary": "Retorna total de registros de TransactionalIdentity.",
                "tags": [
                    "TransactionalIdentity"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "uuid",
                        "in": "query",
                        "description": "Filtra registros por uuid",
                        "type": "string"
                    },
                    {
                        "name": "guid",
                        "in": "query",
                        "description": "Filtra registros por guid",
                        "type": "string"
                    },
                    {
                        "name": "username",
                        "in": "query",
                        "description": "Filtra registros por username",
                        "type": "string"
                    },
                    {
                        "name": "workerCode",
                        "in": "query",
                        "description": "Filtra registros por workerCode",
                        "type": "string"
                    },
                    {
                        "name": "employeeLastname",
                        "in": "query",
                        "description": "Filtra registros por employeeLastname",
                        "type": "string"
                    },
                    {
                        "name": "employeeFirstname",
                        "in": "query",
                        "description": "Filtra registros por employeeFirstname",
                        "type": "string"
                    },
                    {
                        "name": "identification",
                        "in": "query",
                        "description": "Filtra registros por identification",
                        "type": "string"
                    },
                    {
                        "name": "identificationSupervisor",
                        "in": "query",
                        "description": "Filtra registros por identificationSupervisor",
                        "type": "string"
                    },
                    {
                        "name": "namesSupervisor",
                        "in": "query",
                        "description": "Filtra registros por namesSupervisor",
                        "type": "string"
                    },
                    {
                        "name": "companyCode",
                        "in": "query",
                        "description": "Filtra registros por companyCode",
                        "type": "string"
                    },
                    {
                        "name": "companyName",
                        "in": "query",
                        "description": "Filtra registros por companyName",
                        "type": "string"
                    },
                    {
                        "name": "groupCode",
                        "in": "query",
                        "description": "Filtra registros por groupCode",
                        "type": "string"
                    },
                    {
                        "name": "groupName",
                        "in": "query",
                        "description": "Filtra registros por groupName",
                        "type": "string"
                    },
                    {
                        "name": "divisionCode",
                        "in": "query",
                        "description": "Filtra registros por divisionCode",
                        "type": "string"
                    },
                    {
                        "name": "divisionName",
                        "in": "query",
                        "description": "Filtra registros por divisionName",
                        "type": "string"
                    },
                    {
                        "name": "departmentCode",
                        "in": "query",
                        "description": "Filtra registros por departmentCode",
                        "type": "string"
                    },
                    {
                        "name": "departmentName",
                        "in": "query",
                        "description": "Filtra registros por departmentName",
                        "type": "string"
                    },
                    {
                        "name": "areaCode",
                        "in": "query",
                        "description": "Filtra registros por areaCode",
                        "type": "string"
                    },
                    {
                        "name": "areaName",
                        "in": "query",
                        "description": "Filtra registros por areaName",
                        "type": "string"
                    },
                    {
                        "name": "subsidiaryCode",
                        "in": "query",
                        "description": "Filtra registros por subsidiaryCode",
                        "type": "string"
                    },
                    {
                        "name": "subsidiaryName",
                        "in": "query",
                        "description": "Filtra registros por subsidiaryName",
                        "type": "string"
                    },
                    {
                        "name": "costCenterCode",
                        "in": "query",
                        "description": "Filtra registros por costCenterCode",
                        "type": "string"
                    },
                    {
                        "name": "costCenterName",
                        "in": "query",
                        "description": "Filtra registros por costCenterName",
                        "type": "string"
                    },
                    {
                        "name": "locationCode",
                        "in": "query",
                        "description": "Filtra registros por locationCode",
                        "type": "string"
                    },
                    {
                        "name": "locationName",
                        "in": "query",
                        "description": "Filtra registros por locationName",
                        "type": "string"
                    },
                    {
                        "name": "hierarchicalLevelCode",
                        "in": "query",
                        "description": "Filtra registros por hierarchicalLevelCode",
                        "type": "string"
                    },
                    {
                        "name": "positionName",
                        "in": "query",
                        "description": "Filtra registros por positionName",
                        "type": "string"
                    },
                    {
                        "name": "hierarchicalLevelName",
                        "in": "query",
                        "description": "Filtra registros por hierarchicalLevelName",
                        "type": "string"
                    },
                    {
                        "name": "depositAccountNumber",
                        "in": "query",
                        "description": "Filtra registros por depositAccountNumber",
                        "type": "string"
                    },
                    {
                        "name": "employeeStartDate",
                        "in": "query",
                        "description": "Filtra registros por employeeStartDate",
                        "type": "string"
                    },
                    {
                        "name": "employeeEndDate",
                        "in": "query",
                        "description": "Filtra registros por employeeEndDate",
                        "type": "string"
                    },
                    {
                        "name": "employeeStatus",
                        "in": "query",
                        "description": "Filtra registros por employeeStatus",
                        "type": "string"
                    },
                    {
                        "name": "employeeCode",
                        "in": "query",
                        "description": "Filtra registros por employeeCode",
                        "type": "string"
                    },
                    {
                        "name": "userType",
                        "in": "query",
                        "description": "Filtra registros por userType",
                        "type": "string"
                    },
                    {
                        "name": "userSubtype",
                        "in": "query",
                        "description": "Filtra registros por userSubtype",
                        "type": "string"
                    },
                    {
                        "name": "mobile",
                        "in": "query",
                        "description": "Filtra registros por mobile",
                        "type": "string"
                    },
                    {
                        "name": "origen",
                        "in": "query",
                        "description": "Filtra registros por origen",
                        "type": "string"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filtra registros por status",
                        "type": "string"
                    },
                    {
                        "name": "createdDate",
                        "in": "query",
                        "description": "Filtra registros por createdDate",
                        "type": "string"
                    },
                    {
                        "name": "plannedExecutionDate",
                        "in": "query",
                        "description": "Filtra registros por plannedExecutionDate",
                        "type": "string"
                    },
                    {
                        "name": "modifyData",
                        "in": "query",
                        "description": "Filtra registros por modifyData",
                        "type": "integer"
                    },
                    {
                        "name": "profileRecalculation",
                        "in": "query",
                        "description": "Filtra registros por profileRecalculation",
                        "type": "integer"
                    },
                    {
                        "name": "typeAction",
                        "in": "query",
                        "description": "Filtra registros por typeAction",
                        "type": "string"
                    },
                    {
                        "name": "mail",
                        "in": "query",
                        "description": "Filtra registros por mail",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileId",
                        "in": "query",
                        "description": "Filtra registros por globalProfileId",
                        "type": "integer"
                    },
                    {
                        "name": "userDataId",
                        "in": "query",
                        "description": "Filtra registros por userDataId",
                        "type": "integer"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CountResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_provisioning_read"
            }
        },
        "/TransactionalIdentity/max/{campo}": {
            "get": {
                "operationId": "TransactionalIdentity_max",
                "summary": "Retorna el valor máximo de campo de los registros de TransactionalIdentity.",
                "tags": [
                    "TransactionalIdentity"
                ],
                "parameters": [
                    {
                        "name": "campo",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "uuid",
                        "in": "query",
                        "description": "Filtra registros por uuid",
                        "type": "string"
                    },
                    {
                        "name": "guid",
                        "in": "query",
                        "description": "Filtra registros por guid",
                        "type": "string"
                    },
                    {
                        "name": "username",
                        "in": "query",
                        "description": "Filtra registros por username",
                        "type": "string"
                    },
                    {
                        "name": "workerCode",
                        "in": "query",
                        "description": "Filtra registros por workerCode",
                        "type": "string"
                    },
                    {
                        "name": "employeeLastname",
                        "in": "query",
                        "description": "Filtra registros por employeeLastname",
                        "type": "string"
                    },
                    {
                        "name": "employeeFirstname",
                        "in": "query",
                        "description": "Filtra registros por employeeFirstname",
                        "type": "string"
                    },
                    {
                        "name": "identification",
                        "in": "query",
                        "description": "Filtra registros por identification",
                        "type": "string"
                    },
                    {
                        "name": "identificationSupervisor",
                        "in": "query",
                        "description": "Filtra registros por identificationSupervisor",
                        "type": "string"
                    },
                    {
                        "name": "namesSupervisor",
                        "in": "query",
                        "description": "Filtra registros por namesSupervisor",
                        "type": "string"
                    },
                    {
                        "name": "companyCode",
                        "in": "query",
                        "description": "Filtra registros por companyCode",
                        "type": "string"
                    },
                    {
                        "name": "companyName",
                        "in": "query",
                        "description": "Filtra registros por companyName",
                        "type": "string"
                    },
                    {
                        "name": "groupCode",
                        "in": "query",
                        "description": "Filtra registros por groupCode",
                        "type": "string"
                    },
                    {
                        "name": "groupName",
                        "in": "query",
                        "description": "Filtra registros por groupName",
                        "type": "string"
                    },
                    {
                        "name": "divisionCode",
                        "in": "query",
                        "description": "Filtra registros por divisionCode",
                        "type": "string"
                    },
                    {
                        "name": "divisionName",
                        "in": "query",
                        "description": "Filtra registros por divisionName",
                        "type": "string"
                    },
                    {
                        "name": "departmentCode",
                        "in": "query",
                        "description": "Filtra registros por departmentCode",
                        "type": "string"
                    },
                    {
                        "name": "departmentName",
                        "in": "query",
                        "description": "Filtra registros por departmentName",
                        "type": "string"
                    },
                    {
                        "name": "areaCode",
                        "in": "query",
                        "description": "Filtra registros por areaCode",
                        "type": "string"
                    },
                    {
                        "name": "areaName",
                        "in": "query",
                        "description": "Filtra registros por areaName",
                        "type": "string"
                    },
                    {
                        "name": "subsidiaryCode",
                        "in": "query",
                        "description": "Filtra registros por subsidiaryCode",
                        "type": "string"
                    },
                    {
                        "name": "subsidiaryName",
                        "in": "query",
                        "description": "Filtra registros por subsidiaryName",
                        "type": "string"
                    },
                    {
                        "name": "costCenterCode",
                        "in": "query",
                        "description": "Filtra registros por costCenterCode",
                        "type": "string"
                    },
                    {
                        "name": "costCenterName",
                        "in": "query",
                        "description": "Filtra registros por costCenterName",
                        "type": "string"
                    },
                    {
                        "name": "locationCode",
                        "in": "query",
                        "description": "Filtra registros por locationCode",
                        "type": "string"
                    },
                    {
                        "name": "locationName",
                        "in": "query",
                        "description": "Filtra registros por locationName",
                        "type": "string"
                    },
                    {
                        "name": "hierarchicalLevelCode",
                        "in": "query",
                        "description": "Filtra registros por hierarchicalLevelCode",
                        "type": "string"
                    },
                    {
                        "name": "positionName",
                        "in": "query",
                        "description": "Filtra registros por positionName",
                        "type": "string"
                    },
                    {
                        "name": "hierarchicalLevelName",
                        "in": "query",
                        "description": "Filtra registros por hierarchicalLevelName",
                        "type": "string"
                    },
                    {
                        "name": "depositAccountNumber",
                        "in": "query",
                        "description": "Filtra registros por depositAccountNumber",
                        "type": "string"
                    },
                    {
                        "name": "employeeStartDate",
                        "in": "query",
                        "description": "Filtra registros por employeeStartDate",
                        "type": "string"
                    },
                    {
                        "name": "employeeEndDate",
                        "in": "query",
                        "description": "Filtra registros por employeeEndDate",
                        "type": "string"
                    },
                    {
                        "name": "employeeStatus",
                        "in": "query",
                        "description": "Filtra registros por employeeStatus",
                        "type": "string"
                    },
                    {
                        "name": "employeeCode",
                        "in": "query",
                        "description": "Filtra registros por employeeCode",
                        "type": "string"
                    },
                    {
                        "name": "userType",
                        "in": "query",
                        "description": "Filtra registros por userType",
                        "type": "string"
                    },
                    {
                        "name": "userSubtype",
                        "in": "query",
                        "description": "Filtra registros por userSubtype",
                        "type": "string"
                    },
                    {
                        "name": "mobile",
                        "in": "query",
                        "description": "Filtra registros por mobile",
                        "type": "string"
                    },
                    {
                        "name": "origen",
                        "in": "query",
                        "description": "Filtra registros por origen",
                        "type": "string"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filtra registros por status",
                        "type": "string"
                    },
                    {
                        "name": "createdDate",
                        "in": "query",
                        "description": "Filtra registros por createdDate",
                        "type": "string"
                    },
                    {
                        "name": "plannedExecutionDate",
                        "in": "query",
                        "description": "Filtra registros por plannedExecutionDate",
                        "type": "string"
                    },
                    {
                        "name": "modifyData",
                        "in": "query",
                        "description": "Filtra registros por modifyData",
                        "type": "integer"
                    },
                    {
                        "name": "profileRecalculation",
                        "in": "query",
                        "description": "Filtra registros por profileRecalculation",
                        "type": "integer"
                    },
                    {
                        "name": "typeAction",
                        "in": "query",
                        "description": "Filtra registros por typeAction",
                        "type": "string"
                    },
                    {
                        "name": "mail",
                        "in": "query",
                        "description": "Filtra registros por mail",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileId",
                        "in": "query",
                        "description": "Filtra registros por globalProfileId",
                        "type": "integer"
                    },
                    {
                        "name": "userDataId",
                        "in": "query",
                        "description": "Filtra registros por userDataId",
                        "type": "integer"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MaxResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_provisioning_read"
            }
        },
        "/TransactionalIdentity/sum/{campo}": {
            "get": {
                "operationId": "TransactionalIdentity_sum",
                "summary": "Retorna la suma de un campo de los registros de TransactionalIdentity.",
                "tags": [
                    "TransactionalIdentity"
                ],
                "parameters": [
                    {
                        "name": "campo",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "uuid",
                        "in": "query",
                        "description": "Filtra registros por uuid",
                        "type": "string"
                    },
                    {
                        "name": "guid",
                        "in": "query",
                        "description": "Filtra registros por guid",
                        "type": "string"
                    },
                    {
                        "name": "username",
                        "in": "query",
                        "description": "Filtra registros por username",
                        "type": "string"
                    },
                    {
                        "name": "workerCode",
                        "in": "query",
                        "description": "Filtra registros por workerCode",
                        "type": "string"
                    },
                    {
                        "name": "employeeLastname",
                        "in": "query",
                        "description": "Filtra registros por employeeLastname",
                        "type": "string"
                    },
                    {
                        "name": "employeeFirstname",
                        "in": "query",
                        "description": "Filtra registros por employeeFirstname",
                        "type": "string"
                    },
                    {
                        "name": "identification",
                        "in": "query",
                        "description": "Filtra registros por identification",
                        "type": "string"
                    },
                    {
                        "name": "identificationSupervisor",
                        "in": "query",
                        "description": "Filtra registros por identificationSupervisor",
                        "type": "string"
                    },
                    {
                        "name": "namesSupervisor",
                        "in": "query",
                        "description": "Filtra registros por namesSupervisor",
                        "type": "string"
                    },
                    {
                        "name": "companyCode",
                        "in": "query",
                        "description": "Filtra registros por companyCode",
                        "type": "string"
                    },
                    {
                        "name": "companyName",
                        "in": "query",
                        "description": "Filtra registros por companyName",
                        "type": "string"
                    },
                    {
                        "name": "groupCode",
                        "in": "query",
                        "description": "Filtra registros por groupCode",
                        "type": "string"
                    },
                    {
                        "name": "groupName",
                        "in": "query",
                        "description": "Filtra registros por groupName",
                        "type": "string"
                    },
                    {
                        "name": "divisionCode",
                        "in": "query",
                        "description": "Filtra registros por divisionCode",
                        "type": "string"
                    },
                    {
                        "name": "divisionName",
                        "in": "query",
                        "description": "Filtra registros por divisionName",
                        "type": "string"
                    },
                    {
                        "name": "departmentCode",
                        "in": "query",
                        "description": "Filtra registros por departmentCode",
                        "type": "string"
                    },
                    {
                        "name": "departmentName",
                        "in": "query",
                        "description": "Filtra registros por departmentName",
                        "type": "string"
                    },
                    {
                        "name": "areaCode",
                        "in": "query",
                        "description": "Filtra registros por areaCode",
                        "type": "string"
                    },
                    {
                        "name": "areaName",
                        "in": "query",
                        "description": "Filtra registros por areaName",
                        "type": "string"
                    },
                    {
                        "name": "subsidiaryCode",
                        "in": "query",
                        "description": "Filtra registros por subsidiaryCode",
                        "type": "string"
                    },
                    {
                        "name": "subsidiaryName",
                        "in": "query",
                        "description": "Filtra registros por subsidiaryName",
                        "type": "string"
                    },
                    {
                        "name": "costCenterCode",
                        "in": "query",
                        "description": "Filtra registros por costCenterCode",
                        "type": "string"
                    },
                    {
                        "name": "costCenterName",
                        "in": "query",
                        "description": "Filtra registros por costCenterName",
                        "type": "string"
                    },
                    {
                        "name": "locationCode",
                        "in": "query",
                        "description": "Filtra registros por locationCode",
                        "type": "string"
                    },
                    {
                        "name": "locationName",
                        "in": "query",
                        "description": "Filtra registros por locationName",
                        "type": "string"
                    },
                    {
                        "name": "hierarchicalLevelCode",
                        "in": "query",
                        "description": "Filtra registros por hierarchicalLevelCode",
                        "type": "string"
                    },
                    {
                        "name": "positionName",
                        "in": "query",
                        "description": "Filtra registros por positionName",
                        "type": "string"
                    },
                    {
                        "name": "hierarchicalLevelName",
                        "in": "query",
                        "description": "Filtra registros por hierarchicalLevelName",
                        "type": "string"
                    },
                    {
                        "name": "depositAccountNumber",
                        "in": "query",
                        "description": "Filtra registros por depositAccountNumber",
                        "type": "string"
                    },
                    {
                        "name": "employeeStartDate",
                        "in": "query",
                        "description": "Filtra registros por employeeStartDate",
                        "type": "string"
                    },
                    {
                        "name": "employeeEndDate",
                        "in": "query",
                        "description": "Filtra registros por employeeEndDate",
                        "type": "string"
                    },
                    {
                        "name": "employeeStatus",
                        "in": "query",
                        "description": "Filtra registros por employeeStatus",
                        "type": "string"
                    },
                    {
                        "name": "employeeCode",
                        "in": "query",
                        "description": "Filtra registros por employeeCode",
                        "type": "string"
                    },
                    {
                        "name": "userType",
                        "in": "query",
                        "description": "Filtra registros por userType",
                        "type": "string"
                    },
                    {
                        "name": "userSubtype",
                        "in": "query",
                        "description": "Filtra registros por userSubtype",
                        "type": "string"
                    },
                    {
                        "name": "mobile",
                        "in": "query",
                        "description": "Filtra registros por mobile",
                        "type": "string"
                    },
                    {
                        "name": "origen",
                        "in": "query",
                        "description": "Filtra registros por origen",
                        "type": "string"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filtra registros por status",
                        "type": "string"
                    },
                    {
                        "name": "createdDate",
                        "in": "query",
                        "description": "Filtra registros por createdDate",
                        "type": "string"
                    },
                    {
                        "name": "plannedExecutionDate",
                        "in": "query",
                        "description": "Filtra registros por plannedExecutionDate",
                        "type": "string"
                    },
                    {
                        "name": "modifyData",
                        "in": "query",
                        "description": "Filtra registros por modifyData",
                        "type": "integer"
                    },
                    {
                        "name": "profileRecalculation",
                        "in": "query",
                        "description": "Filtra registros por profileRecalculation",
                        "type": "integer"
                    },
                    {
                        "name": "typeAction",
                        "in": "query",
                        "description": "Filtra registros por typeAction",
                        "type": "string"
                    },
                    {
                        "name": "mail",
                        "in": "query",
                        "description": "Filtra registros por mail",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileId",
                        "in": "query",
                        "description": "Filtra registros por globalProfileId",
                        "type": "integer"
                    },
                    {
                        "name": "userDataId",
                        "in": "query",
                        "description": "Filtra registros por userDataId",
                        "type": "integer"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SumResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_provisioning_read"
            }
        },
        "/TransactionalIdentity/{from}/{to}": {
            "get": {
                "operationId": "TransactionalIdentity_listRange",
                "summary": "Lista los registros de TransactionalIdentity por posición.",
                "tags": [
                    "TransactionalIdentity"
                ],
                "parameters": [
                    {
                        "name": "from",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "to",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "uuid",
                        "in": "query",
                        "description": "Filtra registros por uuid",
                        "type": "string"
                    },
                    {
                        "name": "guid",
                        "in": "query",
                        "description": "Filtra registros por guid",
                        "type": "string"
                    },
                    {
                        "name": "username",
                        "in": "query",
                        "description": "Filtra registros por username",
                        "type": "string"
                    },
                    {
                        "name": "workerCode",
                        "in": "query",
                        "description": "Filtra registros por workerCode",
                        "type": "string"
                    },
                    {
                        "name": "employeeLastname",
                        "in": "query",
                        "description": "Filtra registros por employeeLastname",
                        "type": "string"
                    },
                    {
                        "name": "employeeFirstname",
                        "in": "query",
                        "description": "Filtra registros por employeeFirstname",
                        "type": "string"
                    },
                    {
                        "name": "identification",
                        "in": "query",
                        "description": "Filtra registros por identification",
                        "type": "string"
                    },
                    {
                        "name": "identificationSupervisor",
                        "in": "query",
                        "description": "Filtra registros por identificationSupervisor",
                        "type": "string"
                    },
                    {
                        "name": "namesSupervisor",
                        "in": "query",
                        "description": "Filtra registros por namesSupervisor",
                        "type": "string"
                    },
                    {
                        "name": "companyCode",
                        "in": "query",
                        "description": "Filtra registros por companyCode",
                        "type": "string"
                    },
                    {
                        "name": "companyName",
                        "in": "query",
                        "description": "Filtra registros por companyName",
                        "type": "string"
                    },
                    {
                        "name": "groupCode",
                        "in": "query",
                        "description": "Filtra registros por groupCode",
                        "type": "string"
                    },
                    {
                        "name": "groupName",
                        "in": "query",
                        "description": "Filtra registros por groupName",
                        "type": "string"
                    },
                    {
                        "name": "divisionCode",
                        "in": "query",
                        "description": "Filtra registros por divisionCode",
                        "type": "string"
                    },
                    {
                        "name": "divisionName",
                        "in": "query",
                        "description": "Filtra registros por divisionName",
                        "type": "string"
                    },
                    {
                        "name": "departmentCode",
                        "in": "query",
                        "description": "Filtra registros por departmentCode",
                        "type": "string"
                    },
                    {
                        "name": "departmentName",
                        "in": "query",
                        "description": "Filtra registros por departmentName",
                        "type": "string"
                    },
                    {
                        "name": "areaCode",
                        "in": "query",
                        "description": "Filtra registros por areaCode",
                        "type": "string"
                    },
                    {
                        "name": "areaName",
                        "in": "query",
                        "description": "Filtra registros por areaName",
                        "type": "string"
                    },
                    {
                        "name": "subsidiaryCode",
                        "in": "query",
                        "description": "Filtra registros por subsidiaryCode",
                        "type": "string"
                    },
                    {
                        "name": "subsidiaryName",
                        "in": "query",
                        "description": "Filtra registros por subsidiaryName",
                        "type": "string"
                    },
                    {
                        "name": "costCenterCode",
                        "in": "query",
                        "description": "Filtra registros por costCenterCode",
                        "type": "string"
                    },
                    {
                        "name": "costCenterName",
                        "in": "query",
                        "description": "Filtra registros por costCenterName",
                        "type": "string"
                    },
                    {
                        "name": "locationCode",
                        "in": "query",
                        "description": "Filtra registros por locationCode",
                        "type": "string"
                    },
                    {
                        "name": "locationName",
                        "in": "query",
                        "description": "Filtra registros por locationName",
                        "type": "string"
                    },
                    {
                        "name": "hierarchicalLevelCode",
                        "in": "query",
                        "description": "Filtra registros por hierarchicalLevelCode",
                        "type": "string"
                    },
                    {
                        "name": "positionName",
                        "in": "query",
                        "description": "Filtra registros por positionName",
                        "type": "string"
                    },
                    {
                        "name": "hierarchicalLevelName",
                        "in": "query",
                        "description": "Filtra registros por hierarchicalLevelName",
                        "type": "string"
                    },
                    {
                        "name": "depositAccountNumber",
                        "in": "query",
                        "description": "Filtra registros por depositAccountNumber",
                        "type": "string"
                    },
                    {
                        "name": "employeeStartDate",
                        "in": "query",
                        "description": "Filtra registros por employeeStartDate",
                        "type": "string"
                    },
                    {
                        "name": "employeeEndDate",
                        "in": "query",
                        "description": "Filtra registros por employeeEndDate",
                        "type": "string"
                    },
                    {
                        "name": "employeeStatus",
                        "in": "query",
                        "description": "Filtra registros por employeeStatus",
                        "type": "string"
                    },
                    {
                        "name": "employeeCode",
                        "in": "query",
                        "description": "Filtra registros por employeeCode",
                        "type": "string"
                    },
                    {
                        "name": "userType",
                        "in": "query",
                        "description": "Filtra registros por userType",
                        "type": "string"
                    },
                    {
                        "name": "userSubtype",
                        "in": "query",
                        "description": "Filtra registros por userSubtype",
                        "type": "string"
                    },
                    {
                        "name": "mobile",
                        "in": "query",
                        "description": "Filtra registros por mobile",
                        "type": "string"
                    },
                    {
                        "name": "origen",
                        "in": "query",
                        "description": "Filtra registros por origen",
                        "type": "string"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filtra registros por status",
                        "type": "string"
                    },
                    {
                        "name": "createdDate",
                        "in": "query",
                        "description": "Filtra registros por createdDate",
                        "type": "string"
                    },
                    {
                        "name": "plannedExecutionDate",
                        "in": "query",
                        "description": "Filtra registros por plannedExecutionDate",
                        "type": "string"
                    },
                    {
                        "name": "modifyData",
                        "in": "query",
                        "description": "Filtra registros por modifyData",
                        "type": "integer"
                    },
                    {
                        "name": "profileRecalculation",
                        "in": "query",
                        "description": "Filtra registros por profileRecalculation",
                        "type": "integer"
                    },
                    {
                        "name": "typeAction",
                        "in": "query",
                        "description": "Filtra registros por typeAction",
                        "type": "string"
                    },
                    {
                        "name": "mail",
                        "in": "query",
                        "description": "Filtra registros por mail",
                        "type": "string"
                    },
                    {
                        "name": "globalProfileId",
                        "in": "query",
                        "description": "Filtra registros por globalProfileId",
                        "type": "integer"
                    },
                    {
                        "name": "userDataId",
                        "in": "query",
                        "description": "Filtra registros por userDataId",
                        "type": "integer"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TransactionalIdentityResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_provisioning_read"
            }
        },
        "/TransactionalIdentity/{id}": {
            "get": {
                "operationId": "TransactionalIdentity_read",
                "summary": "Retorna o respectivo registro de TransactionalIdentity.",
                "tags": [
                    "TransactionalIdentity"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TransactionalIdentity"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_provisioning_read"
            },
            "put": {
                "operationId": "TransactionalIdentity_update",
                "summary": "Actualiza el respectivo registro de TransactionalIdentity.",
                "tags": [
                    "TransactionalIdentity"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Request body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TransactionalIdentity"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_provisioning_read"
            },
            "delete": {
                "operationId": "TransactionalIdentity_delete",
                "summary": "Remove o respectivo registro de TransactionalIdentity.",
                "tags": [
                    "TransactionalIdentity"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_provisioning_read"
            }
        },
        "/OperationProvisioning": {
            "get": {
                "operationId": "OperationProvisioning_listAll",
                "summary": "Lista todos los registros de OperationProvisioning.",
                "tags": [
                    "OperationProvisioning"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "transactionalIdentity.id",
                        "in": "query",
                        "description": "Filtra registros por transactionalIdentity.id",
                        "type": "integer"
                    },
                    {
                        "name": "transactionalIdentity.uuid",
                        "in": "query",
                        "description": "Filtra registros por transactionalIdentity.uuid",
                        "type": "string"
                    },
                    {
                        "name": "transactionalIdentity.guid",
                        "in": "query",
                        "description": "Filtra registros por transactionalIdentity.guid",
                        "type": "string"
                    },
                    {
                        "name": "transactionalIdentity.username",
                        "in": "query",
                        "description": "Filtra registros por transactionalIdentity.username",
                        "type": "string"
                    },
                    {
                        "name": "transactionalIdentity.workerCode",
                        "in": "query",
                        "description": "Filtra registros por transactionalIdentity.workerCode",
                        "type": "string"
                    },
                    {
                        "name": "transactionalIdentity.employeeLastname",
                        "in": "query",
                        "description": "Filtra registros por transactionalIdentity.employeeLastname",
                        "type": "string"
                    },
                    {
                        "name": "transactionalIdentity.employeeFirstname",
                        "in": "query",
                        "description": "Filtra registros por transactionalIdentity.employeeFirstname",
                        "type": "string"
                    },
                    {
                        "name": "transactionalIdentity.identification",
                        "in": "query",
                        "description": "Filtra registros por transactionalIdentity.identification",
                        "type": "string"
                    },
                    {
                        "name": "transactionalIdentity.identificationSupervisor",
                        "in": "query",
                        "description": "Filtra registros por transactionalIdentity.identificationSupervisor",
                        "type": "string"
                    },
                    {
                        "name": "transactionalIdentity.namesSupervisor",
                        "in": "query",
                        "description": "Filtra registros por transactionalIdentity.namesSupervisor",
                        "type": "string"
                    },
                    {
                        "name": "transactionalIdentity.companyCode",
                        "in": "query",
                        "description": "Filtra registros por transactionalIdentity.companyCode",
                        "type": "string"
                    },
                    {
                        "name": "transactionalIdentity.companyName",
                        "in": "query",
                        "description": "Filtra registros por transactionalIdentity.companyName",
                        "type": "string"
                    },
                    {
                        "name": "transactionalIdentity.groupCode",
                        "in": "query",
                        "description": "Filtra registros por transactionalIdentity.groupCode",
                        "type": "string"
                    },
                    {
                        "name": "transactionalIdentity.groupName",
                        "in": "query",
                        "description": "Filtra registros por transactionalIdentity.groupName",
                        "type": "string"
                    },
                    {
                        "name": "transactionalIdentity.divisionCode",
                        "in": "query",
                        "description": "Filtra registros por transactionalIdentity.divisionCode",
                        "type": "string"
                    },
                    {
                        "name": "transactionalIdentity.divisionName",
                        "in": "query",
                        "description": "Filtra registros por transactionalIdentity.divisionName",
                        "type": "string"
                    },
                    {
                        "name": "transactionalIdentity.departmentCode",
                        "in": "query",
                        "description": "Filtra registros por transactionalIdentity.departmentCode",
                        "type": "string"
                    },
                    {
                        "name": "transactionalIdentity.departmentName",
                        "in": "query",
                        "description": "Filtra registros por transactionalIdentity.departmentName",
                        "type": "string"
                    },
                    {
                        "name": "transactionalIdentity.areaCode",
                        "in": "query",
                        "description": "Filtra registros por transactionalIdentity.areaCode",
                        "type": "string"
                    },
                    {
                        "name": "transactionalIdentity.areaName",
                        "in": "query",
                        "description": "Filtra registros por transactionalIdentity.areaName",
                        "type": "string"
                    },
                    {
                        "name": "transactionalIdentity.subsidiaryCode",
                        "in": "query",
                        "description": "Filtra registros por transactionalIdentity.subsidiaryCode",
                        "type": "string"
                    },
                    {
                        "name": "transactionalIdentity.subsidiaryName",
                        "in": "query",
                        "description": "Filtra registros por transactionalIdentity.subsidiaryName",
                        "type": "string"
                    },
                    {
                        "name": "transactionalIdentity.costCenterCode",
                        "in": "query",
                        "description": "Filtra registros por transactionalIdentity.costCenterCode",
                        "type": "string"
                    },
                    {
                        "name": "transactionalIdentity.costCenterName",
                        "in": "query",
                        "description": "Filtra registros por transactionalIdentity.costCenterName",
                        "type": "string"
                    },
                    {
                        "name": "transactionalIdentity.locationCode",
                        "in": "query",
                        "description": "Filtra registros por transactionalIdentity.locationCode",
                        "type": "string"
                    },
                    {
                        "name": "transactionalIdentity.locationName",
                        "in": "query",
                        "description": "Filtra registros por transactionalIdentity.locationName",
                        "type": "string"
                    },
                    {
                        "name": "transactionalIdentity.hierarchicalLevelCode",
                        "in": "query",
                        "description": "Filtra registros por transactionalIdentity.hierarchicalLevelCode",
                        "type": "string"
                    },
                    {
                        "name": "transactionalIdentity.positionName",
                        "in": "query",
                        "description": "Filtra registros por transactionalIdentity.positionName",
                        "type": "string"
                    },
                    {
                        "name": "transactionalIdentity.hierarchicalLevelName",
                        "in": "query",
                        "description": "Filtra registros por transactionalIdentity.hierarchicalLevelName",
                        "type": "string"
                    },
                    {
                        "name": "transactionalIdentity.depositAccountNumber",
                        "in": "query",
                        "description": "Filtra registros por transactionalIdentity.depositAccountNumber",
                        "type": "string"
                    },
                    {
                        "name": "transactionalIdentity.employeeStartDate",
                        "in": "query",
                        "description": "Filtra registros por transactionalIdentity.employeeStartDate",
                        "type": "string"
                    },
                    {
                        "name": "transactionalIdentity.employeeEndDate",
                        "in": "query",
                        "description": "Filtra registros por transactionalIdentity.employeeEndDate",
                        "type": "string"
                    },
                    {
                        "name": "transactionalIdentity.employeeStatus",
                        "in": "query",
                        "description": "Filtra registros por transactionalIdentity.employeeStatus",
                        "type": "string"
                    },
                    {
                        "name": "transactionalIdentity.employeeCode",
                        "in": "query",
                        "description": "Filtra registros por transactionalIdentity.employeeCode",
                        "type": "string"
                    },
                    {
                        "name": "transactionalIdentity.userType",
                        "in": "query",
                        "description": "Filtra registros por transactionalIdentity.userType",
                        "type": "string"
                    },
                    {
                        "name": "transactionalIdentity.userSubtype",
                        "in": "query",
                        "description": "Filtra registros por transactionalIdentity.userSubtype",
                        "type": "string"
                    },
                    {
                        "name": "transactionalIdentity.mobile",
                        "in": "query",
                        "description": "Filtra registros por transactionalIdentity.mobile",
                        "type": "string"
                    },
                    {
                        "name": "transactionalIdentity.origen",
                        "in": "query",
                        "description": "Filtra registros por transactionalIdentity.origen",
                        "type": "string"
                    },
                    {
                        "name": "transactionalIdentity.status",
                        "in": "query",
                        "description": "Filtra registros por transactionalIdentity.status",
                        "type": "string"
                    },
                    {
                        "name": "transactionalIdentity.createdDate",
                        "in": "query",
                        "description": "Filtra registros por transactionalIdentity.createdDate",
                        "type": "string"
                    },
                    {
                        "name": "transactionalIdentity.plannedExecutionDate",
                        "in": "query",
                        "description": "Filtra registros por transactionalIdentity.plannedExecutionDate",
                        "type": "string"
                    },
                    {
                        "name": "transactionalIdentity.modifyData",
                        "in": "query",
                        "description": "Filtra registros por transactionalIdentity.modifyData",
                        "type": "integer"
                    },
                    {
                        "name": "transactionalIdentity.profileRecalculation",
                        "in": "query",
                        "description": "Filtra registros por transactionalIdentity.profileRecalculation",
                        "type": "integer"
                    },
                    {
                        "name": "transactionalIdentity.typeAction",
                        "in": "query",
                        "description": "Filtra registros por transactionalIdentity.typeAction",
                        "type": "string"
                    },
                    {
                        "name": "transactionalIdentity.mail",
                        "in": "query",
                        "description": "Filtra registros por transactionalIdentity.mail",
                        "type": "string"
                    },
                    {
                        "name": "transactionalIdentity.globalProfileId",
                        "in": "query",
                        "description": "Filtra registros por transactionalIdentity.globalProfileId",
                        "type": "integer"
                    },
                    {
                        "name": "transactionalIdentity.userDataId",
                        "in": "query",
                        "description": "Filtra registros por transactionalIdentity.userDataId",
                        "type": "integer"
                    },
                    {
                        "name": "transactionalIdentity.valid",
                        "in": "query",
                        "description": "Filtra registros por transactionalIdentity.valid",
                        "type": "integer"
                    },
                    {
                        "name": "globalProfile.id",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.id",
                        "type": "integer"
                    },
                    {
                        "name": "globalProfile.code",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.code",
                        "type": "string"
                    },
                    {
                        "name": "globalProfile.name",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.name",
                        "type": "string"
                    },
                    {
                        "name": "globalProfile.isBirth",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.isBirth",
                        "type": "integer"
                    },
                    {
                        "name": "globalProfile.employeeCodeOwner",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.employeeCodeOwner",
                        "type": "string"
                    },
                    {
                        "name": "globalProfile.catalogPositionOwner.id",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.catalogPositionOwner.id",
                        "type": "integer"
                    },
                    {
                        "name": "globalProfile.catalogPositionOwner.code",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.catalogPositionOwner.code",
                        "type": "string"
                    },
                    {
                        "name": "globalProfile.catalogPositionOwner.name",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.catalogPositionOwner.name",
                        "type": "string"
                    },
                    {
                        "name": "globalProfile.catalogPositionOwner.predetermined",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.catalogPositionOwner.predetermined",
                        "type": "integer"
                    },
                    {
                        "name": "globalProfile.catalogPositionOwner.ordinal",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.catalogPositionOwner.ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "globalProfile.catalogPositionOwner.valueText",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.catalogPositionOwner.valueText",
                        "type": "string"
                    },
                    {
                        "name": "globalProfile.catalogPositionOwner.valueNumber",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.catalogPositionOwner.valueNumber",
                        "type": "number"
                    },
                    {
                        "name": "globalProfile.catalogPositionOwner.valueDate",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.catalogPositionOwner.valueDate",
                        "type": "string"
                    },
                    {
                        "name": "globalProfile.catalogPositionOwner.valueBoolean",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.catalogPositionOwner.valueBoolean",
                        "type": "integer"
                    },
                    {
                        "name": "globalProfile.catalogPositionOwner.catalogType.id",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.catalogPositionOwner.catalogType.id",
                        "type": "integer"
                    },
                    {
                        "name": "globalProfile.catalogPositionOwner.catalogType.code",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.catalogPositionOwner.catalogType.code",
                        "type": "string"
                    },
                    {
                        "name": "globalProfile.catalogPositionOwner.catalogType.name",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.catalogPositionOwner.catalogType.name",
                        "type": "string"
                    },
                    {
                        "name": "globalProfile.catalogPositionOwner.catalogType.sortType",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.catalogPositionOwner.catalogType.sortType",
                        "type": "string"
                    },
                    {
                        "name": "globalProfile.catalogPositionOwner.catalogType.editable",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.catalogPositionOwner.catalogType.editable",
                        "type": "integer"
                    },
                    {
                        "name": "globalProfile.catalogPositionOwner.catalogType.valid",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.catalogPositionOwner.catalogType.valid",
                        "type": "integer"
                    },
                    {
                        "name": "globalProfile.catalogPositionOwner.catalogType.description",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.catalogPositionOwner.catalogType.description",
                        "type": "string"
                    },
                    {
                        "name": "globalProfile.catalogPositionOwner.valid",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.catalogPositionOwner.valid",
                        "type": "integer"
                    },
                    {
                        "name": "globalProfile.valid",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.valid",
                        "type": "integer"
                    },
                    {
                        "name": "globalProfile.associatedTicketNumber",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.associatedTicketNumber",
                        "type": "string"
                    },
                    {
                        "name": "globalProfile.status",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.status",
                        "type": "string"
                    },
                    {
                        "name": "globalProfile.createdDate",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.createdDate",
                        "type": "string"
                    },
                    {
                        "name": "globalProfile.approvalDate",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.approvalDate",
                        "type": "string"
                    },
                    {
                        "name": "globalProfile.employeeCodeApproval",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.employeeCodeApproval",
                        "type": "string"
                    },
                    {
                        "name": "globalProfile.observation",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.observation",
                        "type": "string"
                    },
                    {
                        "name": "globalProfile.scopeRulesWho",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.scopeRulesWho",
                        "type": "string"
                    },
                    {
                        "name": "globalProfile.scopeRulesThat",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.scopeRulesThat",
                        "type": "string"
                    },
                    {
                        "name": "globalProfile.codeParent",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.codeParent",
                        "type": "string"
                    },
                    {
                        "name": "userData.id",
                        "in": "query",
                        "description": "Filtra registros por userData.id",
                        "type": "integer"
                    },
                    {
                        "name": "userData.username",
                        "in": "query",
                        "description": "Filtra registros por userData.username",
                        "type": "string"
                    },
                    {
                        "name": "userData.employeeFirstSurname",
                        "in": "query",
                        "description": "Filtra registros por userData.employeeFirstSurname",
                        "type": "string"
                    },
                    {
                        "name": "userData.employeeSecondSurname",
                        "in": "query",
                        "description": "Filtra registros por userData.employeeSecondSurname",
                        "type": "string"
                    },
                    {
                        "name": "userData.employeeFirstName",
                        "in": "query",
                        "description": "Filtra registros por userData.employeeFirstName",
                        "type": "string"
                    },
                    {
                        "name": "userData.employeeSecondName",
                        "in": "query",
                        "description": "Filtra registros por userData.employeeSecondName",
                        "type": "string"
                    },
                    {
                        "name": "userData.employeeCompleteName",
                        "in": "query",
                        "description": "Filtra registros por userData.employeeCompleteName",
                        "type": "string"
                    },
                    {
                        "name": "userData.identification",
                        "in": "query",
                        "description": "Filtra registros por userData.identification",
                        "type": "string"
                    },
                    {
                        "name": "userData.companyId",
                        "in": "query",
                        "description": "Filtra registros por userData.companyId",
                        "type": "integer"
                    },
                    {
                        "name": "userData.catalogDivisionId",
                        "in": "query",
                        "description": "Filtra registros por userData.catalogDivisionId",
                        "type": "integer"
                    },
                    {
                        "name": "userData.catalogAreaId",
                        "in": "query",
                        "description": "Filtra registros por userData.catalogAreaId",
                        "type": "integer"
                    },
                    {
                        "name": "userData.catalogDepartmentId",
                        "in": "query",
                        "description": "Filtra registros por userData.catalogDepartmentId",
                        "type": "integer"
                    },
                    {
                        "name": "userData.catalogPositionId",
                        "in": "query",
                        "description": "Filtra registros por userData.catalogPositionId",
                        "type": "integer"
                    },
                    {
                        "name": "userData.groupingCode",
                        "in": "query",
                        "description": "Filtra registros por userData.groupingCode",
                        "type": "string"
                    },
                    {
                        "name": "userData.subsidiaryCode",
                        "in": "query",
                        "description": "Filtra registros por userData.subsidiaryCode",
                        "type": "string"
                    },
                    {
                        "name": "userData.subsidiaryName",
                        "in": "query",
                        "description": "Filtra registros por userData.subsidiaryName",
                        "type": "string"
                    },
                    {
                        "name": "userData.costCenterId",
                        "in": "query",
                        "description": "Filtra registros por userData.costCenterId",
                        "type": "integer"
                    },
                    {
                        "name": "userData.locationName",
                        "in": "query",
                        "description": "Filtra registros por userData.locationName",
                        "type": "string"
                    },
                    {
                        "name": "userData.hierarchicalLevel",
                        "in": "query",
                        "description": "Filtra registros por userData.hierarchicalLevel",
                        "type": "string"
                    },
                    {
                        "name": "userData.depositAccountNumber",
                        "in": "query",
                        "description": "Filtra registros por userData.depositAccountNumber",
                        "type": "string"
                    },
                    {
                        "name": "userData.employeeIncomeDate",
                        "in": "query",
                        "description": "Filtra registros por userData.employeeIncomeDate",
                        "type": "string"
                    },
                    {
                        "name": "userData.employeeDepartureDate",
                        "in": "query",
[...]
