{
    "swagger": "2.0",
    "info": {
        "version": "v1",
        "title": "CentraID_API_identity",
        "description": "API para integración de CentraID paquete identity"
    },
    "host": "api.centraid.com",
    "schemes": [
        "https"
    ],
    "basePath": "/api.centraid/identity",
    "paths": {
        "/UserData": {
            "get": {
                "operationId": "UserData_listAll",
                "summary": "Lista todos los registros de UserData.",
                "tags": [
                    "UserData"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "username",
                        "in": "query",
                        "description": "Filtra registros por username",
                        "type": "string"
                    },
                    {
                        "name": "employeeFirstSurname",
                        "in": "query",
                        "description": "Filtra registros por employeeFirstSurname",
                        "type": "string"
                    },
                    {
                        "name": "employeeSecondSurname",
                        "in": "query",
                        "description": "Filtra registros por employeeSecondSurname",
                        "type": "string"
                    },
                    {
                        "name": "employeeFirstName",
                        "in": "query",
                        "description": "Filtra registros por employeeFirstName",
                        "type": "string"
                    },
                    {
                        "name": "employeeSecondName",
                        "in": "query",
                        "description": "Filtra registros por employeeSecondName",
                        "type": "string"
                    },
                    {
                        "name": "employeeCompleteName",
                        "in": "query",
                        "description": "Filtra registros por employeeCompleteName",
                        "type": "string"
                    },
                    {
                        "name": "identification",
                        "in": "query",
                        "description": "Filtra registros por identification",
                        "type": "string"
                    },
                    {
                        "name": "company.id",
                        "in": "query",
                        "description": "Filtra registros por company.id",
                        "type": "integer"
                    },
                    {
                        "name": "company.code",
                        "in": "query",
                        "description": "Filtra registros por company.code",
                        "type": "string"
                    },
                    {
                        "name": "company.identifier",
                        "in": "query",
                        "description": "Filtra registros por company.identifier",
                        "type": "string"
                    },
                    {
                        "name": "company.businessName",
                        "in": "query",
                        "description": "Filtra registros por company.businessName",
                        "type": "string"
                    },
                    {
                        "name": "company.catalogCompanyType.id",
                        "in": "query",
                        "description": "Filtra registros por company.catalogCompanyType.id",
                        "type": "integer"
                    },
                    {
                        "name": "company.catalogCompanyType.code",
                        "in": "query",
                        "description": "Filtra registros por company.catalogCompanyType.code",
                        "type": "string"
                    },
                    {
                        "name": "company.catalogCompanyType.name",
                        "in": "query",
                        "description": "Filtra registros por company.catalogCompanyType.name",
                        "type": "string"
                    },
                    {
                        "name": "company.catalogCompanyType.predetermined",
                        "in": "query",
                        "description": "Filtra registros por company.catalogCompanyType.predetermined",
                        "type": "integer"
                    },
                    {
                        "name": "company.catalogCompanyType.ordinal",
                        "in": "query",
                        "description": "Filtra registros por company.catalogCompanyType.ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "company.catalogCompanyType.valueText",
                        "in": "query",
                        "description": "Filtra registros por company.catalogCompanyType.valueText",
                        "type": "string"
                    },
                    {
                        "name": "company.catalogCompanyType.valueNumber",
                        "in": "query",
                        "description": "Filtra registros por company.catalogCompanyType.valueNumber",
                        "type": "number"
                    },
                    {
                        "name": "company.catalogCompanyType.valueDate",
                        "in": "query",
                        "description": "Filtra registros por company.catalogCompanyType.valueDate",
                        "type": "string"
                    },
                    {
                        "name": "company.catalogCompanyType.valueBoolean",
                        "in": "query",
                        "description": "Filtra registros por company.catalogCompanyType.valueBoolean",
                        "type": "integer"
                    },
                    {
                        "name": "company.catalogCompanyType.catalogType.id",
                        "in": "query",
                        "description": "Filtra registros por company.catalogCompanyType.catalogType.id",
                        "type": "integer"
                    },
                    {
                        "name": "company.catalogCompanyType.catalogType.code",
                        "in": "query",
                        "description": "Filtra registros por company.catalogCompanyType.catalogType.code",
                        "type": "string"
                    },
                    {
                        "name": "company.catalogCompanyType.catalogType.name",
                        "in": "query",
                        "description": "Filtra registros por company.catalogCompanyType.catalogType.name",
                        "type": "string"
                    },
                    {
                        "name": "company.catalogCompanyType.catalogType.sortType",
                        "in": "query",
                        "description": "Filtra registros por company.catalogCompanyType.catalogType.sortType",
                        "type": "string"
                    },
                    {
                        "name": "company.catalogCompanyType.catalogType.editable",
                        "in": "query",
                        "description": "Filtra registros por company.catalogCompanyType.catalogType.editable",
                        "type": "integer"
                    },
                    {
                        "name": "company.catalogCompanyType.catalogType.valid",
                        "in": "query",
                        "description": "Filtra registros por company.catalogCompanyType.catalogType.valid",
                        "type": "integer"
                    },
                    {
                        "name": "company.catalogCompanyType.catalogType.description",
                        "in": "query",
                        "description": "Filtra registros por company.catalogCompanyType.catalogType.description",
                        "type": "string"
                    },
                    {
                        "name": "company.catalogCompanyType.valid",
                        "in": "query",
                        "description": "Filtra registros por company.catalogCompanyType.valid",
                        "type": "integer"
                    },
                    {
                        "name": "company.domainName",
                        "in": "query",
                        "description": "Filtra registros por company.domainName",
                        "type": "string"
                    },
                    {
                        "name": "company.valid",
                        "in": "query",
                        "description": "Filtra registros por company.valid",
                        "type": "integer"
                    },
                    {
                        "name": "catalogDivision.id",
                        "in": "query",
                        "description": "Filtra registros por catalogDivision.id",
                        "type": "integer"
                    },
                    {
                        "name": "catalogDivision.code",
                        "in": "query",
                        "description": "Filtra registros por catalogDivision.code",
                        "type": "string"
                    },
                    {
                        "name": "catalogDivision.name",
                        "in": "query",
                        "description": "Filtra registros por catalogDivision.name",
                        "type": "string"
                    },
                    {
                        "name": "catalogDivision.predetermined",
                        "in": "query",
                        "description": "Filtra registros por catalogDivision.predetermined",
                        "type": "integer"
                    },
                    {
                        "name": "catalogDivision.ordinal",
                        "in": "query",
                        "description": "Filtra registros por catalogDivision.ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "catalogDivision.valueText",
                        "in": "query",
                        "description": "Filtra registros por catalogDivision.valueText",
                        "type": "string"
                    },
                    {
                        "name": "catalogDivision.valueNumber",
                        "in": "query",
                        "description": "Filtra registros por catalogDivision.valueNumber",
                        "type": "number"
                    },
                    {
                        "name": "catalogDivision.valueDate",
                        "in": "query",
                        "description": "Filtra registros por catalogDivision.valueDate",
                        "type": "string"
                    },
                    {
                        "name": "catalogDivision.valueBoolean",
                        "in": "query",
                        "description": "Filtra registros por catalogDivision.valueBoolean",
                        "type": "integer"
                    },
                    {
                        "name": "catalogDivision.catalogType.id",
                        "in": "query",
                        "description": "Filtra registros por catalogDivision.catalogType.id",
                        "type": "integer"
                    },
                    {
                        "name": "catalogDivision.catalogType.code",
                        "in": "query",
                        "description": "Filtra registros por catalogDivision.catalogType.code",
                        "type": "string"
                    },
                    {
                        "name": "catalogDivision.catalogType.name",
                        "in": "query",
                        "description": "Filtra registros por catalogDivision.catalogType.name",
                        "type": "string"
                    },
                    {
                        "name": "catalogDivision.catalogType.sortType",
                        "in": "query",
                        "description": "Filtra registros por catalogDivision.catalogType.sortType",
                        "type": "string"
                    },
                    {
                        "name": "catalogDivision.catalogType.editable",
                        "in": "query",
                        "description": "Filtra registros por catalogDivision.catalogType.editable",
                        "type": "integer"
                    },
                    {
                        "name": "catalogDivision.catalogType.valid",
                        "in": "query",
                        "description": "Filtra registros por catalogDivision.catalogType.valid",
                        "type": "integer"
                    },
                    {
                        "name": "catalogDivision.catalogType.description",
                        "in": "query",
                        "description": "Filtra registros por catalogDivision.catalogType.description",
                        "type": "string"
                    },
                    {
                        "name": "catalogDivision.valid",
                        "in": "query",
                        "description": "Filtra registros por catalogDivision.valid",
                        "type": "integer"
                    },
                    {
                        "name": "catalogArea.id",
                        "in": "query",
                        "description": "Filtra registros por catalogArea.id",
                        "type": "integer"
                    },
                    {
                        "name": "catalogArea.code",
                        "in": "query",
                        "description": "Filtra registros por catalogArea.code",
                        "type": "string"
                    },
                    {
                        "name": "catalogArea.name",
                        "in": "query",
                        "description": "Filtra registros por catalogArea.name",
                        "type": "string"
                    },
                    {
                        "name": "catalogArea.predetermined",
                        "in": "query",
                        "description": "Filtra registros por catalogArea.predetermined",
                        "type": "integer"
                    },
                    {
                        "name": "catalogArea.ordinal",
                        "in": "query",
                        "description": "Filtra registros por catalogArea.ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "catalogArea.valueText",
                        "in": "query",
                        "description": "Filtra registros por catalogArea.valueText",
                        "type": "string"
                    },
                    {
                        "name": "catalogArea.valueNumber",
                        "in": "query",
                        "description": "Filtra registros por catalogArea.valueNumber",
                        "type": "number"
                    },
                    {
                        "name": "catalogArea.valueDate",
                        "in": "query",
                        "description": "Filtra registros por catalogArea.valueDate",
                        "type": "string"
                    },
                    {
                        "name": "catalogArea.valueBoolean",
                        "in": "query",
                        "description": "Filtra registros por catalogArea.valueBoolean",
                        "type": "integer"
                    },
                    {
                        "name": "catalogArea.catalogType.id",
                        "in": "query",
                        "description": "Filtra registros por catalogArea.catalogType.id",
                        "type": "integer"
                    },
                    {
                        "name": "catalogArea.catalogType.code",
                        "in": "query",
                        "description": "Filtra registros por catalogArea.catalogType.code",
                        "type": "string"
                    },
                    {
                        "name": "catalogArea.catalogType.name",
                        "in": "query",
                        "description": "Filtra registros por catalogArea.catalogType.name",
                        "type": "string"
                    },
                    {
                        "name": "catalogArea.catalogType.sortType",
                        "in": "query",
                        "description": "Filtra registros por catalogArea.catalogType.sortType",
                        "type": "string"
                    },
                    {
                        "name": "catalogArea.catalogType.editable",
                        "in": "query",
                        "description": "Filtra registros por catalogArea.catalogType.editable",
                        "type": "integer"
                    },
                    {
                        "name": "catalogArea.catalogType.valid",
                        "in": "query",
                        "description": "Filtra registros por catalogArea.catalogType.valid",
                        "type": "integer"
                    },
                    {
                        "name": "catalogArea.catalogType.description",
                        "in": "query",
                        "description": "Filtra registros por catalogArea.catalogType.description",
                        "type": "string"
                    },
                    {
                        "name": "catalogArea.valid",
                        "in": "query",
                        "description": "Filtra registros por catalogArea.valid",
                        "type": "integer"
                    },
                    {
                        "name": "catalogDepartment.id",
                        "in": "query",
                        "description": "Filtra registros por catalogDepartment.id",
                        "type": "integer"
                    },
                    {
                        "name": "catalogDepartment.code",
                        "in": "query",
                        "description": "Filtra registros por catalogDepartment.code",
                        "type": "string"
                    },
                    {
                        "name": "catalogDepartment.name",
                        "in": "query",
                        "description": "Filtra registros por catalogDepartment.name",
                        "type": "string"
                    },
                    {
                        "name": "catalogDepartment.predetermined",
                        "in": "query",
                        "description": "Filtra registros por catalogDepartment.predetermined",
                        "type": "integer"
                    },
                    {
                        "name": "catalogDepartment.ordinal",
                        "in": "query",
                        "description": "Filtra registros por catalogDepartment.ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "catalogDepartment.valueText",
                        "in": "query",
                        "description": "Filtra registros por catalogDepartment.valueText",
                        "type": "string"
                    },
                    {
                        "name": "catalogDepartment.valueNumber",
                        "in": "query",
                        "description": "Filtra registros por catalogDepartment.valueNumber",
                        "type": "number"
                    },
                    {
                        "name": "catalogDepartment.valueDate",
                        "in": "query",
                        "description": "Filtra registros por catalogDepartment.valueDate",
                        "type": "string"
                    },
                    {
                        "name": "catalogDepartment.valueBoolean",
                        "in": "query",
                        "description": "Filtra registros por catalogDepartment.valueBoolean",
                        "type": "integer"
                    },
                    {
                        "name": "catalogDepartment.catalogType.id",
                        "in": "query",
                        "description": "Filtra registros por catalogDepartment.catalogType.id",
                        "type": "integer"
                    },
                    {
                        "name": "catalogDepartment.catalogType.code",
                        "in": "query",
                        "description": "Filtra registros por catalogDepartment.catalogType.code",
                        "type": "string"
                    },
                    {
                        "name": "catalogDepartment.catalogType.name",
                        "in": "query",
                        "description": "Filtra registros por catalogDepartment.catalogType.name",
                        "type": "string"
                    },
                    {
                        "name": "catalogDepartment.catalogType.sortType",
                        "in": "query",
                        "description": "Filtra registros por catalogDepartment.catalogType.sortType",
                        "type": "string"
                    },
                    {
                        "name": "catalogDepartment.catalogType.editable",
                        "in": "query",
                        "description": "Filtra registros por catalogDepartment.catalogType.editable",
                        "type": "integer"
                    },
                    {
                        "name": "catalogDepartment.catalogType.valid",
                        "in": "query",
                        "description": "Filtra registros por catalogDepartment.catalogType.valid",
                        "type": "integer"
                    },
                    {
                        "name": "catalogDepartment.catalogType.description",
                        "in": "query",
                        "description": "Filtra registros por catalogDepartment.catalogType.description",
                        "type": "string"
                    },
                    {
                        "name": "catalogDepartment.valid",
                        "in": "query",
                        "description": "Filtra registros por catalogDepartment.valid",
                        "type": "integer"
                    },
                    {
                        "name": "catalogPosition.id",
                        "in": "query",
                        "description": "Filtra registros por catalogPosition.id",
                        "type": "integer"
                    },
                    {
                        "name": "catalogPosition.code",
                        "in": "query",
                        "description": "Filtra registros por catalogPosition.code",
                        "type": "string"
                    },
                    {
                        "name": "catalogPosition.name",
                        "in": "query",
                        "description": "Filtra registros por catalogPosition.name",
                        "type": "string"
                    },
                    {
                        "name": "catalogPosition.predetermined",
                        "in": "query",
                        "description": "Filtra registros por catalogPosition.predetermined",
                        "type": "integer"
                    },
                    {
                        "name": "catalogPosition.ordinal",
                        "in": "query",
                        "description": "Filtra registros por catalogPosition.ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "catalogPosition.valueText",
                        "in": "query",
                        "description": "Filtra registros por catalogPosition.valueText",
                        "type": "string"
                    },
                    {
                        "name": "catalogPosition.valueNumber",
                        "in": "query",
                        "description": "Filtra registros por catalogPosition.valueNumber",
                        "type": "number"
                    },
                    {
                        "name": "catalogPosition.valueDate",
                        "in": "query",
                        "description": "Filtra registros por catalogPosition.valueDate",
                        "type": "string"
                    },
                    {
                        "name": "catalogPosition.valueBoolean",
                        "in": "query",
                        "description": "Filtra registros por catalogPosition.valueBoolean",
                        "type": "integer"
                    },
                    {
                        "name": "catalogPosition.catalogType.id",
                        "in": "query",
                        "description": "Filtra registros por catalogPosition.catalogType.id",
                        "type": "integer"
                    },
                    {
                        "name": "catalogPosition.catalogType.code",
                        "in": "query",
                        "description": "Filtra registros por catalogPosition.catalogType.code",
                        "type": "string"
                    },
                    {
                        "name": "catalogPosition.catalogType.name",
                        "in": "query",
                        "description": "Filtra registros por catalogPosition.catalogType.name",
                        "type": "string"
                    },
                    {
                        "name": "catalogPosition.catalogType.sortType",
                        "in": "query",
                        "description": "Filtra registros por catalogPosition.catalogType.sortType",
                        "type": "string"
                    },
                    {
                        "name": "catalogPosition.catalogType.editable",
                        "in": "query",
                        "description": "Filtra registros por catalogPosition.catalogType.editable",
                        "type": "integer"
                    },
                    {
                        "name": "catalogPosition.catalogType.valid",
                        "in": "query",
                        "description": "Filtra registros por catalogPosition.catalogType.valid",
                        "type": "integer"
                    },
                    {
                        "name": "catalogPosition.catalogType.description",
                        "in": "query",
                        "description": "Filtra registros por catalogPosition.catalogType.description",
                        "type": "string"
                    },
                    {
                        "name": "catalogPosition.valid",
                        "in": "query",
                        "description": "Filtra registros por catalogPosition.valid",
                        "type": "integer"
                    },
                    {
                        "name": "groupingCode",
                        "in": "query",
                        "description": "Filtra registros por groupingCode",
                        "type": "string"
                    },
                    {
                        "name": "subsidiaryCode",
                        "in": "query",
                        "description": "Filtra registros por subsidiaryCode",
                        "type": "string"
                    },
                    {
                        "name": "subsidiaryName",
                        "in": "query",
                        "description": "Filtra registros por subsidiaryName",
                        "type": "string"
                    },
                    {
                        "name": "costCenter.id",
                        "in": "query",
                        "description": "Filtra registros por costCenter.id",
                        "type": "integer"
                    },
                    {
                        "name": "costCenter.code",
                        "in": "query",
                        "description": "Filtra registros por costCenter.code",
                        "type": "string"
                    },
                    {
                        "name": "costCenter.name",
                        "in": "query",
                        "description": "Filtra registros por costCenter.name",
                        "type": "string"
                    },
                    {
                        "name": "costCenter.company.id",
                        "in": "query",
                        "description": "Filtra registros por costCenter.company.id",
                        "type": "integer"
                    },
                    {
                        "name": "costCenter.company.code",
                        "in": "query",
                        "description": "Filtra registros por costCenter.company.code",
                        "type": "string"
                    },
                    {
                        "name": "costCenter.company.identifier",
                        "in": "query",
                        "description": "Filtra registros por costCenter.company.identifier",
                        "type": "string"
                    },
                    {
                        "name": "costCenter.company.businessName",
                        "in": "query",
                        "description": "Filtra registros por costCenter.company.businessName",
                        "type": "string"
                    },
                    {
                        "name": "costCenter.company.catalogCompanyType.id",
                        "in": "query",
                        "description": "Filtra registros por costCenter.company.catalogCompanyType.id",
                        "type": "integer"
                    },
                    {
                        "name": "costCenter.company.catalogCompanyType.code",
                        "in": "query",
                        "description": "Filtra registros por costCenter.company.catalogCompanyType.code",
                        "type": "string"
                    },
                    {
                        "name": "costCenter.company.catalogCompanyType.name",
                        "in": "query",
                        "description": "Filtra registros por costCenter.company.catalogCompanyType.name",
                        "type": "string"
                    },
                    {
                        "name": "costCenter.company.catalogCompanyType.predetermined",
                        "in": "query",
                        "description": "Filtra registros por costCenter.company.catalogCompanyType.predetermined",
                        "type": "integer"
                    },
                    {
                        "name": "costCenter.company.catalogCompanyType.ordinal",
                        "in": "query",
                        "description": "Filtra registros por costCenter.company.catalogCompanyType.ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "costCenter.company.catalogCompanyType.valueText",
                        "in": "query",
                        "description": "Filtra registros por costCenter.company.catalogCompanyType.valueText",
                        "type": "string"
                    },
                    {
                        "name": "costCenter.company.catalogCompanyType.valueNumber",
                        "in": "query",
                        "description": "Filtra registros por costCenter.company.catalogCompanyType.valueNumber",
                        "type": "number"
                    },
                    {
                        "name": "costCenter.company.catalogCompanyType.valueDate",
                        "in": "query",
                        "description": "Filtra registros por costCenter.company.catalogCompanyType.valueDate",
                        "type": "string"
                    },
                    {
                        "name": "costCenter.company.catalogCompanyType.valueBoolean",
                        "in": "query",
                        "description": "Filtra registros por costCenter.company.catalogCompanyType.valueBoolean",
                        "type": "integer"
                    },
                    {
                        "name": "costCenter.company.catalogCompanyType.catalogType.id",
                        "in": "query",
                        "description": "Filtra registros por costCenter.company.catalogCompanyType.catalogType.id",
                        "type": "integer"
                    },
                    {
                        "name": "costCenter.company.catalogCompanyType.catalogType.code",
                        "in": "query",
                        "description": "Filtra registros por costCenter.company.catalogCompanyType.catalogType.code",
                        "type": "string"
                    },
                    {
                        "name": "costCenter.company.catalogCompanyType.catalogType.name",
                        "in": "query",
                        "description": "Filtra registros por costCenter.company.catalogCompanyType.catalogType.name",
                        "type": "string"
                    },
                    {
                        "name": "costCenter.company.catalogCompanyType.catalogType.sortType",
                        "in": "query",
                        "description": "Filtra registros por costCenter.company.catalogCompanyType.catalogType.sortType",
                        "type": "string"
                    },
                    {
                        "name": "costCenter.company.catalogCompanyType.catalogType.editable",
                        "in": "query",
                        "description": "Filtra registros por costCenter.company.catalogCompanyType.catalogType.editable",
                        "type": "integer"
                    },
                    {
                        "name": "costCenter.company.catalogCompanyType.catalogType.valid",
                        "in": "query",
                        "description": "Filtra registros por costCenter.company.catalogCompanyType.catalogType.valid",
                        "type": "integer"
                    },
                    {
                        "name": "costCenter.company.catalogCompanyType.catalogType.description",
                        "in": "query",
                        "description": "Filtra registros por costCenter.company.catalogCompanyType.catalogType.description",
                        "type": "string"
                    },
                    {
                        "name": "costCenter.company.catalogCompanyType.valid",
                        "in": "query",
                        "description": "Filtra registros por costCenter.company.catalogCompanyType.valid",
                        "type": "integer"
                    },
                    {
                        "name": "costCenter.company.domainName",
                        "in": "query",
                        "description": "Filtra registros por costCenter.company.domainName",
                        "type": "string"
                    },
                    {
                        "name": "costCenter.company.valid",
                        "in": "query",
                        "description": "Filtra registros por costCenter.company.valid",
                        "type": "integer"
                    },
                    {
                        "name": "costCenter.parent.id",
                        "in": "query",
                        "description": "Filtra registros por costCenter.parent.id",
                        "type": "integer"
                    },
                    {
                        "name": "costCenter.parent.code",
                        "in": "query",
                        "description": "Filtra registros por costCenter.parent.code",
                        "type": "string"
                    },
                    {
                        "name": "costCenter.parent.name",
                        "in": "query",
                        "description": "Filtra registros por costCenter.parent.name",
                        "type": "string"
                    },
                    {
                        "name": "costCenter.parent.company.id",
                        "in": "query",
                        "description": "Filtra registros por costCenter.parent.company.id",
                        "type": "integer"
                    },
                    {
                        "name": "costCenter.parent.company.code",
                        "in": "query",
                        "description": "Filtra registros por costCenter.parent.company.code",
                        "type": "string"
                    },
                    {
                        "name": "costCenter.parent.company.identifier",
                        "in": "query",
                        "description": "Filtra registros por costCenter.parent.company.identifier",
                        "type": "string"
                    },
                    {
                        "name": "costCenter.parent.company.businessName",
                        "in": "query",
                        "description": "Filtra registros por costCenter.parent.company.businessName",
                        "type": "string"
                    },
                    {
                        "name": "costCenter.parent.company.catalogCompanyType.id",
                        "in": "query",
                        "description": "Filtra registros por costCenter.parent.company.catalogCompanyType.id",
                        "type": "integer"
                    },
                    {
                        "name": "costCenter.parent.company.catalogCompanyType.code",
                        "in": "query",
                        "description": "Filtra registros por costCenter.parent.company.catalogCompanyType.code",
                        "type": "string"
                    },
                    {
                        "name": "costCenter.parent.company.catalogCompanyType.name",
                        "in": "query",
                        "description": "Filtra registros por costCenter.parent.company.catalogCompanyType.name",
                        "type": "string"
                    },
                    {
                        "name": "costCenter.parent.company.catalogCompanyType.predetermined",
                        "in": "query",
                        "description": "Filtra registros por costCenter.parent.company.catalogCompanyType.predetermined",
                        "type": "integer"
                    },
                    {
                        "name": "costCenter.parent.company.catalogCompanyType.ordinal",
                        "in": "query",
                        "description": "Filtra registros por costCenter.parent.company.catalogCompanyType.ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "costCenter.parent.company.catalogCompanyType.valueText",
                        "in": "query",
                        "description": "Filtra registros por costCenter.parent.company.catalogCompanyType.valueText",
                        "type": "string"
                    },
                    {
                        "name": "costCenter.parent.company.catalogCompanyType.valueNumber",
                        "in": "query",
                        "description": "Filtra registros por costCenter.parent.company.catalogCompanyType.valueNumber",
                        "type": "number"
                    },
                    {
                        "name": "costCenter.parent.company.catalogCompanyType.valueDate",
                        "in": "query",
                        "description": "Filtra registros por costCenter.parent.company.catalogCompanyType.valueDate",
                        "type": "string"
                    },
                    {
                        "name": "costCenter.parent.company.catalogCompanyType.valueBoolean",
                        "in": "query",
                        "description": "Filtra registros por costCenter.parent.company.catalogCompanyType.valueBoolean",
                        "type": "integer"
                    },
                    {
                        "name": "costCenter.parent.company.catalogCompanyType.valid",
                        "in": "query",
                        "description": "Filtra registros por costCenter.parent.company.catalogCompanyType.valid",
                        "type": "integer"
                    },
                    {
                        "name": "costCenter.parent.company.domainName",
                        "in": "query",
                        "description": "Filtra registros por costCenter.parent.company.domainName",
                        "type": "string"
                    },
                    {
                        "name": "costCenter.parent.company.valid",
                        "in": "query",
                        "description": "Filtra registros por costCenter.parent.company.valid",
                        "type": "integer"
                    },
                    {
                        "name": "costCenter.parent.parent.id",
                        "in": "query",
                        "description": "Filtra registros por costCenter.parent.parent.id",
                        "type": "integer"
                    },
                    {
                        "name": "costCenter.parent.parent.code",
                        "in": "query",
                        "description": "Filtra registros por costCenter.parent.parent.code",
                        "type": "string"
                    },
                    {
                        "name": "costCenter.parent.parent.name",
                        "in": "query",
                        "description": "Filtra registros por costCenter.parent.parent.name",
                        "type": "string"
                    },
                    {
                        "name": "costCenter.parent.parent.company.id",
                        "in": "query",
                        "description": "Filtra registros por costCenter.parent.parent.company.id",
                        "type": "integer"
                    },
                    {
                        "name": "costCenter.parent.parent.company.code",
                        "in": "query",
                        "description": "Filtra registros por costCenter.parent.parent.company.code",
                        "type": "string"
                    },
                    {
                        "name": "costCenter.parent.parent.company.identifier",
                        "in": "query",
                        "description": "Filtra registros por costCenter.parent.parent.company.identifier",
                        "type": "string"
                    },
                    {
                        "name": "costCenter.parent.parent.company.businessName",
                        "in": "query",
                        "description": "Filtra registros por costCenter.parent.parent.company.businessName",
                        "type": "string"
                    },
                    {
                        "name": "costCenter.parent.parent.company.domainName",
                        "in": "query",
                        "description": "Filtra registros por costCenter.parent.parent.company.domainName",
                        "type": "string"
                    },
                    {
                        "name": "costCenter.parent.parent.company.valid",
                        "in": "query",
                        "description": "Filtra registros por costCenter.parent.parent.company.valid",
                        "type": "integer"
                    },
                    {
                        "name": "costCenter.parent.parent.parent.id",
                        "in": "query",
                        "description": "Filtra registros por costCenter.parent.parent.parent.id",
                        "type": "integer"
                    },
                    {
                        "name": "costCenter.parent.parent.parent.code",
                        "in": "query",
                        "description": "Filtra registros por costCenter.parent.parent.parent.code",
                        "type": "string"
                    },
                    {
                        "name": "costCenter.parent.parent.parent.name",
                        "in": "query",
                        "description": "Filtra registros por costCenter.parent.parent.parent.name",
                        "type": "string"
                    },
                    {
                        "name": "costCenter.parent.parent.parent.status",
                        "in": "query",
                        "description": "Filtra registros por costCenter.parent.parent.parent.status",
                        "type": "string"
                    },
                    {
                        "name": "costCenter.parent.parent.parent.valid",
                        "in": "query",
                        "description": "Filtra registros por costCenter.parent.parent.parent.valid",
                        "type": "integer"
                    },
                    {
                        "name": "costCenter.parent.parent.status",
                        "in": "query",
                        "description": "Filtra registros por costCenter.parent.parent.status",
                        "type": "string"
                    },
                    {
                        "name": "costCenter.parent.parent.valid",
                        "in": "query",
                        "description": "Filtra registros por costCenter.parent.parent.valid",
                        "type": "integer"
                    },
                    {
                        "name": "costCenter.parent.status",
                        "in": "query",
                        "description": "Filtra registros por costCenter.parent.status",
                        "type": "string"
                    },
                    {
                        "name": "costCenter.parent.valid",
                        "in": "query",
                        "description": "Filtra registros por costCenter.parent.valid",
                        "type": "integer"
                    },
                    {
                        "name": "costCenter.status",
                        "in": "query",
                        "description": "Filtra registros por costCenter.status",
                        "type": "string"
                    },
                    {
                        "name": "costCenter.valid",
                        "in": "query",
                        "description": "Filtra registros por costCenter.valid",
                        "type": "integer"
                    },
                    {
                        "name": "locationName",
                        "in": "query",
                        "description": "Filtra registros por locationName",
                        "type": "string"
                    },
                    {
                        "name": "hierarchicalLevel",
                        "in": "query",
                        "description": "Filtra registros por hierarchicalLevel",
                        "type": "string"
                    },
                    {
                        "name": "depositAccountNumber",
                        "in": "query",
                        "description": "Filtra registros por depositAccountNumber",
                        "type": "string"
                    },
                    {
                        "name": "employeeIncomeDate",
                        "in": "query",
                        "description": "Filtra registros por employeeIncomeDate",
                        "type": "string"
                    },
                    {
                        "name": "employeeDepartureDate",
                        "in": "query",
                        "description": "Filtra registros por employeeDepartureDate",
                        "type": "string"
                    },
                    {
                        "name": "employeeStatus",
                        "in": "query",
                        "description": "Filtra registros por employeeStatus",
                        "type": "string"
                    },
                    {
                        "name": "employeeCode",
                        "in": "query",
                        "description": "Filtra registros por employeeCode",
                        "type": "string"
                    },
                    {
                        "name": "typeUser.id",
                        "in": "query",
                        "description": "Filtra registros por typeUser.id",
                        "type": "integer"
                    },
                    {
                        "name": "typeUser.parent.id",
                        "in": "query",
                        "description": "Filtra registros por typeUser.parent.id",
                        "type": "integer"
                    },
                    {
                        "name": "typeUser.parent.parent.id",
                        "in": "query",
                        "description": "Filtra registros por typeUser.parent.parent.id",
                        "type": "integer"
                    },
                    {
                        "name": "typeUser.parent.parent.parent.id",
                        "in": "query",
                        "description": "Filtra registros por typeUser.parent.parent.parent.id",
                        "type": "integer"
                    },
                    {
                        "name": "typeUser.parent.parent.parent.code",
                        "in": "query",
                        "description": "Filtra registros por typeUser.parent.parent.parent.code",
                        "type": "string"
                    },
                    {
                        "name": "typeUser.parent.parent.parent.name",
                        "in": "query",
                        "description": "Filtra registros por typeUser.parent.parent.parent.name",
                        "type": "string"
                    },
                    {
                        "name": "typeUser.parent.parent.parent.type",
                        "in": "query",
                        "description": "Filtra registros por typeUser.parent.parent.parent.type",
                        "type": "string"
                    },
                    {
                        "name": "typeUser.parent.parent.parent.valid",
                        "in": "query",
                        "description": "Filtra registros por typeUser.parent.parent.parent.valid",
                        "type": "integer"
                    },
                    {
                        "name": "typeUser.parent.parent.code",
                        "in": "query",
                        "description": "Filtra registros por typeUser.parent.parent.code",
                        "type": "string"
                    },
                    {
                        "name": "typeUser.parent.parent.name",
                        "in": "query",
                        "description": "Filtra registros por typeUser.parent.parent.name",
                        "type": "string"
                    },
                    {
                        "name": "typeUser.parent.parent.type",
                        "in": "query",
                        "description": "Filtra registros por typeUser.parent.parent.type",
                        "type": "string"
                    },
                    {
                        "name": "typeUser.parent.parent.valid",
                        "in": "query",
                        "description": "Filtra registros por typeUser.parent.parent.valid",
                        "type": "integer"
                    },
                    {
                        "name": "typeUser.parent.code",
                        "in": "query",
                        "description": "Filtra registros por typeUser.parent.code",
                        "type": "string"
                    },
                    {
                        "name": "typeUser.parent.name",
                        "in": "query",
                        "description": "Filtra registros por typeUser.parent.name",
                        "type": "string"
                    },
                    {
                        "name": "typeUser.parent.type",
                        "in": "query",
                        "description": "Filtra registros por typeUser.parent.type",
                        "type": "string"
                    },
                    {
                        "name": "typeUser.parent.valid",
                        "in": "query",
                        "description": "Filtra registros por typeUser.parent.valid",
                        "type": "integer"
                    },
                    {
                        "name": "typeUser.code",
                        "in": "query",
                        "description": "Filtra registros por typeUser.code",
                        "type": "string"
                    },
                    {
                        "name": "typeUser.name",
                        "in": "query",
                        "description": "Filtra registros por typeUser.name",
                        "type": "string"
                    },
                    {
                        "name": "typeUser.type",
                        "in": "query",
                        "description": "Filtra registros por typeUser.type",
                        "type": "string"
                    },
                    {
                        "name": "typeUser.valid",
                        "in": "query",
                        "description": "Filtra registros por typeUser.valid",
                        "type": "integer"
                    },
                    {
                        "name": "subtypeUser.id",
                        "in": "query",
                        "description": "Filtra registros por subtypeUser.id",
                        "type": "integer"
                    },
                    {
                        "name": "subtypeUser.parent.id",
                        "in": "query",
                        "description": "Filtra registros por subtypeUser.parent.id",
                        "type": "integer"
                    },
                    {
                        "name": "subtypeUser.parent.parent.id",
                        "in": "query",
                        "description": "Filtra registros por subtypeUser.parent.parent.id",
                        "type": "integer"
                    },
                    {
                        "name": "subtypeUser.parent.parent.parent.id",
                        "in": "query",
                        "description": "Filtra registros por subtypeUser.parent.parent.parent.id",
                        "type": "integer"
                    },
                    {
                        "name": "subtypeUser.parent.parent.parent.code",
                        "in": "query",
                        "description": "Filtra registros por subtypeUser.parent.parent.parent.code",
                        "type": "string"
                    },
                    {
                        "name": "subtypeUser.parent.parent.parent.name",
                        "in": "query",
                        "description": "Filtra registros por subtypeUser.parent.parent.parent.name",
                        "type": "string"
                    },
                    {
                        "name": "subtypeUser.parent.parent.parent.type",
                        "in": "query",
                        "description": "Filtra registros por subtypeUser.parent.parent.parent.type",
                        "type": "string"
                    },
                    {
                        "name": "subtypeUser.parent.parent.parent.valid",
                        "in": "query",
                        "description": "Filtra registros por subtypeUser.parent.parent.parent.valid",
                        "type": "integer"
                    },
                    {
                        "name": "subtypeUser.parent.parent.code",
                        "in": "query",
                        "description": "Filtra registros por subtypeUser.parent.parent.code",
                        "type": "string"
                    },
                    {
                        "name": "subtypeUser.parent.parent.name",
                        "in": "query",
                        "description": "Filtra registros por subtypeUser.parent.parent.name",
                        "type": "string"
                    },
                    {
                        "name": "subtypeUser.parent.parent.type",
                        "in": "query",
                        "description": "Filtra registros por subtypeUser.parent.parent.type",
                        "type": "string"
                    },
                    {
                        "name": "subtypeUser.parent.parent.valid",
                        "in": "query",
                        "description": "Filtra registros por subtypeUser.parent.parent.valid",
                        "type": "integer"
                    },
                    {
                        "name": "subtypeUser.parent.code",
                        "in": "query",
                        "description": "Filtra registros por subtypeUser.parent.code",
                        "type": "string"
                    },
                    {
                        "name": "subtypeUser.parent.name",
                        "in": "query",
                        "description": "Filtra registros por subtypeUser.parent.name",
                        "type": "string"
                    },
                    {
                        "name": "subtypeUser.parent.type",
                        "in": "query",
                        "description": "Filtra registros por subtypeUser.parent.type",
                        "type": "string"
                    },
                    {
                        "name": "subtypeUser.parent.valid",
                        "in": "query",
                        "description": "Filtra registros por subtypeUser.parent.valid",
                        "type": "integer"
                    },
                    {
                        "name": "subtypeUser.code",
                        "in": "query",
                        "description": "Filtra registros por subtypeUser.code",
                        "type": "string"
                    },
                    {
                        "name": "subtypeUser.name",
                        "in": "query",
                        "description": "Filtra registros por subtypeUser.name",
                        "type": "string"
                    },
                    {
                        "name": "subtypeUser.type",
                        "in": "query",
                        "description": "Filtra registros por subtypeUser.type",
                        "type": "string"
                    },
                    {
                        "name": "subtypeUser.valid",
                        "in": "query",
                        "description": "Filtra registros por subtypeUser.valid",
                        "type": "integer"
                    },
                    {
                        "name": "registrationDate",
                        "in": "query",
                        "description": "Filtra registros por registrationDate",
                        "type": "string"
                    },
                    {
                        "name": "guid",
                        "in": "query",
                        "description": "Filtra registros por guid",
                        "type": "string"
                    },
                    {
                        "name": "typeEvent",
                        "in": "query",
                        "description": "Filtra registros por typeEvent",
                        "type": "string"
                    },
                    {
                        "name": "dataDate",
                        "in": "query",
                        "description": "Filtra registros por dataDate",
                        "type": "string"
                    },
                    {
                        "name": "uuid",
                        "in": "query",
                        "description": "Filtra registros por uuid",
                        "type": "string"
                    },
                    {
                        "name": "provisionDate",
                        "in": "query",
                        "description": "Filtra registros por provisionDate",
                        "type": "string"
                    },
                    {
                        "name": "mobile",
                        "in": "query",
                        "description": "Filtra registros por mobile",
                        "type": "string"
                    },
                    {
                        "name": "suspensionStartDate",
                        "in": "query",
                        "description": "Filtra registros por suspensionStartDate",
                        "type": "string"
                    },
                    {
                        "name": "suspensionEndDate",
                        "in": "query",
                        "description": "Filtra registros por suspensionEndDate",
                        "type": "string"
                    },
                    {
                        "name": "suspensionReason",
                        "in": "query",
                        "description": "Filtra registros por suspensionReason",
                        "type": "string"
                    },
                    {
                        "name": "suspensionType",
                        "in": "query",
                        "description": "Filtra registros por suspensionType",
                        "type": "string"
                    },
                    {
                        "name": "validationStartDate",
                        "in": "query",
                        "description": "Filtra registros por validationStartDate",
                        "type": "string"
                    },
                    {
                        "name": "validationEndDate",
                        "in": "query",
                        "description": "Filtra registros por validationEndDate",
                        "type": "string"
                    },
                    {
                        "name": "endingWorkDate",
                        "in": "query",
                        "description": "Filtra registros por endingWorkDate",
                        "type": "string"
                    },
                    {
                        "name": "catalogIdentificationType.id",
                        "in": "query",
                        "description": "Filtra registros por catalogIdentificationType.id",
                        "type": "integer"
                    },
                    {
                        "name": "catalogIdentificationType.code",
                        "in": "query",
                        "description": "Filtra registros por catalogIdentificationType.code",
                        "type": "string"
                    },
                    {
                        "name": "catalogIdentificationType.name",
                        "in": "query",
                        "description": "Filtra registros por catalogIdentificationType.name",
                        "type": "string"
                    },
                    {
                        "name": "catalogIdentificationType.predetermined",
                        "in": "query",
                        "description": "Filtra registros por catalogIdentificationType.predetermined",
                        "type": "integer"
                    },
                    {
                        "name": "catalogIdentificationType.ordinal",
                        "in": "query",
                        "description": "Filtra registros por catalogIdentificationType.ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "catalogIdentificationType.valueText",
                        "in": "query",
                        "description": "Filtra registros por catalogIdentificationType.valueText",
                        "type": "string"
                    },
                    {
                        "name": "catalogIdentificationType.valueNumber",
                        "in": "query",
                        "description": "Filtra registros por catalogIdentificationType.valueNumber",
                        "type": "number"
                    },
                    {
                        "name": "catalogIdentificationType.valueDate",
                        "in": "query",
                        "description": "Filtra registros por catalogIdentificationType.valueDate",
                        "type": "string"
                    },
                    {
                        "name": "catalogIdentificationType.valueBoolean",
                        "in": "query",
                        "description": "Filtra registros por catalogIdentificationType.valueBoolean",
                        "type": "integer"
                    },
                    {
                        "name": "catalogIdentificationType.catalogType.id",
                        "in": "query",
                        "description": "Filtra registros por catalogIdentificationType.catalogType.id",
                        "type": "integer"
                    },
                    {
                        "name": "catalogIdentificationType.catalogType.code",
                        "in": "query",
                        "description": "Filtra registros por catalogIdentificationType.catalogType.code",
                        "type": "string"
                    },
                    {
                        "name": "catalogIdentificationType.catalogType.name",
                        "in": "query",
                        "description": "Filtra registros por catalogIdentificationType.catalogType.name",
                        "type": "string"
                    },
                    {
                        "name": "catalogIdentificationType.catalogType.sortType",
                        "in": "query",
                        "description": "Filtra registros por catalogIdentificationType.catalogType.sortType",
                        "type": "string"
                    },
                    {
                        "name": "catalogIdentificationType.catalogType.editable",
                        "in": "query",
                        "description": "Filtra registros por catalogIdentificationType.catalogType.editable",
                        "type": "integer"
                    },
                    {
                        "name": "catalogIdentificationType.catalogType.valid",
                        "in": "query",
                        "description": "Filtra registros por catalogIdentificationType.catalogType.valid",
                        "type": "integer"
                    },
                    {
                        "name": "catalogIdentificationType.catalogType.description",
                        "in": "query",
                        "description": "Filtra registros por catalogIdentificationType.catalogType.description",
                        "type": "string"
                    },
                    {
                        "name": "catalogIdentificationType.valid",
                        "in": "query",
                        "description": "Filtra registros por catalogIdentificationType.valid",
                        "type": "integer"
                    },
                    {
                        "name": "globalProfile.id",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.id",
                        "type": "integer"
                    },
                    {
                        "name": "globalProfile.code",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.code",
                        "type": "string"
                    },
                    {
                        "name": "globalProfile.name",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.name",
                        "type": "string"
                    },
                    {
                        "name": "globalProfile.isBirth",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.isBirth",
                        "type": "integer"
                    },
                    {
                        "name": "globalProfile.employeeCodeOwner",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.employeeCodeOwner",
                        "type": "string"
                    },
                    {
                        "name": "globalProfile.catalogPositionOwner.id",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.catalogPositionOwner.id",
                        "type": "integer"
                    },
                    {
                        "name": "globalProfile.catalogPositionOwner.code",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.catalogPositionOwner.code",
                        "type": "string"
                    },
                    {
                        "name": "globalProfile.catalogPositionOwner.name",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.catalogPositionOwner.name",
                        "type": "string"
                    },
                    {
                        "name": "globalProfile.catalogPositionOwner.predetermined",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.catalogPositionOwner.predetermined",
                        "type": "integer"
                    },
                    {
                        "name": "globalProfile.catalogPositionOwner.ordinal",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.catalogPositionOwner.ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "globalProfile.catalogPositionOwner.valueText",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.catalogPositionOwner.valueText",
                        "type": "string"
                    },
                    {
                        "name": "globalProfile.catalogPositionOwner.valueNumber",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.catalogPositionOwner.valueNumber",
                        "type": "number"
                    },
                    {
                        "name": "globalProfile.catalogPositionOwner.valueDate",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.catalogPositionOwner.valueDate",
                        "type": "string"
                    },
                    {
                        "name": "globalProfile.catalogPositionOwner.valueBoolean",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.catalogPositionOwner.valueBoolean",
                        "type": "integer"
                    },
                    {
                        "name": "globalProfile.catalogPositionOwner.catalogType.id",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.catalogPositionOwner.catalogType.id",
                        "type": "integer"
                    },
                    {
                        "name": "globalProfile.catalogPositionOwner.catalogType.code",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.catalogPositionOwner.catalogType.code",
                        "type": "string"
                    },
                    {
                        "name": "globalProfile.catalogPositionOwner.catalogType.name",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.catalogPositionOwner.catalogType.name",
                        "type": "string"
                    },
                    {
                        "name": "globalProfile.catalogPositionOwner.catalogType.sortType",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.catalogPositionOwner.catalogType.sortType",
                        "type": "string"
                    },
                    {
                        "name": "globalProfile.catalogPositionOwner.catalogType.editable",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.catalogPositionOwner.catalogType.editable",
                        "type": "integer"
                    },
                    {
                        "name": "globalProfile.catalogPositionOwner.catalogType.valid",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.catalogPositionOwner.catalogType.valid",
                        "type": "integer"
                    },
                    {
                        "name": "globalProfile.catalogPositionOwner.catalogType.description",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.catalogPositionOwner.catalogType.description",
                        "type": "string"
                    },
                    {
                        "name": "globalProfile.catalogPositionOwner.valid",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.catalogPositionOwner.valid",
                        "type": "integer"
                    },
                    {
                        "name": "globalProfile.valid",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.valid",
                        "type": "integer"
                    },
                    {
                        "name": "globalProfile.associatedTicketNumber",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.associatedTicketNumber",
                        "type": "string"
                    },
                    {
                        "name": "globalProfile.status",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.status",
                        "type": "string"
                    },
                    {
                        "name": "globalProfile.createdDate",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.createdDate",
                        "type": "string"
                    },
                    {
                        "name": "globalProfile.approvalDate",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.approvalDate",
                        "type": "string"
                    },
                    {
                        "name": "globalProfile.employeeCodeApproval",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.employeeCodeApproval",
                        "type": "string"
                    },
                    {
                        "name": "globalProfile.observation",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.observation",
                        "type": "string"
                    },
                    {
                        "name": "globalProfile.scopeRulesWho",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.scopeRulesWho",
                        "type": "string"
                    },
                    {
                        "name": "globalProfile.scopeRulesThat",
                        "in": "query",
                        "description": "Filtra registros por globalProfile.scopeRulesThat",
                        "type": "string"
                    },
                    {
                        "name": "mail",
                        "in": "query",
                        "description": "Filtra registros por mail",
                        "type": "string"
                    },
                    {
                        "name": "effectiveDate",
                        "in": "query",
                        "description": "Filtra registros por effectiveDate",
                        "type": "string"
                    },
                    {
                        "name": "usernameView",
                        "in": "query",
                        "description": "Filtra registros por usernameView",
                        "type": "string"
                    },
                    {
                        "name": "userdataSupervisorId",
                        "in": "query",
                        "description": "Filtra registros por userdataSupervisorId",
                        "type": "integer"
                    },
                    {
                        "name": "userdataResponsibleUserId",
                        "in": "query",
                        "description": "Filtra registros por userdataResponsibleUserId",
                        "type": "integer"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    },
                    {
                        "name": "workerCode",
                        "in": "query",
                        "description": "Filtra registros por workerCode",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/UserDataResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_identity_read"
            },
            "post": {
                "operationId": "UserData_create",
                "summary": "Crea un registro de UserData.",
                "tags": [
                    "UserData"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Request body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UserData"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/UserData"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_identity_create"
            }
        },
        "/UserData/count": {
            "get": {
                "operationId": "UserData_count",
                "summary": "Retorna total de registros de UserData.",
                "tags": [
                    "UserData"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "username",
                        "in": "query",
                        "description": "Filtra registros por username",
                        "type": "string"
                    },
                    {
                        "name": "employeeFirstSurname",
                        "in": "query",
                        "description": "Filtra registros por employeeFirstSurname",
                        "type": "string"
                    },
                    {
                        "name": "employeeSecondSurname",
                        "in": "query",
                        "description": "Filtra registros por employeeSecondSurname",
                        "type": "string"
                    },
                    {
                        "name": "employeeFirstName",
                        "in": "query",
                        "description": "Filtra registros por employeeFirstName",
                        "type": "string"
                    },
                    {
                        "name": "employeeSecondName",
                        "in": "query",
                        "description": "Filtra registros por employeeSecondName",
                        "type": "string"
                    },
                    {
                        "name": "employeeCompleteName",
                        "in": "query",
                        "description": "Filtra registros por employeeCompleteName",
                        "type": "string"
                    },
                    {
                        "name": "identification",
                        "in": "query",
                        "description": "Filtra registros por identification",
                        "type": "string"
                    },
                    {
                        "name": "company.id",
                        "in": "query",
                        "description": "Filtra registros por company.id",
                        "type": "integer"
                    },
                    {
                        "name": "company.code",
                        "in": "query",
                        "description": "Filtra registros por company.code",
                        "type": "string"
                    },
                    {
                        "name": "company.identifier",
                        "in": "query",
                        "description": "Filtra registros por company.identifier",
                        "type": "string"
                    },
                    {
                        "name": "company.businessName",
                        "in": "query",
                        "description": "Filtra registros por company.businessName",
                        "type": "string"
                    },
                    {
                        "name": "company.catalogCompanyType.id",
                        "in": "query",
                        "description": "Filtra registros por company.catalogCompanyType.id",
                        "type": "integer"
                    },
                    {
                        "name": "company.catalogCompanyType.code",
                        "in": "query",
                        "description": "Filtra registros por company.catalogCompanyType.code",
                        "type": "string"
                    },
                    {
                        "name": "company.catalogCompanyType.name",
                        "in": "query",
                        "description": "Filtra registros por company.catalogCompanyType.name",
                        "type": "string"
                    },
                    {
                        "name": "company.catalogCompanyType.predetermined",
                        "in": "query",
                        "description": "Filtra registros por company.catalogCompanyType.predetermined",
                        "type": "integer"
                    },
                    {
                        "name": "company.catalogCompanyType.ordinal",
                        "in": "query",
                        "description": "Filtra registros por company.catalogCompanyType.ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "company.catalogCompanyType.valueText",
                        "in": "query",
                        "description": "Filtra registros por company.catalogCompanyType.valueText",
                        "type": "string"
                    },
                    {
                        "name": "company.catalogCompanyType.valueNumber",
                        "in": "query",
                        "description": "Filtra registros por company.catalogCompanyType.valueNumber",
                        "type": "number"
                    },
                    {
                        "name": "company.catalogCompanyType.valueDate",
                        "in": "query",
                        "description": "Filtra registros por company.catalogCompanyType.valueDate",
                        "type": "string"
                    },
                    {
                        "name": "company.catalogCompanyType.valueBoolean",
                        "in": "query",
                        "description": "Filtra registros por company.catalogCompanyType.valueBoolean",
                        "type": "integer"
                    },
                    {
                        "name": "company.catalogCompanyType.catalogType.id",
                        "in": "query",
                        "description": "Filtra registros por company.catalogCompanyType.catalogType.id",
                        "type": "integer"
                    },
                    {
                        "name": "company.catalogCompanyType.catalogType.code",
                        "in": "query",
                        "description": "Filtra registros por company.catalogCompanyType.catalogType.code",
                        "type": "string"
                    },
                    {
                        "name": "company.catalogCompanyType.catalogType.name",
                        "in": "query",
                        "description": "Filtra registros por company.catalogCompanyType.catalogType.name",
                        "type": "string"
                    },
                    {
                        "name": "company.catalogCompanyType.catalogType.sortType",
                        "in": "query",
                        "description": "Filtra registros por company.catalogCompanyType.catalogType.sortType",
                        "type": "string"
                    },
                    {
                        "name": "company.catalogCompanyType.catalogType.editable",
                        "in": "query",
                        "description": "Filtra registros por company.catalogCompanyType.catalogType.editable",
                        "type": "integer"
                    },
                    {
                        "name": "company.catalogCompanyType.catalogType.valid",
                        "in": "query",
                        "description": "Filtra registros por company.catalogCompanyType.catalogType.valid",
                        "type": "integer"
                    },
                    {
                        "name": "company.catalogCompanyType.catalogType.description",
                        "in": "query",
                        "description": "Filtra registros por company.catalogCompanyType.catalogType.description",
                        "type": "string"
                    },
                    {
                        "name": "company.catalogCompanyType.valid",
                        "in": "query",
                        "description": "Filtra registros por company.catalogCompanyType.valid",
                        "type": "integer"
                    },
                    {
                        "name": "company.domainName",
                        "in": "query",
                        "description": "Filtra registros por company.domainName",
                        "type": "string"
                    },
                    {
                        "name": "company.valid",
                        "in": "query",
                        "description": "Filtra registros por company.valid",
                        "type": "integer"
                    },
                    {
                        "name": "catalogDivision.id",
                        "in": "query",
                        "description": "Filtra registros por catalogDivision.id",
                        "type": "integer"
                    },
                    {
                        "name": "catalogDivision.code",
                        "in": "query",
                        "description": "Filtra registros por catalogDivision.code",
                        "type": "string"
                    },
                    {
                        "name": "catalogDivision.name",
                        "in": "query",
                        "description": "Filtra registros por catalogDivision.name",
                        "type": "string"
                    },
                    {
                        "name": "catalogDivision.predetermined",
                        "in": "query",
                        "description": "Filtra registros por catalogDivision.predetermined",
                        "type": "integer"
                    },
                    {
                        "name": "catalogDivision.ordinal",
                        "in": "query",
                        "description": "Filtra registros por catalogDivision.ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "catalogDivision.valueText",
                        "in": "query",
                        "description": "Filtra registros por catalogDivision.valueText",
                        "type": "string"
                    },
                    {
                        "name": "catalogDivision.valueNumber",
                        "in": "query",
                        "description": "Filtra registros por catalogDivision.valueNumber",
                        "type": "number"
                    },
                    {
                        "name": "catalogDivision.valueDate",
                        "in": "query",
                        "description": "Filtra registros por catalogDivision.valueDate",
                        "type": "string"
                    },
                    {
                        "name": "catalogDivision.valueBoolean",
                        "in": "query",
                        "description": "Filtra registros por catalogDivision.valueBoolean",
                        "type": "integer"
                    },
                    {
                        "name": "catalogDivision.catalogType.id",
                        "in": "query",
                        "description": "Filtra registros por catalogDivision.catalogType.id",
                        "type": "integer"
                    },
                    {
                        "name": "catalogDivision.catalogType.code",
                        "in": "query",
                        "description": "Filtra registros por catalogDivision.catalogType.code",
                        "type": "string"
                    },
                    {
                        "name": "catalogDivision.catalogType.name",
                        "in": "query",
                        "description": "Filtra registros por catalogDivision.catalogType.name",
                        "type": "string"
                    },
                    {
                        "name": "catalogDivision.catalogType.sortType",
                        "in": "query",
                        "description": "Filtra registros por catalogDivision.catalogType.sortType",
                        "type": "string"
                    },
                    {
                        "name": "catalogDivision.catalogType.editable",
                        "in": "query",
                        "description": "Filtra registros por catalogDivision.catalogType.editable",
                        "type": "integer"
                    },
                    {
                        "name": "catalogDivision.catalogType.valid",
                        "in": "query",
                        "description": "Filtra registros por catalogDivision.catalogType.valid",
                        "type": "integer"
                    },
                    {
                        "name": "catalogDivision.catalogType.description",
                        "in": "query",
                        "description": "Filtra registros por catalogDivision.catalogType.description",
                        "type": "string"
                    },
                    {
                        "name": "catalogDivision.valid",
                        "in": "query",
                        "description": "Filtra registros por catalogDivision.valid",
                        "type": "integer"
                    },
                    {
                        "name": "catalogArea.id",
                        "in": "query",
                        "description": "Filtra registros por catalogArea.id",
                        "type": "integer"
                    },
                    {
                        "name": "catalogArea.code",
                        "in": "query",
                        "description": "Filtra registros por catalogArea.code",
                        "type": "string"
                    },
                    {
                        "name": "catalogArea.name",
                        "in": "query",
                        "description": "Filtra registros por catalogArea.name",
                        "type": "string"
                    },
                    {
                        "name": "catalogArea.predetermined",
                        "in": "query",
                        "description": "Filtra registros por catalogArea.predetermined",
                        "type": "integer"
                    },
                    {
                        "name": "catalogArea.ordinal",
                        "in": "query",
                        "description": "Filtra registros por catalogArea.ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "catalogArea.valueText",
                        "in": "query",
                        "description": "Filtra registros por catalogArea.valueText",
                        "type": "string"
                    },
                    {
                        "name": "catalogArea.valueNumber",
                        "in": "query",
                        "description": "Filtra registros por catalogArea.valueNumber",
                        "type": "number"
                    },
                    {
                        "name": "catalogArea.valueDate",
                        "in": "query",
                        "description": "Filtra registros por catalogArea.valueDate",
                        "type": "string"
                    },
                    {
                        "name": "catalogArea.valueBoolean",
                        "in": "query",
                        "description": "Filtra registros por catalogArea.valueBoolean",
                        "type": "integer"
                    },
                    {
                        "name": "catalogArea.catalogType.id",
                        "in": "query",
                        "description": "Filtra registros por catalogArea.catalogType.id",
                        "type": "integer"
                    },
                    {
                        "name": "catalogArea.catalogType.code",
                        "in": "query",
                        "description": "Filtra registros por catalogArea.catalogType.code",
                        "type": "string"
                    },
                    {
                        "name": "catalogArea.catalogType.name",
                        "in": "query",
                        "description": "Filtra registros por catalogArea.catalogType.name",
                        "type": "string"
                    },
                    {
[...]
