{
    "swagger": "2.0",
    "info": {
        "version": "v1",
        "title": "CentraID_API_application",
        "description": "API para integración de CentraID paquete application"
    },
    "host": "api.centraid.com",
    "schemes": [
        "https"
    ],
    "basePath": "/api.centraid/application",
    "paths": {
        "/ApplicationGroup": {
            "get": {
                "operationId": "ApplicationGroup_listAll",
                "summary": "Lista todos los registros de ApplicationGroup.",
                "tags": [
                    "ApplicationGroup"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Filtra registros por code",
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Filtra registros por name",
                        "type": "string"
                    },
                    {
                        "name": "endpointType",
                        "in": "query",
                        "description": "Filtra registros por endpointType",
                        "type": "string"
                    },
                    {
                        "name": "ordinal",
                        "in": "query",
                        "description": "Filtra registros por ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    },
                    {
                        "name": "numberRetries",
                        "in": "query",
                        "description": "Filtra registros por numberRetries",
                        "type": "integer"
                    },
                    {
                        "name": "timeBetweenRetries",
                        "in": "query",
                        "description": "Filtra registros por timeBetweenRetries",
                        "type": "integer"
                    },
                    {
                        "name": "errorsNotRequireTicket",
                        "in": "query",
                        "description": "Filtra registros por errorsNotRequireTicket",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ApplicationGroupResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_application_read"
            },
            "post": {
                "operationId": "ApplicationGroup_create",
                "summary": "Crea un registro de ApplicationGroup.",
                "tags": [
                    "ApplicationGroup"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Request body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ApplicationGroup"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ApplicationGroup"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_application_read"
            }
        },
        "/ApplicationGroup/count": {
            "get": {
                "operationId": "ApplicationGroup_count",
                "summary": "Retorna total de registros de ApplicationGroup.",
                "tags": [
                    "ApplicationGroup"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Filtra registros por code",
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Filtra registros por name",
                        "type": "string"
                    },
                    {
                        "name": "endpointType",
                        "in": "query",
                        "description": "Filtra registros por endpointType",
                        "type": "string"
                    },
                    {
                        "name": "ordinal",
                        "in": "query",
                        "description": "Filtra registros por ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    },
                    {
                        "name": "numberRetries",
                        "in": "query",
                        "description": "Filtra registros por numberRetries",
                        "type": "integer"
                    },
                    {
                        "name": "timeBetweenRetries",
                        "in": "query",
                        "description": "Filtra registros por timeBetweenRetries",
                        "type": "integer"
                    },
                    {
                        "name": "errorsNotRequireTicket",
                        "in": "query",
                        "description": "Filtra registros por errorsNotRequireTicket",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CountResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_application_read"
            }
        },
        "/ApplicationGroup/max/{campo}": {
            "get": {
                "operationId": "ApplicationGroup_max",
                "summary": "Retorna el valor máximo de campo de los registros de ApplicationGroup.",
                "tags": [
                    "ApplicationGroup"
                ],
                "parameters": [
                    {
                        "name": "campo",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Filtra registros por code",
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Filtra registros por name",
                        "type": "string"
                    },
                    {
                        "name": "endpointType",
                        "in": "query",
                        "description": "Filtra registros por endpointType",
                        "type": "string"
                    },
                    {
                        "name": "ordinal",
                        "in": "query",
                        "description": "Filtra registros por ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    },
                    {
                        "name": "numberRetries",
                        "in": "query",
                        "description": "Filtra registros por numberRetries",
                        "type": "integer"
                    },
                    {
                        "name": "timeBetweenRetries",
                        "in": "query",
                        "description": "Filtra registros por timeBetweenRetries",
                        "type": "integer"
                    },
                    {
                        "name": "errorsNotRequireTicket",
                        "in": "query",
                        "description": "Filtra registros por errorsNotRequireTicket",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MaxResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_application_read"
            }
        },
        "/ApplicationGroup/sum/{campo}": {
            "get": {
                "operationId": "ApplicationGroup_sum",
                "summary": "Retorna la suma de un campo de los registros de ApplicationGroup.",
                "tags": [
                    "ApplicationGroup"
                ],
                "parameters": [
                    {
                        "name": "campo",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Filtra registros por code",
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Filtra registros por name",
                        "type": "string"
                    },
                    {
                        "name": "endpointType",
                        "in": "query",
                        "description": "Filtra registros por endpointType",
                        "type": "string"
                    },
                    {
                        "name": "ordinal",
                        "in": "query",
                        "description": "Filtra registros por ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    },
                    {
                        "name": "numberRetries",
                        "in": "query",
                        "description": "Filtra registros por numberRetries",
                        "type": "integer"
                    },
                    {
                        "name": "timeBetweenRetries",
                        "in": "query",
                        "description": "Filtra registros por timeBetweenRetries",
                        "type": "integer"
                    },
                    {
                        "name": "errorsNotRequireTicket",
                        "in": "query",
                        "description": "Filtra registros por errorsNotRequireTicket",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SumResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_application_read"
            }
        },
        "/ApplicationGroup/{from}/{to}": {
            "get": {
                "operationId": "ApplicationGroup_listRange",
                "summary": "Lista los registros de ApplicationGroup por posición.",
                "tags": [
                    "ApplicationGroup"
                ],
                "parameters": [
                    {
                        "name": "from",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "to",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Filtra registros por code",
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Filtra registros por name",
                        "type": "string"
                    },
                    {
                        "name": "endpointType",
                        "in": "query",
                        "description": "Filtra registros por endpointType",
                        "type": "string"
                    },
                    {
                        "name": "ordinal",
                        "in": "query",
                        "description": "Filtra registros por ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    },
                    {
                        "name": "numberRetries",
                        "in": "query",
                        "description": "Filtra registros por numberRetries",
                        "type": "integer"
                    },
                    {
                        "name": "timeBetweenRetries",
                        "in": "query",
                        "description": "Filtra registros por timeBetweenRetries",
                        "type": "integer"
                    },
                    {
                        "name": "errorsNotRequireTicket",
                        "in": "query",
                        "description": "Filtra registros por errorsNotRequireTicket",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ApplicationGroupResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_application_read"
            }
        },
        "/ApplicationGroup/{id}": {
            "get": {
                "operationId": "ApplicationGroup_read",
                "summary": "Retorna o respectivo registro de ApplicationGroup.",
                "tags": [
                    "ApplicationGroup"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ApplicationGroup"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_application_read"
            },
            "put": {
                "operationId": "ApplicationGroup_update",
                "summary": "Actualiza el respectivo registro de ApplicationGroup.",
                "tags": [
                    "ApplicationGroup"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Request body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ApplicationGroup"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_application_read"
            },
            "delete": {
                "operationId": "ApplicationGroup_delete",
                "summary": "Remove o respectivo registro de ApplicationGroup.",
                "tags": [
                    "ApplicationGroup"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_application_read"
            }
        },
        "/Application": {
            "get": {
                "operationId": "Application_listAll",
                "summary": "Lista todos los registros de Application.",
                "tags": [
                    "Application"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Filtra registros por code",
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Filtra registros por name",
                        "type": "string"
                    },
                    {
                        "name": "automaticProvision",
                        "in": "query",
                        "description": "Filtra registros por automaticProvision",
                        "type": "integer"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filtra registros por status",
                        "type": "string"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    },
                    {
                        "name": "applicationGroup.id",
                        "in": "query",
                        "description": "Filtra registros por applicationGroup.id",
                        "type": "integer"
                    },
                    {
                        "name": "applicationGroup.code",
                        "in": "query",
                        "description": "Filtra registros por applicationGroup.code",
                        "type": "string"
                    },
                    {
                        "name": "applicationGroup.name",
                        "in": "query",
                        "description": "Filtra registros por applicationGroup.name",
                        "type": "string"
                    },
                    {
                        "name": "applicationGroup.endpointType",
                        "in": "query",
                        "description": "Filtra registros por applicationGroup.endpointType",
                        "type": "string"
                    },
                    {
                        "name": "applicationGroup.ordinal",
                        "in": "query",
                        "description": "Filtra registros por applicationGroup.ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "applicationGroup.valid",
                        "in": "query",
                        "description": "Filtra registros por applicationGroup.valid",
                        "type": "integer"
                    },
                    {
                        "name": "applicationGroup.numberRetries",
                        "in": "query",
                        "description": "Filtra registros por applicationGroup.numberRetries",
                        "type": "integer"
                    },
                    {
                        "name": "applicationGroup.timeBetweenRetries",
                        "in": "query",
                        "description": "Filtra registros por applicationGroup.timeBetweenRetries",
                        "type": "integer"
                    },
                    {
                        "name": "applicationGroup.errorsNotRequireTicket",
                        "in": "query",
                        "description": "Filtra registros por applicationGroup.errorsNotRequireTicket",
                        "type": "string"
                    },
                    {
                        "name": "parent.id",
                        "in": "query",
                        "description": "Filtra registros por parent.id",
                        "type": "integer"
                    },
                    {
                        "name": "parent.code",
                        "in": "query",
                        "description": "Filtra registros por parent.code",
                        "type": "string"
                    },
                    {
                        "name": "parent.name",
                        "in": "query",
                        "description": "Filtra registros por parent.name",
                        "type": "string"
                    },
                    {
                        "name": "parent.automaticProvision",
                        "in": "query",
                        "description": "Filtra registros por parent.automaticProvision",
                        "type": "integer"
                    },
                    {
                        "name": "parent.status",
                        "in": "query",
                        "description": "Filtra registros por parent.status",
                        "type": "string"
                    },
                    {
                        "name": "parent.valid",
                        "in": "query",
                        "description": "Filtra registros por parent.valid",
                        "type": "integer"
                    },
                    {
                        "name": "parent.applicationGroup.id",
                        "in": "query",
                        "description": "Filtra registros por parent.applicationGroup.id",
                        "type": "integer"
                    },
                    {
                        "name": "parent.applicationGroup.code",
                        "in": "query",
                        "description": "Filtra registros por parent.applicationGroup.code",
                        "type": "string"
                    },
                    {
                        "name": "parent.applicationGroup.name",
                        "in": "query",
                        "description": "Filtra registros por parent.applicationGroup.name",
                        "type": "string"
                    },
                    {
                        "name": "parent.applicationGroup.endpointType",
                        "in": "query",
                        "description": "Filtra registros por parent.applicationGroup.endpointType",
                        "type": "string"
                    },
                    {
                        "name": "parent.applicationGroup.ordinal",
                        "in": "query",
                        "description": "Filtra registros por parent.applicationGroup.ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "parent.applicationGroup.valid",
                        "in": "query",
                        "description": "Filtra registros por parent.applicationGroup.valid",
                        "type": "integer"
                    },
                    {
                        "name": "parent.applicationGroup.numberRetries",
                        "in": "query",
                        "description": "Filtra registros por parent.applicationGroup.numberRetries",
                        "type": "integer"
                    },
                    {
                        "name": "parent.applicationGroup.timeBetweenRetries",
                        "in": "query",
                        "description": "Filtra registros por parent.applicationGroup.timeBetweenRetries",
                        "type": "integer"
                    },
                    {
                        "name": "parent.applicationGroup.errorsNotRequireTicket",
                        "in": "query",
                        "description": "Filtra registros por parent.applicationGroup.errorsNotRequireTicket",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.id",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.id",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.code",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.code",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.name",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.name",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.automaticProvision",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.automaticProvision",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.status",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.status",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.valid",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.valid",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.applicationGroup.id",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.applicationGroup.id",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.applicationGroup.code",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.applicationGroup.code",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.applicationGroup.name",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.applicationGroup.name",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.applicationGroup.endpointType",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.applicationGroup.endpointType",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.applicationGroup.ordinal",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.applicationGroup.ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.applicationGroup.valid",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.applicationGroup.valid",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.applicationGroup.numberRetries",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.applicationGroup.numberRetries",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.applicationGroup.timeBetweenRetries",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.applicationGroup.timeBetweenRetries",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.applicationGroup.errorsNotRequireTicket",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.applicationGroup.errorsNotRequireTicket",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.parent.id",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.id",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.parent.code",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.code",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.parent.name",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.name",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.parent.automaticProvision",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.automaticProvision",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.parent.status",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.status",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.parent.valid",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.valid",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.parent.applicationGroup.id",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.applicationGroup.id",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.parent.applicationGroup.code",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.applicationGroup.code",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.parent.applicationGroup.name",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.applicationGroup.name",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.parent.applicationGroup.endpointType",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.applicationGroup.endpointType",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.parent.applicationGroup.ordinal",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.applicationGroup.ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.parent.applicationGroup.valid",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.applicationGroup.valid",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.parent.applicationGroup.numberRetries",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.applicationGroup.numberRetries",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.parent.applicationGroup.timeBetweenRetries",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.applicationGroup.timeBetweenRetries",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.parent.applicationGroup.errorsNotRequireTicket",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.applicationGroup.errorsNotRequireTicket",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.parent.parent.id",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.parent.id",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.parent.parent.code",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.parent.code",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.parent.parent.name",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.parent.name",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.parent.parent.automaticProvision",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.parent.automaticProvision",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.parent.parent.status",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.parent.status",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.parent.parent.valid",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.parent.valid",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ApplicationResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_application_read"
            },
            "post": {
                "operationId": "Application_create",
                "summary": "Crea un registro de Application.",
                "tags": [
                    "Application"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Request body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Application"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Application"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_application_read"
            }
        },
        "/Application/count": {
            "get": {
                "operationId": "Application_count",
                "summary": "Retorna total de registros de Application.",
                "tags": [
                    "Application"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Filtra registros por code",
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Filtra registros por name",
                        "type": "string"
                    },
                    {
                        "name": "automaticProvision",
                        "in": "query",
                        "description": "Filtra registros por automaticProvision",
                        "type": "integer"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filtra registros por status",
                        "type": "string"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    },
                    {
                        "name": "applicationGroup.id",
                        "in": "query",
                        "description": "Filtra registros por applicationGroup.id",
                        "type": "integer"
                    },
                    {
                        "name": "applicationGroup.code",
                        "in": "query",
                        "description": "Filtra registros por applicationGroup.code",
                        "type": "string"
                    },
                    {
                        "name": "applicationGroup.name",
                        "in": "query",
                        "description": "Filtra registros por applicationGroup.name",
                        "type": "string"
                    },
                    {
                        "name": "applicationGroup.endpointType",
                        "in": "query",
                        "description": "Filtra registros por applicationGroup.endpointType",
                        "type": "string"
                    },
                    {
                        "name": "applicationGroup.ordinal",
                        "in": "query",
                        "description": "Filtra registros por applicationGroup.ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "applicationGroup.valid",
                        "in": "query",
                        "description": "Filtra registros por applicationGroup.valid",
                        "type": "integer"
                    },
                    {
                        "name": "applicationGroup.numberRetries",
                        "in": "query",
                        "description": "Filtra registros por applicationGroup.numberRetries",
                        "type": "integer"
                    },
                    {
                        "name": "applicationGroup.timeBetweenRetries",
                        "in": "query",
                        "description": "Filtra registros por applicationGroup.timeBetweenRetries",
                        "type": "integer"
                    },
                    {
                        "name": "applicationGroup.errorsNotRequireTicket",
                        "in": "query",
                        "description": "Filtra registros por applicationGroup.errorsNotRequireTicket",
                        "type": "string"
                    },
                    {
                        "name": "parent.id",
                        "in": "query",
                        "description": "Filtra registros por parent.id",
                        "type": "integer"
                    },
                    {
                        "name": "parent.code",
                        "in": "query",
                        "description": "Filtra registros por parent.code",
                        "type": "string"
                    },
                    {
                        "name": "parent.name",
                        "in": "query",
                        "description": "Filtra registros por parent.name",
                        "type": "string"
                    },
                    {
                        "name": "parent.automaticProvision",
                        "in": "query",
                        "description": "Filtra registros por parent.automaticProvision",
                        "type": "integer"
                    },
                    {
                        "name": "parent.status",
                        "in": "query",
                        "description": "Filtra registros por parent.status",
                        "type": "string"
                    },
                    {
                        "name": "parent.valid",
                        "in": "query",
                        "description": "Filtra registros por parent.valid",
                        "type": "integer"
                    },
                    {
                        "name": "parent.applicationGroup.id",
                        "in": "query",
                        "description": "Filtra registros por parent.applicationGroup.id",
                        "type": "integer"
                    },
                    {
                        "name": "parent.applicationGroup.code",
                        "in": "query",
                        "description": "Filtra registros por parent.applicationGroup.code",
                        "type": "string"
                    },
                    {
                        "name": "parent.applicationGroup.name",
                        "in": "query",
                        "description": "Filtra registros por parent.applicationGroup.name",
                        "type": "string"
                    },
                    {
                        "name": "parent.applicationGroup.endpointType",
                        "in": "query",
                        "description": "Filtra registros por parent.applicationGroup.endpointType",
                        "type": "string"
                    },
                    {
                        "name": "parent.applicationGroup.ordinal",
                        "in": "query",
                        "description": "Filtra registros por parent.applicationGroup.ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "parent.applicationGroup.valid",
                        "in": "query",
                        "description": "Filtra registros por parent.applicationGroup.valid",
                        "type": "integer"
                    },
                    {
                        "name": "parent.applicationGroup.numberRetries",
                        "in": "query",
                        "description": "Filtra registros por parent.applicationGroup.numberRetries",
                        "type": "integer"
                    },
                    {
                        "name": "parent.applicationGroup.timeBetweenRetries",
                        "in": "query",
                        "description": "Filtra registros por parent.applicationGroup.timeBetweenRetries",
                        "type": "integer"
                    },
                    {
                        "name": "parent.applicationGroup.errorsNotRequireTicket",
                        "in": "query",
                        "description": "Filtra registros por parent.applicationGroup.errorsNotRequireTicket",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.id",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.id",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.code",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.code",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.name",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.name",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.automaticProvision",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.automaticProvision",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.status",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.status",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.valid",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.valid",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.applicationGroup.id",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.applicationGroup.id",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.applicationGroup.code",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.applicationGroup.code",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.applicationGroup.name",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.applicationGroup.name",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.applicationGroup.endpointType",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.applicationGroup.endpointType",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.applicationGroup.ordinal",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.applicationGroup.ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.applicationGroup.valid",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.applicationGroup.valid",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.applicationGroup.numberRetries",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.applicationGroup.numberRetries",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.applicationGroup.timeBetweenRetries",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.applicationGroup.timeBetweenRetries",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.applicationGroup.errorsNotRequireTicket",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.applicationGroup.errorsNotRequireTicket",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.parent.id",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.id",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.parent.code",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.code",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.parent.name",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.name",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.parent.automaticProvision",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.automaticProvision",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.parent.status",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.status",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.parent.valid",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.valid",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.parent.applicationGroup.id",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.applicationGroup.id",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.parent.applicationGroup.code",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.applicationGroup.code",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.parent.applicationGroup.name",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.applicationGroup.name",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.parent.applicationGroup.endpointType",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.applicationGroup.endpointType",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.parent.applicationGroup.ordinal",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.applicationGroup.ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.parent.applicationGroup.valid",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.applicationGroup.valid",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.parent.applicationGroup.numberRetries",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.applicationGroup.numberRetries",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.parent.applicationGroup.timeBetweenRetries",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.applicationGroup.timeBetweenRetries",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.parent.applicationGroup.errorsNotRequireTicket",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.applicationGroup.errorsNotRequireTicket",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.parent.parent.id",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.parent.id",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.parent.parent.code",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.parent.code",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.parent.parent.name",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.parent.name",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.parent.parent.automaticProvision",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.parent.automaticProvision",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.parent.parent.status",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.parent.status",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.parent.parent.valid",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.parent.valid",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CountResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_application_read"
            }
        },
        "/Application/max/{campo}": {
            "get": {
                "operationId": "Application_max",
                "summary": "Retorna el valor máximo de campo de los registros de Application.",
                "tags": [
                    "Application"
                ],
                "parameters": [
                    {
                        "name": "campo",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Filtra registros por code",
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Filtra registros por name",
                        "type": "string"
                    },
                    {
                        "name": "automaticProvision",
                        "in": "query",
                        "description": "Filtra registros por automaticProvision",
                        "type": "integer"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filtra registros por status",
                        "type": "string"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    },
                    {
                        "name": "applicationGroup.id",
                        "in": "query",
                        "description": "Filtra registros por applicationGroup.id",
                        "type": "integer"
                    },
                    {
                        "name": "applicationGroup.code",
                        "in": "query",
                        "description": "Filtra registros por applicationGroup.code",
                        "type": "string"
                    },
                    {
                        "name": "applicationGroup.name",
                        "in": "query",
                        "description": "Filtra registros por applicationGroup.name",
                        "type": "string"
                    },
                    {
                        "name": "applicationGroup.endpointType",
                        "in": "query",
                        "description": "Filtra registros por applicationGroup.endpointType",
                        "type": "string"
                    },
                    {
                        "name": "applicationGroup.ordinal",
                        "in": "query",
                        "description": "Filtra registros por applicationGroup.ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "applicationGroup.valid",
                        "in": "query",
                        "description": "Filtra registros por applicationGroup.valid",
                        "type": "integer"
                    },
                    {
                        "name": "applicationGroup.numberRetries",
                        "in": "query",
                        "description": "Filtra registros por applicationGroup.numberRetries",
                        "type": "integer"
                    },
                    {
                        "name": "applicationGroup.timeBetweenRetries",
                        "in": "query",
                        "description": "Filtra registros por applicationGroup.timeBetweenRetries",
                        "type": "integer"
                    },
                    {
                        "name": "applicationGroup.errorsNotRequireTicket",
                        "in": "query",
                        "description": "Filtra registros por applicationGroup.errorsNotRequireTicket",
                        "type": "string"
                    },
                    {
                        "name": "parent.id",
                        "in": "query",
                        "description": "Filtra registros por parent.id",
                        "type": "integer"
                    },
                    {
                        "name": "parent.code",
                        "in": "query",
                        "description": "Filtra registros por parent.code",
                        "type": "string"
                    },
                    {
                        "name": "parent.name",
                        "in": "query",
                        "description": "Filtra registros por parent.name",
                        "type": "string"
                    },
                    {
                        "name": "parent.automaticProvision",
                        "in": "query",
                        "description": "Filtra registros por parent.automaticProvision",
                        "type": "integer"
                    },
                    {
                        "name": "parent.status",
                        "in": "query",
                        "description": "Filtra registros por parent.status",
                        "type": "string"
                    },
                    {
                        "name": "parent.valid",
                        "in": "query",
                        "description": "Filtra registros por parent.valid",
                        "type": "integer"
                    },
                    {
                        "name": "parent.applicationGroup.id",
                        "in": "query",
                        "description": "Filtra registros por parent.applicationGroup.id",
                        "type": "integer"
                    },
                    {
                        "name": "parent.applicationGroup.code",
                        "in": "query",
                        "description": "Filtra registros por parent.applicationGroup.code",
                        "type": "string"
                    },
                    {
                        "name": "parent.applicationGroup.name",
                        "in": "query",
                        "description": "Filtra registros por parent.applicationGroup.name",
                        "type": "string"
                    },
                    {
                        "name": "parent.applicationGroup.endpointType",
                        "in": "query",
                        "description": "Filtra registros por parent.applicationGroup.endpointType",
                        "type": "string"
                    },
                    {
                        "name": "parent.applicationGroup.ordinal",
                        "in": "query",
                        "description": "Filtra registros por parent.applicationGroup.ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "parent.applicationGroup.valid",
                        "in": "query",
                        "description": "Filtra registros por parent.applicationGroup.valid",
                        "type": "integer"
                    },
                    {
                        "name": "parent.applicationGroup.numberRetries",
                        "in": "query",
                        "description": "Filtra registros por parent.applicationGroup.numberRetries",
                        "type": "integer"
                    },
                    {
                        "name": "parent.applicationGroup.timeBetweenRetries",
                        "in": "query",
                        "description": "Filtra registros por parent.applicationGroup.timeBetweenRetries",
                        "type": "integer"
                    },
                    {
                        "name": "parent.applicationGroup.errorsNotRequireTicket",
                        "in": "query",
                        "description": "Filtra registros por parent.applicationGroup.errorsNotRequireTicket",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.id",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.id",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.code",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.code",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.name",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.name",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.automaticProvision",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.automaticProvision",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.status",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.status",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.valid",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.valid",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.applicationGroup.id",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.applicationGroup.id",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.applicationGroup.code",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.applicationGroup.code",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.applicationGroup.name",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.applicationGroup.name",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.applicationGroup.endpointType",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.applicationGroup.endpointType",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.applicationGroup.ordinal",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.applicationGroup.ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.applicationGroup.valid",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.applicationGroup.valid",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.applicationGroup.numberRetries",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.applicationGroup.numberRetries",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.applicationGroup.timeBetweenRetries",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.applicationGroup.timeBetweenRetries",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.applicationGroup.errorsNotRequireTicket",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.applicationGroup.errorsNotRequireTicket",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.parent.id",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.id",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.parent.code",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.code",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.parent.name",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.name",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.parent.automaticProvision",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.automaticProvision",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.parent.status",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.status",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.parent.valid",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.valid",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.parent.applicationGroup.id",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.applicationGroup.id",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.parent.applicationGroup.code",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.applicationGroup.code",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.parent.applicationGroup.name",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.applicationGroup.name",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.parent.applicationGroup.endpointType",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.applicationGroup.endpointType",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.parent.applicationGroup.ordinal",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.applicationGroup.ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.parent.applicationGroup.valid",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.applicationGroup.valid",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.parent.applicationGroup.numberRetries",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.applicationGroup.numberRetries",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.parent.applicationGroup.timeBetweenRetries",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.applicationGroup.timeBetweenRetries",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.parent.applicationGroup.errorsNotRequireTicket",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.applicationGroup.errorsNotRequireTicket",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.parent.parent.id",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.parent.id",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.parent.parent.code",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.parent.code",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.parent.parent.name",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.parent.name",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.parent.parent.automaticProvision",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.parent.automaticProvision",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.parent.parent.status",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.parent.status",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.parent.parent.valid",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.parent.valid",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MaxResult"
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited",
                "x-scope": "pkg_application_read"
            }
        },
        "/Application/sum/{campo}": {
            "get": {
                "operationId": "Application_sum",
                "summary": "Retorna la suma de un campo de los registros de Application.",
                "tags": [
                    "Application"
                ],
                "parameters": [
                    {
                        "name": "campo",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Filtra registros por id",
                        "type": "integer"
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Filtra registros por code",
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Filtra registros por name",
                        "type": "string"
                    },
                    {
                        "name": "automaticProvision",
                        "in": "query",
                        "description": "Filtra registros por automaticProvision",
                        "type": "integer"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filtra registros por status",
                        "type": "string"
                    },
                    {
                        "name": "valid",
                        "in": "query",
                        "description": "Filtra registros por valid",
                        "type": "integer"
                    },
                    {
                        "name": "applicationGroup.id",
                        "in": "query",
                        "description": "Filtra registros por applicationGroup.id",
                        "type": "integer"
                    },
                    {
                        "name": "applicationGroup.code",
                        "in": "query",
                        "description": "Filtra registros por applicationGroup.code",
                        "type": "string"
                    },
                    {
                        "name": "applicationGroup.name",
                        "in": "query",
                        "description": "Filtra registros por applicationGroup.name",
                        "type": "string"
                    },
                    {
                        "name": "applicationGroup.endpointType",
                        "in": "query",
                        "description": "Filtra registros por applicationGroup.endpointType",
                        "type": "string"
                    },
                    {
                        "name": "applicationGroup.ordinal",
                        "in": "query",
                        "description": "Filtra registros por applicationGroup.ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "applicationGroup.valid",
                        "in": "query",
                        "description": "Filtra registros por applicationGroup.valid",
                        "type": "integer"
                    },
                    {
                        "name": "applicationGroup.numberRetries",
                        "in": "query",
                        "description": "Filtra registros por applicationGroup.numberRetries",
                        "type": "integer"
                    },
                    {
                        "name": "applicationGroup.timeBetweenRetries",
                        "in": "query",
                        "description": "Filtra registros por applicationGroup.timeBetweenRetries",
                        "type": "integer"
                    },
                    {
                        "name": "applicationGroup.errorsNotRequireTicket",
                        "in": "query",
                        "description": "Filtra registros por applicationGroup.errorsNotRequireTicket",
                        "type": "string"
                    },
                    {
                        "name": "parent.id",
                        "in": "query",
                        "description": "Filtra registros por parent.id",
                        "type": "integer"
                    },
                    {
                        "name": "parent.code",
                        "in": "query",
                        "description": "Filtra registros por parent.code",
                        "type": "string"
                    },
                    {
                        "name": "parent.name",
                        "in": "query",
                        "description": "Filtra registros por parent.name",
                        "type": "string"
                    },
                    {
                        "name": "parent.automaticProvision",
                        "in": "query",
                        "description": "Filtra registros por parent.automaticProvision",
                        "type": "integer"
                    },
                    {
                        "name": "parent.status",
                        "in": "query",
                        "description": "Filtra registros por parent.status",
                        "type": "string"
                    },
                    {
                        "name": "parent.valid",
                        "in": "query",
                        "description": "Filtra registros por parent.valid",
                        "type": "integer"
                    },
                    {
                        "name": "parent.applicationGroup.id",
                        "in": "query",
                        "description": "Filtra registros por parent.applicationGroup.id",
                        "type": "integer"
                    },
                    {
                        "name": "parent.applicationGroup.code",
                        "in": "query",
                        "description": "Filtra registros por parent.applicationGroup.code",
                        "type": "string"
                    },
                    {
                        "name": "parent.applicationGroup.name",
                        "in": "query",
                        "description": "Filtra registros por parent.applicationGroup.name",
                        "type": "string"
                    },
                    {
                        "name": "parent.applicationGroup.endpointType",
                        "in": "query",
                        "description": "Filtra registros por parent.applicationGroup.endpointType",
                        "type": "string"
                    },
                    {
                        "name": "parent.applicationGroup.ordinal",
                        "in": "query",
                        "description": "Filtra registros por parent.applicationGroup.ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "parent.applicationGroup.valid",
                        "in": "query",
                        "description": "Filtra registros por parent.applicationGroup.valid",
                        "type": "integer"
                    },
                    {
                        "name": "parent.applicationGroup.numberRetries",
                        "in": "query",
                        "description": "Filtra registros por parent.applicationGroup.numberRetries",
                        "type": "integer"
                    },
                    {
                        "name": "parent.applicationGroup.timeBetweenRetries",
                        "in": "query",
                        "description": "Filtra registros por parent.applicationGroup.timeBetweenRetries",
                        "type": "integer"
                    },
                    {
                        "name": "parent.applicationGroup.errorsNotRequireTicket",
                        "in": "query",
                        "description": "Filtra registros por parent.applicationGroup.errorsNotRequireTicket",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.id",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.id",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.code",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.code",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.name",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.name",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.automaticProvision",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.automaticProvision",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.status",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.status",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.valid",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.valid",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.applicationGroup.id",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.applicationGroup.id",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.applicationGroup.code",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.applicationGroup.code",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.applicationGroup.name",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.applicationGroup.name",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.applicationGroup.endpointType",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.applicationGroup.endpointType",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.applicationGroup.ordinal",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.applicationGroup.ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.applicationGroup.valid",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.applicationGroup.valid",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.applicationGroup.numberRetries",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.applicationGroup.numberRetries",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.applicationGroup.timeBetweenRetries",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.applicationGroup.timeBetweenRetries",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.applicationGroup.errorsNotRequireTicket",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.applicationGroup.errorsNotRequireTicket",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.parent.id",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.id",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.parent.code",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.code",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.parent.name",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.name",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.parent.automaticProvision",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.automaticProvision",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.parent.status",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.status",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.parent.valid",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.valid",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.parent.applicationGroup.id",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.applicationGroup.id",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.parent.applicationGroup.code",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.applicationGroup.code",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.parent.applicationGroup.name",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.applicationGroup.name",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.parent.applicationGroup.endpointType",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.applicationGroup.endpointType",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.parent.applicationGroup.ordinal",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.applicationGroup.ordinal",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.parent.applicationGroup.valid",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.applicationGroup.valid",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.parent.applicationGroup.numberRetries",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.applicationGroup.numberRetries",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.parent.applicationGroup.timeBetweenRetries",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.applicationGroup.timeBetweenRetries",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.parent.applicationGroup.errorsNotRequireTicket",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.applicationGroup.errorsNotRequireTicket",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.parent.parent.id",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.parent.id",
                        "type": "integer"
                    },
                    {
                        "name": "parent.parent.parent.parent.code",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.parent.code",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.parent.parent.name",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.parent.name",
                        "type": "string"
                    },
                    {
                        "name": "parent.parent.parent.parent.automaticProvision",
                        "in": "query",
                        "description": "Filtra registros por parent.parent.parent.parent.automaticProvision",
[...]
