USE [CENTRA_ID]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[TYPE_USERS]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[TYPE_USERS] DROP CONSTRAINT IF EXISTS [TYPES_USERS_TYPE_CK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[MASSIVE_PROCESS]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[MASSIVE_PROCESS] DROP CONSTRAINT IF EXISTS [MASSIVE_PROCESS_TYPEACTION_UK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[MASSIVE_PROCESS]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[MASSIVE_PROCESS] DROP CONSTRAINT IF EXISTS [MASSIVE_PROCESS_STATE_UK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[MASSIVE_PROCESS]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[MASSIVE_PROCESS] DROP CONSTRAINT IF EXISTS [MASSIVE_PROCESS_RESULT_UK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[MASSIVE_PROCESS]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[MASSIVE_PROCESS] DROP CONSTRAINT IF EXISTS [MASIVE_PROCESS_TYPEEVENT_CK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[GLOBAL_PARAMETERS]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[GLOBAL_PARAMETERS] DROP CONSTRAINT IF EXISTS [GLOBAL_PARAMETERS_TYPE_CK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[CATALOGS_TYPES]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[CATALOGS_TYPES] DROP CONSTRAINT IF EXISTS [TYPES_CATALOGS_SORT_TYPE_CK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[APPLICATIONS_GROUP]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[APPLICATIONS_GROUP] DROP CONSTRAINT IF EXISTS [APPLICATIONS_GROUP_ENDPOINT_TYPE_UK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[USERDATA]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[USERDATA] DROP CONSTRAINT IF EXISTS [USERDATA_USERDATA_SUPERVISOR_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[USERDATA]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[USERDATA] DROP CONSTRAINT IF EXISTS [USERDATA_USERDATA_RESPONSIBLE_USER_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[USERDATA]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[USERDATA] DROP CONSTRAINT IF EXISTS [USERDATA_USERDATA_BANK_COUNTERPART_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[USERDATA]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[USERDATA] DROP CONSTRAINT IF EXISTS [USERDATA_TYPES_USERS_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[USERDATA]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[USERDATA] DROP CONSTRAINT IF EXISTS [USERDATA_SUBTYPE_USER_ID_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[USERDATA]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[USERDATA] DROP CONSTRAINT IF EXISTS [USERDATA_GLOBAL_PROFILES_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[USERDATA]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[USERDATA] DROP CONSTRAINT IF EXISTS [USERDATA_COSTS_CENTERS_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[USERDATA]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[USERDATA] DROP CONSTRAINT IF EXISTS [USERDATA_COMPANIES_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[USERDATA]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[USERDATA] DROP CONSTRAINT IF EXISTS [USERDATA_CATALOGS_POSITION_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[USERDATA]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[USERDATA] DROP CONSTRAINT IF EXISTS [USERDATA_CATALOGS_IDENTIFICATION_TYPE_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[USERDATA]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[USERDATA] DROP CONSTRAINT IF EXISTS [USERDATA_CATALOGS_DIVISION_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[USERDATA]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[USERDATA] DROP CONSTRAINT IF EXISTS [USERDATA_CATALOGS_DEPARTMENT_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[USERDATA]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[USERDATA] DROP CONSTRAINT IF EXISTS [USERDATA_CATALOGS_AREA_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[TYPE_USERS]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[TYPE_USERS] DROP CONSTRAINT IF EXISTS [TYPESUSERS_TYPESUSERS_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[TRANSACTIONAL_PROFILES]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[TRANSACTIONAL_PROFILES] DROP CONSTRAINT IF EXISTS [TRANSACTIONALPROFILES_CATALOGS_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[TRANSACTIONAL_PROFILES]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[TRANSACTIONAL_PROFILES] DROP CONSTRAINT IF EXISTS [transactional_profiles_applications_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[TRANSACTIONAL_IDENTITY]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[TRANSACTIONAL_IDENTITY] DROP CONSTRAINT IF EXISTS [TRANSACTIONALIDENTITY_USERDATA_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[TRANSACTIONAL_IDENTITY]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[TRANSACTIONAL_IDENTITY] DROP CONSTRAINT IF EXISTS [TRANSACTIONALIDENTITY_GLOBALPROFILE_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[TEMPLATE_PROFILES_MATRICES_GROUP]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[TEMPLATE_PROFILES_MATRICES_GROUP] DROP CONSTRAINT IF EXISTS [TEMPLATE_PROFILES_MATRICES_GROUP_TEMPLATE_PROFILES_MATRICES_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[TEMPLATE_PROFILES_MATRICES_DETAIL]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[TEMPLATE_PROFILES_MATRICES_DETAIL] DROP CONSTRAINT IF EXISTS [TEMPLATE_PROFILES_MATRICES_DETAIL_TEMPLATE_PROFILES_MATRICES_GROUP_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[TEMPLATE_PROFILES_MATRICES_DETAIL]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[TEMPLATE_PROFILES_MATRICES_DETAIL] DROP CONSTRAINT IF EXISTS [TEMPLATE_PROFILES_MATRICES_DETAIL_MATRICES_DETAIL_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[TEMPLATE_PROFILES_MATRICES]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[TEMPLATE_PROFILES_MATRICES] DROP CONSTRAINT IF EXISTS [TEMPLATE_PROFILES_MATRICES_TRANSACTIONAL_PROFILES_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[TEMPLATE_PROFILES_MATRICES]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[TEMPLATE_PROFILES_MATRICES] DROP CONSTRAINT IF EXISTS [TEMPLATE_PROFILES_MATRICES_MATRICES_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[TEMPLATE_PROFILES]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[TEMPLATE_PROFILES] DROP CONSTRAINT IF EXISTS [TEMPLATE_PROFILES_TRANSACTIONAL_PROFILES_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[TEMPLATE_PROFILES]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[TEMPLATE_PROFILES] DROP CONSTRAINT IF EXISTS [TEMPLATE_PROFILES_FIELDS_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[TAKS_PROVISIONING_HISTORY]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[TAKS_PROVISIONING_HISTORY] DROP CONSTRAINT IF EXISTS [TAKS_PROVISIONING_HISTORY_TAKS_PROVISIONING_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[TAKS_PROVISIONING]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[TAKS_PROVISIONING] DROP CONSTRAINT IF EXISTS [USER_ACTION_PROFILE_TRANSACTIONAL_USER_PROFILE_TRANSACTIONAL_HISTORY_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[TAKS_PROVISIONING]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[TAKS_PROVISIONING] DROP CONSTRAINT IF EXISTS [USER_ACTION_PROFILE_TRANSACTIONAL_TRANSACTIONAL_PROFILES_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[TAKS_PROVISIONING]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[TAKS_PROVISIONING] DROP CONSTRAINT IF EXISTS [USER_ACTION_PROFILE_TRANSACTIONAL_APPLICATIONS_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[PROCESS_DISTRIBUTION_LIST]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[PROCESS_DISTRIBUTION_LIST] DROP CONSTRAINT IF EXISTS [PROCESSDISTRIBUTIONLIST_PROCESS_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[PROCESS_DISTRIBUTION_LIST]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[PROCESS_DISTRIBUTION_LIST] DROP CONSTRAINT IF EXISTS [PROCESSDISTRIBUTIONLIST_DISTRIBUTIONLIST_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[OPERATIONS_PROVISIONING]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[OPERATIONS_PROVISIONING] DROP CONSTRAINT IF EXISTS [USER_PROFILE_TRANSACTIONAL_HISTORY_USERDATA_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[OPERATIONS_PROVISIONING]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[OPERATIONS_PROVISIONING] DROP CONSTRAINT IF EXISTS [USER_PROFILE_TRANSACTIONAL_HISTORY_TRANSACTIONAL_IDENTITY_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[OPERATIONS_PROVISIONING]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[OPERATIONS_PROVISIONING] DROP CONSTRAINT IF EXISTS [USER_PROFILE_TRANSACTIONAL_HISTORY_GLOBAL_PROFILES_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[MATRICES_DETAIL]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[MATRICES_DETAIL] DROP CONSTRAINT IF EXISTS [MATRICES_DETAIL_MATRICES_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[MATRICES]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[MATRICES] DROP CONSTRAINT IF EXISTS [MATRICES_APPLICATIONS_GROUP_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[HISTORY_SCOPE_RULES]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[HISTORY_SCOPE_RULES] DROP CONSTRAINT IF EXISTS [HISTORY_SCOPE_RULES_GLOBAL_PROFILES_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[GLOBAL_TRANSACTIONAL_PROFILES]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[GLOBAL_TRANSACTIONAL_PROFILES] DROP CONSTRAINT IF EXISTS [GLOBAL_TRANSACTIONAL_PROFILES_TRANSACTIONAL_PROFILES_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[GLOBAL_TRANSACTIONAL_PROFILES]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[GLOBAL_TRANSACTIONAL_PROFILES] DROP CONSTRAINT IF EXISTS [GLOBAL_TRANSACTIONAL_PROFILES_GLOBAL_PROFILES_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[GLOBAL_PROFILES]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[GLOBAL_PROFILES] DROP CONSTRAINT IF EXISTS [GLOBALPROFILES_CATALOGS_POSITION_OWNER_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[FIELDS]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[FIELDS] DROP CONSTRAINT IF EXISTS [FIELDS_APPLICATIONS_GROUP_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[DISTRIBUTION_LIST_DETAIL]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[DISTRIBUTION_LIST_DETAIL] DROP CONSTRAINT IF EXISTS [DISTRIBUTIONLISTDETAIL_DISTRIBUTIONLIST_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[DEFAULT_PROFILES]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[DEFAULT_PROFILES] DROP CONSTRAINT IF EXISTS [DEFAULT_PROFILES_GLOBAL_PROFILES_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[COSTS_CENTERS]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[COSTS_CENTERS] DROP CONSTRAINT IF EXISTS [COSTSCENTERS_COSTSCENTERS_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[COSTS_CENTERS]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[COSTS_CENTERS] DROP CONSTRAINT IF EXISTS [COSTSCENTERS_COMPANIES_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[COMPANIES_STRUCTURES]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[COMPANIES_STRUCTURES] DROP CONSTRAINT IF EXISTS [ORGANIZATIONSSTRUCTURES_ORGANIZATIONSSTRUCTURES_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[COMPANIES_STRUCTURES]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[COMPANIES_STRUCTURES] DROP CONSTRAINT IF EXISTS [ORGANIZATIONSSTRUCTURES_COMPANIES_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[COMPANIES_STRUCTURES]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[COMPANIES_STRUCTURES] DROP CONSTRAINT IF EXISTS [ORGANIZATIONSSTRUCTURES_CATALOGSORGANIZATIONALSTRUCTURE_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[COMPANIES]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[COMPANIES] DROP CONSTRAINT IF EXISTS [COMPANIES_CATALOGS_COMPANY_TYPE_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[CATALOGS_HIERARCHIES]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[CATALOGS_HIERARCHIES] DROP CONSTRAINT IF EXISTS [HIERARCHIES_TYPES_CATALOGS_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[CATALOGS_HIERARCHIES]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[CATALOGS_HIERARCHIES] DROP CONSTRAINT IF EXISTS [HIERARCHIES_HIERARCHIES_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[CATALOGS_HIERARCHIES]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[CATALOGS_HIERARCHIES] DROP CONSTRAINT IF EXISTS [HIERARCHIES_CATALOGS_COMPANY_TYPE_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[CATALOGS]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[CATALOGS] DROP CONSTRAINT IF EXISTS [CATALOGS_TYPESCATALOGS_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[APPLICATIONS]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[APPLICATIONS] DROP CONSTRAINT IF EXISTS [APPLICATIONS_APPLICATIONS_GROUP_FK]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[TRANSACTIONAL_PROFILES]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[TRANSACTIONAL_PROFILES] DROP CONSTRAINT IF EXISTS [CONFIGURED_Default_ForNotNullCol]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[DEFAULT_PROFILES]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[DEFAULT_PROFILES] DROP CONSTRAINT IF EXISTS [DF__DEFAULT_P__CODE___36B12243]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[DEFAULT_PROFILES]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[DEFAULT_PROFILES] DROP CONSTRAINT IF EXISTS [DF__DEFAULT_P__CODE___35BCFE0A]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[DEFAULT_PROFILES]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[DEFAULT_PROFILES] DROP CONSTRAINT IF EXISTS [DF__DEFAULT_P__CODE___34C8D9D1]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[DEFAULT_PROFILES]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[DEFAULT_PROFILES] DROP CONSTRAINT IF EXISTS [DF__DEFAULT_P__CODE___33D4B598]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_CENTRA_ID].[DEFAULT_PROFILES]') AND type in (N'U'))
ALTER TABLE [SCH_CENTRA_ID].[DEFAULT_PROFILES] DROP CONSTRAINT IF EXISTS [DF__DEFAULT_P__CODE___32E0915F]
GO
/****** Object:  Index [USERDATA_USERNAME_IDX]    Script Date: 07/04/2020 11:56:53 ******/
DROP INDEX IF EXISTS [USERDATA_USERNAME_IDX] ON [SCH_CENTRA_ID].[USERDATA]
GO
/****** Object:  Index [USERDATA_IDENTIFICATION_IDX]    Script Date: 07/04/2020 11:56:53 ******/
DROP INDEX IF EXISTS [USERDATA_IDENTIFICATION_IDX] ON [SCH_CENTRA_ID].[USERDATA]
GO
/****** Object:  Index [USERDATA_ID_IDX]    Script Date: 07/04/2020 11:56:53 ******/
DROP INDEX IF EXISTS [USERDATA_ID_IDX] ON [SCH_CENTRA_ID].[USERDATA]
GO
/****** Object:  Index [TYPE_USERS_ID_IDX]    Script Date: 07/04/2020 11:56:53 ******/
DROP INDEX IF EXISTS [TYPE_USERS_ID_IDX] ON [SCH_CENTRA_ID].[TYPE_USERS]
GO
/****** Object:  Index [TYPE_USERS_CODE_IDX]    Script Date: 07/04/2020 11:56:53 ******/
DROP INDEX IF EXISTS [TYPE_USERS_CODE_IDX] ON [SCH_CENTRA_ID].[TYPE_USERS]
GO
/****** Object:  Index [TRANSACTIONAL_PROFILES_ID_IDX]    Script Date: 07/04/2020 11:56:53 ******/
DROP INDEX IF EXISTS [TRANSACTIONAL_PROFILES_ID_IDX] ON [SCH_CENTRA_ID].[TRANSACTIONAL_PROFILES]
GO
/****** Object:  Index [TRANSACTIONAL_IDENTITY_ID_IDX]    Script Date: 07/04/2020 11:56:53 ******/
DROP INDEX IF EXISTS [TRANSACTIONAL_IDENTITY_ID_IDX] ON [SCH_CENTRA_ID].[TRANSACTIONAL_IDENTITY]
GO
/****** Object:  Index [TEMPLATE_PROFILES_MATRICES_GROUP_ID_IDX]    Script Date: 07/04/2020 11:56:53 ******/
DROP INDEX IF EXISTS [TEMPLATE_PROFILES_MATRICES_GROUP_ID_IDX] ON [SCH_CENTRA_ID].[TEMPLATE_PROFILES_MATRICES_GROUP]
GO
/****** Object:  Index [TEMPLATE_PROFILES_MATRICES_DETAIL_ID_IDX]    Script Date: 07/04/2020 11:56:53 ******/
DROP INDEX IF EXISTS [TEMPLATE_PROFILES_MATRICES_DETAIL_ID_IDX] ON [SCH_CENTRA_ID].[TEMPLATE_PROFILES_MATRICES_DETAIL]
GO
/****** Object:  Index [TEMPLATE_PROFILES_MATRICES_ID_IDX]    Script Date: 07/04/2020 11:56:53 ******/
DROP INDEX IF EXISTS [TEMPLATE_PROFILES_MATRICES_ID_IDX] ON [SCH_CENTRA_ID].[TEMPLATE_PROFILES_MATRICES]
GO
/****** Object:  Index [TEMPLATE_PROFILES_ID_IDX]    Script Date: 07/04/2020 11:56:53 ******/
DROP INDEX IF EXISTS [TEMPLATE_PROFILES_ID_IDX] ON [SCH_CENTRA_ID].[TEMPLATE_PROFILES]
GO
/****** Object:  Index [TAKS_PROVISIONING_HISTORY_ID_IDX]    Script Date: 07/04/2020 11:56:53 ******/
DROP INDEX IF EXISTS [TAKS_PROVISIONING_HISTORY_ID_IDX] ON [SCH_CENTRA_ID].[TAKS_PROVISIONING_HISTORY]
GO
/****** Object:  Index [TAKS_PROVISIONING_ID_IDX]    Script Date: 07/04/2020 11:56:53 ******/
DROP INDEX IF EXISTS [TAKS_PROVISIONING_ID_IDX] ON [SCH_CENTRA_ID].[TAKS_PROVISIONING]
GO
/****** Object:  Index [REST_USER_STORE_SCIM_ID_IDX]    Script Date: 07/04/2020 11:56:53 ******/
DROP INDEX IF EXISTS [REST_USER_STORE_SCIM_ID_IDX] ON [SCH_CENTRA_ID].[REST_USER_STORE_SCIM]
GO
/****** Object:  Index [PROCESS_DISTRIBUTION_LIST_ID_IDX]    Script Date: 07/04/2020 11:56:53 ******/
DROP INDEX IF EXISTS [PROCESS_DISTRIBUTION_LIST_ID_IDX] ON [SCH_CENTRA_ID].[PROCESS_DISTRIBUTION_LIST]
GO
/****** Object:  Index [PROCESS_ID_IDX]    Script Date: 07/04/2020 11:56:53 ******/
DROP INDEX IF EXISTS [PROCESS_ID_IDX] ON [SCH_CENTRA_ID].[PROCESS]
GO
/****** Object:  Index [OPERATIONS_PROVISIONING_ID_IDX]    Script Date: 07/04/2020 11:56:53 ******/
DROP INDEX IF EXISTS [OPERATIONS_PROVISIONING_ID_IDX] ON [SCH_CENTRA_ID].[OPERATIONS_PROVISIONING]
GO
/****** Object:  Index [MGI_REPROCESO_ID_IDX]    Script Date: 07/04/2020 11:56:53 ******/
DROP INDEX IF EXISTS [MGI_REPROCESO_ID_IDX] ON [SCH_CENTRA_ID].[MGI_REPROCESO]
GO
/****** Object:  Index [MENUS_ID_IDX]    Script Date: 07/04/2020 11:56:53 ******/
DROP INDEX IF EXISTS [MENUS_ID_IDX] ON [SCH_CENTRA_ID].[MENUS]
GO
/****** Object:  Index [MATRICES_DETAIL_ID_IDX]    Script Date: 07/04/2020 11:56:53 ******/
DROP INDEX IF EXISTS [MATRICES_DETAIL_ID_IDX] ON [SCH_CENTRA_ID].[MATRICES_DETAIL]
GO
/****** Object:  Index [MATRICES_ID_IDX]    Script Date: 07/04/2020 11:56:53 ******/
DROP INDEX IF EXISTS [MATRICES_ID_IDX] ON [SCH_CENTRA_ID].[MATRICES]
GO
/****** Object:  Index [MASSIVE_PROCESS_PROBLEMS_ID_IDX]    Script Date: 07/04/2020 11:56:53 ******/
DROP INDEX IF EXISTS [MASSIVE_PROCESS_PROBLEMS_ID_IDX] ON [SCH_CENTRA_ID].[MASSIVE_PROCESS_PROBLEMS]
GO
/****** Object:  Index [MASSIVE_PROCESS_ID_IDX]    Script Date: 07/04/2020 11:56:53 ******/
DROP INDEX IF EXISTS [MASSIVE_PROCESS_ID_IDX] ON [SCH_CENTRA_ID].[MASSIVE_PROCESS]
GO
/****** Object:  Index [HISTORY_SCOPE_RULES_ID_IDX]    Script Date: 07/04/2020 11:56:53 ******/
DROP INDEX IF EXISTS [HISTORY_SCOPE_RULES_ID_IDX] ON [SCH_CENTRA_ID].[HISTORY_SCOPE_RULES]
GO
/****** Object:  Index [GUIDS_ID_IDX]    Script Date: 07/04/2020 11:56:53 ******/
DROP INDEX IF EXISTS [GUIDS_ID_IDX] ON [SCH_CENTRA_ID].[GUIDS]
GO
/****** Object:  Index [GLOBAL_TRANSACTIONAL_PROFILES_ID_IDX]    Script Date: 07/04/2020 11:56:53 ******/
DROP INDEX IF EXISTS [GLOBAL_TRANSACTIONAL_PROFILES_ID_IDX] ON [SCH_CENTRA_ID].[GLOBAL_TRANSACTIONAL_PROFILES]
GO
/****** Object:  Index [GLOBAL_PROFILES_ID_IDX]    Script Date: 07/04/2020 11:56:53 ******/
DROP INDEX IF EXISTS [GLOBAL_PROFILES_ID_IDX] ON [SCH_CENTRA_ID].[GLOBAL_PROFILES]
GO
/****** Object:  Index [GLOBAL_PARAMETERS_ID_IDX]    Script Date: 07/04/2020 11:56:53 ******/
DROP INDEX IF EXISTS [GLOBAL_PARAMETERS_ID_IDX] ON [SCH_CENTRA_ID].[GLOBAL_PARAMETERS]
GO
/****** Object:  Index [FIELDS_ID_IDX]    Script Date: 07/04/2020 11:56:53 ******/
DROP INDEX IF EXISTS [FIELDS_ID_IDX] ON [SCH_CENTRA_ID].[FIELDS]
GO
/****** Object:  Index [DISTRIBUTION_LIST_DETAIL_ID_IDX]    Script Date: 07/04/2020 11:56:53 ******/
DROP INDEX IF EXISTS [DISTRIBUTION_LIST_DETAIL_ID_IDX] ON [SCH_CENTRA_ID].[DISTRIBUTION_LIST_DETAIL]
GO
/****** Object:  Index [DISTRIBUTION_LIST_ID_IDX]    Script Date: 07/04/2020 11:56:53 ******/
DROP INDEX IF EXISTS [DISTRIBUTION_LIST_ID_IDX] ON [SCH_CENTRA_ID].[DISTRIBUTION_LIST]
GO
/****** Object:  Index [DEFAULT_PROFILES_ID_IDX]    Script Date: 07/04/2020 11:56:53 ******/
DROP INDEX IF EXISTS [DEFAULT_PROFILES_ID_IDX] ON [SCH_CENTRA_ID].[DEFAULT_PROFILES]
GO
/****** Object:  Index [COSTS_CENTERS_ID_IDX]    Script Date: 07/04/2020 11:56:53 ******/
DROP INDEX IF EXISTS [COSTS_CENTERS_ID_IDX] ON [SCH_CENTRA_ID].[COSTS_CENTERS]
GO
/****** Object:  Index [COSTS_CENTERS_CODE_IDX]    Script Date: 07/04/2020 11:56:53 ******/
DROP INDEX IF EXISTS [COSTS_CENTERS_CODE_IDX] ON [SCH_CENTRA_ID].[COSTS_CENTERS]
GO
/****** Object:  Index [COMPANIES_STRUCTURES_ID_IDX]    Script Date: 07/04/2020 11:56:53 ******/
DROP INDEX IF EXISTS [COMPANIES_STRUCTURES_ID_IDX] ON [SCH_CENTRA_ID].[COMPANIES_STRUCTURES]
GO
/****** Object:  Index [COMPANIES_ID_IDX]    Script Date: 07/04/2020 11:56:53 ******/
DROP INDEX IF EXISTS [COMPANIES_ID_IDX] ON [SCH_CENTRA_ID].[COMPANIES]
GO
/****** Object:  Index [COMPANIES_CODE_IDX]    Script Date: 07/04/2020 11:56:53 ******/
DROP INDEX IF EXISTS [COMPANIES_CODE_IDX] ON [SCH_CENTRA_ID].[COMPANIES]
GO
/****** Object:  Index [CATALOGS_TYPES_ID_IDX]    Script Date: 07/04/2020 11:56:53 ******/
DROP INDEX IF EXISTS [CATALOGS_TYPES_ID_IDX] ON [SCH_CENTRA_ID].[CATALOGS_TYPES]
GO
/****** Object:  Index [CATALOGS_HIERARCHIES_ID_IDX]    Script Date: 07/04/2020 11:56:53 ******/
DROP INDEX IF EXISTS [CATALOGS_HIERARCHIES_ID_IDX] ON [SCH_CENTRA_ID].[CATALOGS_HIERARCHIES]
GO
/****** Object:  Index [CATALOGS_ID_IDX]    Script Date: 07/04/2020 11:56:53 ******/
DROP INDEX IF EXISTS [CATALOGS_ID_IDX] ON [SCH_CENTRA_ID].[CATALOGS]
GO
/****** Object:  Index [CATALOGS_CODE_IDX]    Script Date: 07/04/2020 11:56:53 ******/
DROP INDEX IF EXISTS [CATALOGS_CODE_IDX] ON [SCH_CENTRA_ID].[CATALOGS]
GO
/****** Object:  Index [APPLICATIONS_GROUP_ID_IDX]    Script Date: 07/04/2020 11:56:53 ******/
DROP INDEX IF EXISTS [APPLICATIONS_GROUP_ID_IDX] ON [SCH_CENTRA_ID].[APPLICATIONS_GROUP]
GO
/****** Object:  Index [APPLICATIONS_ID_IDX]    Script Date: 07/04/2020 11:56:53 ******/
DROP INDEX IF EXISTS [APPLICATIONS_ID_IDX] ON [SCH_CENTRA_ID].[APPLICATIONS]
GO
/****** Object:  Table [SCH_CENTRA_ID_AUDIT].[LOG_TRANSACTIONAL]    Script Date: 07/04/2020 11:56:53 ******/
DROP TABLE IF EXISTS [SCH_CENTRA_ID_AUDIT].[LOG_TRANSACTIONAL]
GO
/****** Object:  Table [SCH_CENTRA_ID_AUDIT].[LOG_PERFORMANCE]    Script Date: 07/04/2020 11:56:53 ******/
DROP TABLE IF EXISTS [SCH_CENTRA_ID_AUDIT].[LOG_PERFORMANCE]
GO
/****** Object:  Table [SCH_CENTRA_ID_AUDIT].[LOG_EXCEPTIONS]    Script Date: 07/04/2020 11:56:53 ******/
DROP TABLE IF EXISTS [SCH_CENTRA_ID_AUDIT].[LOG_EXCEPTIONS]
GO
/****** Object:  Table [SCH_CENTRA_ID].[USER_MIGRATION_ERRORS2]    Script Date: 07/04/2020 11:56:53 ******/
DROP TABLE IF EXISTS [SCH_CENTRA_ID].[USER_MIGRATION_ERRORS2]
GO
/****** Object:  Table [SCH_CENTRA_ID].[USER_MIGRATION_ERRORS]    Script Date: 07/04/2020 11:56:53 ******/
DROP TABLE IF EXISTS [SCH_CENTRA_ID].[USER_MIGRATION_ERRORS]
GO
/****** Object:  Table [SCH_CENTRA_ID].[TRANSACTIONAL_IDENTITY]    Script Date: 07/04/2020 11:56:53 ******/
DROP TABLE IF EXISTS [SCH_CENTRA_ID].[TRANSACTIONAL_IDENTITY]
GO
/****** Object:  Table [SCH_CENTRA_ID].[TAKS_PROVISIONING_HISTORY]    Script Date: 07/04/2020 11:56:53 ******/
DROP TABLE IF EXISTS [SCH_CENTRA_ID].[TAKS_PROVISIONING_HISTORY]
GO
/****** Object:  Table [SCH_CENTRA_ID].[TAKS_PROVISIONING]    Script Date: 07/04/2020 11:56:53 ******/
DROP TABLE IF EXISTS [SCH_CENTRA_ID].[TAKS_PROVISIONING]
GO
/****** Object:  Table [SCH_CENTRA_ID].[REST_USER_STORE_SCIM]    Script Date: 07/04/2020 11:56:53 ******/
DROP TABLE IF EXISTS [SCH_CENTRA_ID].[REST_USER_STORE_SCIM]
GO
/****** Object:  Table [SCH_CENTRA_ID].[PROCESS_DISTRIBUTION_LIST]    Script Date: 07/04/2020 11:56:53 ******/
DROP TABLE IF EXISTS [SCH_CENTRA_ID].[PROCESS_DISTRIBUTION_LIST]
GO
/****** Object:  Table [SCH_CENTRA_ID].[PROCESS]    Script Date: 07/04/2020 11:56:53 ******/
DROP TABLE IF EXISTS [SCH_CENTRA_ID].[PROCESS]
GO
/****** Object:  Table [SCH_CENTRA_ID].[OPERATIONS_PROVISIONING]    Script Date: 07/04/2020 11:56:53 ******/
DROP TABLE IF EXISTS [SCH_CENTRA_ID].[OPERATIONS_PROVISIONING]
GO
/****** Object:  Table [SCH_CENTRA_ID].[MGI_REPROCESO]    Script Date: 07/04/2020 11:56:53 ******/
DROP TABLE IF EXISTS [SCH_CENTRA_ID].[MGI_REPROCESO]
GO
/****** Object:  Table [SCH_CENTRA_ID].[MENUS]    Script Date: 07/04/2020 11:56:53 ******/
DROP TABLE IF EXISTS [SCH_CENTRA_ID].[MENUS]
GO
/****** Object:  Table [SCH_CENTRA_ID].[MASSIVE_PROCESS_PROBLEMS]    Script Date: 07/04/2020 11:56:53 ******/
DROP TABLE IF EXISTS [SCH_CENTRA_ID].[MASSIVE_PROCESS_PROBLEMS]
GO
/****** Object:  Table [SCH_CENTRA_ID].[MASSIVE_PROCESS]    Script Date: 07/04/2020 11:56:53 ******/
DROP TABLE IF EXISTS [SCH_CENTRA_ID].[MASSIVE_PROCESS]
GO
/****** Object:  Table [SCH_CENTRA_ID].[HISTORY_SCOPE_RULES]    Script Date: 07/04/2020 11:56:53 ******/
DROP TABLE IF EXISTS [SCH_CENTRA_ID].[HISTORY_SCOPE_RULES]
GO
/****** Object:  Table [SCH_CENTRA_ID].[GUIDS]    Script Date: 07/04/2020 11:56:53 ******/
DROP TABLE IF EXISTS [SCH_CENTRA_ID].[GUIDS]
GO
/****** Object:  Table [SCH_CENTRA_ID].[GLOBAL_PARAMETERS]    Script Date: 07/04/2020 11:56:53 ******/
DROP TABLE IF EXISTS [SCH_CENTRA_ID].[GLOBAL_PARAMETERS]
GO
/****** Object:  Table [SCH_CENTRA_ID].[DISTRIBUTION_LIST_DETAIL]    Script Date: 07/04/2020 11:56:53 ******/
DROP TABLE IF EXISTS [SCH_CENTRA_ID].[DISTRIBUTION_LIST_DETAIL]
GO
/****** Object:  Table [SCH_CENTRA_ID].[DISTRIBUTION_LIST]    Script Date: 07/04/2020 11:56:53 ******/
DROP TABLE IF EXISTS [SCH_CENTRA_ID].[DISTRIBUTION_LIST]
GO
/****** Object:  Table [SCH_CENTRA_ID].[COMPANIES_STRUCTURES]    Script Date: 07/04/2020 11:56:53 ******/
DROP TABLE IF EXISTS [SCH_CENTRA_ID].[COMPANIES_STRUCTURES]
GO
/****** Object:  Table [SCH_CENTRA_ID].[CHALLENGE_QUESTIONS]    Script Date: 07/04/2020 11:56:53 ******/
DROP TABLE IF EXISTS [SCH_CENTRA_ID].[CHALLENGE_QUESTIONS]
GO
/****** Object:  Table [SCH_CENTRA_ID].[CATALOGS_TYPES]    Script Date: 07/04/2020 11:56:53 ******/
DROP TABLE IF EXISTS [SCH_CENTRA_ID].[CATALOGS_TYPES]
GO
/****** Object:  Table [SCH_CENTRA_ID].[CATALOGS_HIERARCHIES]    Script Date: 07/04/2020 11:56:53 ******/
DROP TABLE IF EXISTS [SCH_CENTRA_ID].[CATALOGS_HIERARCHIES]
GO
/****** Object:  View [SCH_CENTRA_ID].[TEMPLATE_PROFILES_VW]    Script Date: 07/04/2020 11:56:53 ******/
DROP VIEW IF EXISTS [SCH_CENTRA_ID].[TEMPLATE_PROFILES_VW]
GO
/****** Object:  View [SCH_CENTRA_ID].[TEMPLATE_PROFILES_MATRIX_VW]    Script Date: 07/04/2020 11:56:53 ******/
DROP VIEW IF EXISTS [SCH_CENTRA_ID].[TEMPLATE_PROFILES_MATRIX_VW]
GO
/****** Object:  Table [SCH_CENTRA_ID].[TEMPLATE_PROFILES_MATRICES_GROUP]    Script Date: 07/04/2020 11:56:53 ******/
DROP TABLE IF EXISTS [SCH_CENTRA_ID].[TEMPLATE_PROFILES_MATRICES_GROUP]
GO
/****** Object:  Table [SCH_CENTRA_ID].[TEMPLATE_PROFILES_MATRICES_DETAIL]    Script Date: 07/04/2020 11:56:53 ******/
DROP TABLE IF EXISTS [SCH_CENTRA_ID].[TEMPLATE_PROFILES_MATRICES_DETAIL]
GO
/****** Object:  Table [SCH_CENTRA_ID].[TEMPLATE_PROFILES_MATRICES]    Script Date: 07/04/2020 11:56:53 ******/
DROP TABLE IF EXISTS [SCH_CENTRA_ID].[TEMPLATE_PROFILES_MATRICES]
GO
/****** Object:  Table [SCH_CENTRA_ID].[MATRICES_DETAIL]    Script Date: 07/04/2020 11:56:53 ******/
DROP TABLE IF EXISTS [SCH_CENTRA_ID].[MATRICES_DETAIL]
GO
/****** Object:  Table [SCH_CENTRA_ID].[MATRICES]    Script Date: 07/04/2020 11:56:53 ******/
DROP TABLE IF EXISTS [SCH_CENTRA_ID].[MATRICES]
GO
/****** Object:  View [SCH_CENTRA_ID].[USERDATA_VW]    Script Date: 07/04/2020 11:56:53 ******/
DROP VIEW IF EXISTS [SCH_CENTRA_ID].[USERDATA_VW]
GO
/****** Object:  View [SCH_CENTRA_ID].[TRANSACTIONAL_PROFILES_VW]    Script Date: 07/04/2020 11:56:53 ******/
DROP VIEW IF EXISTS [SCH_CENTRA_ID].[TRANSACTIONAL_PROFILES_VW]
GO
/****** Object:  View [SCH_CENTRA_ID].[USERDATA_REPORT_VW]    Script Date: 07/04/2020 11:56:53 ******/
DROP VIEW IF EXISTS [SCH_CENTRA_ID].[USERDATA_REPORT_VW]
GO
/****** Object:  Table [SCH_CENTRA_ID].[USERDATA]    Script Date: 07/04/2020 11:56:53 ******/
DROP TABLE IF EXISTS [SCH_CENTRA_ID].[USERDATA]
GO
/****** Object:  Table [SCH_CENTRA_ID].[TYPE_USERS]    Script Date: 07/04/2020 11:56:53 ******/
DROP TABLE IF EXISTS [SCH_CENTRA_ID].[TYPE_USERS]
GO
/****** Object:  Table [SCH_CENTRA_ID].[COSTS_CENTERS]    Script Date: 07/04/2020 11:56:53 ******/
DROP TABLE IF EXISTS [SCH_CENTRA_ID].[COSTS_CENTERS]
GO
/****** Object:  Table [SCH_CENTRA_ID].[COMPANIES]    Script Date: 07/04/2020 11:56:53 ******/
DROP TABLE IF EXISTS [SCH_CENTRA_ID].[COMPANIES]
GO
/****** Object:  View [SCH_CENTRA_ID].[TRANSACTIONAL_PROFILES_REPORT_VW]    Script Date: 07/04/2020 11:56:53 ******/
DROP VIEW IF EXISTS [SCH_CENTRA_ID].[TRANSACTIONAL_PROFILES_REPORT_VW]
GO
/****** Object:  Table [SCH_CENTRA_ID].[TEMPLATE_PROFILES]    Script Date: 07/04/2020 11:56:53 ******/
DROP TABLE IF EXISTS [SCH_CENTRA_ID].[TEMPLATE_PROFILES]
GO
/****** Object:  Table [SCH_CENTRA_ID].[FIELDS]    Script Date: 07/04/2020 11:56:53 ******/
DROP TABLE IF EXISTS [SCH_CENTRA_ID].[FIELDS]
GO
/****** Object:  View [SCH_CENTRA_ID].[GLOBAL_TRANSACTIONAL_PROFILES_REPORT_VW]    Script Date: 07/04/2020 11:56:53 ******/
DROP VIEW IF EXISTS [SCH_CENTRA_ID].[GLOBAL_TRANSACTIONAL_PROFILES_REPORT_VW]
GO
/****** Object:  Table [SCH_CENTRA_ID].[TRANSACTIONAL_PROFILES]    Script Date: 07/04/2020 11:56:53 ******/
DROP TABLE IF EXISTS [SCH_CENTRA_ID].[TRANSACTIONAL_PROFILES]
GO
/****** Object:  Table [SCH_CENTRA_ID].[GLOBAL_TRANSACTIONAL_PROFILES]    Script Date: 07/04/2020 11:56:53 ******/
DROP TABLE IF EXISTS [SCH_CENTRA_ID].[GLOBAL_TRANSACTIONAL_PROFILES]
GO
/****** Object:  Table [SCH_CENTRA_ID].[APPLICATIONS_GROUP]    Script Date: 07/04/2020 11:56:53 ******/
DROP TABLE IF EXISTS [SCH_CENTRA_ID].[APPLICATIONS_GROUP]
GO
/****** Object:  Table [SCH_CENTRA_ID].[APPLICATIONS]    Script Date: 07/04/2020 11:56:53 ******/
DROP TABLE IF EXISTS [SCH_CENTRA_ID].[APPLICATIONS]
GO
/****** Object:  View [SCH_CENTRA_ID].[GLOBAL_PROFILES_REPORT_VW]    Script Date: 07/04/2020 11:56:53 ******/
DROP VIEW IF EXISTS [SCH_CENTRA_ID].[GLOBAL_PROFILES_REPORT_VW]
GO
/****** Object:  View [SCH_CENTRA_ID].[DEFAULT_PROFILES_REPORT_VW]    Script Date: 07/04/2020 11:56:53 ******/
DROP VIEW IF EXISTS [SCH_CENTRA_ID].[DEFAULT_PROFILES_REPORT_VW]
GO
/****** Object:  Table [SCH_CENTRA_ID].[GLOBAL_PROFILES]    Script Date: 07/04/2020 11:56:53 ******/
DROP TABLE IF EXISTS [SCH_CENTRA_ID].[GLOBAL_PROFILES]
GO
/****** Object:  Table [SCH_CENTRA_ID].[DEFAULT_PROFILES]    Script Date: 07/04/2020 11:56:53 ******/
DROP TABLE IF EXISTS [SCH_CENTRA_ID].[DEFAULT_PROFILES]
GO
/****** Object:  Table [SCH_CENTRA_ID].[CATALOGS]    Script Date: 07/04/2020 11:56:53 ******/
DROP TABLE IF EXISTS [SCH_CENTRA_ID].[CATALOGS]
GO
DROP SCHEMA  IF EXISTS [SCH_CENTRA_ID]
GO
DROP SCHEMA  IF EXISTS [SCH_CENTRA_ID_AUDIT]
GO
