USE [CENTRA_ID]
GO

ALTER TABLE "SCH_CENTRA_ID"."TRANSACTIONAL_IDENTITY" ADD GLOBAL_PROFILE_PREVIUS_ID bigint
GO


DROP VIEW SCH_CENTRA_ID.TRANSACTIONAL_PROFILES_VW
GO
CREATE VIEW SCH_CENTRA_ID.TRANSACTIONAL_PROFILES_VW (GLOBAL_PROFILE_ID, GLOBAL_PROFILE_CODE, GLOBAL_PROFILE_NAME, GLOBAL_PROFILE_IS_BIRTH, ID, TRANSACTIONAL_PROFILE_CODE, TRANSACTIONAL_PROFILE_NAME, TRANSACTIONAL_PROFILE_COMMENTS, TRANSACTIONAL_PROFILE_CATALOG_RISK_LEVEL_ID, TRANSACTIONAL_PROFILE_APPLICATION_ID, APPLICATION_CODE, APPLICATION_NAME, APPLICATION_AUTOMATIC_PROVISION, VALID, FILTER,APPLICATION_ID,APPLICATION_GROUP_ID,APPLICATION_GROUP_CODE,APPLICATION_GROUP_NAME) AS 
 select 
gp.id GLOBAL_PROFILE_ID,
gp.code GLOBAL_PROFILE_CODE,
gp.name GLOBAL_PROFILE_NAME,
gp.is_birth GLOBAL_PROFILE_IS_BIRTH,
tp.id ID,
tp.code TRANSACTIONAL_PROFILE_CODE,
tp.name TRANSACTIONAL_PROFILE_NAME,
tp.comments TRANSACTIONAL_PROFILE_COMMENTS,
tp.catalog_risk_level_id TRANSACTIONAL_PROFILE_CATALOG_RISK_LEVEL_ID,
tp.application_id TRANSACTIONAL_PROFILE_APPLICATION_ID,
a.code APPLICATION_CODE,
a.name APPLICATION_NAME,
a.automatic_provision APPLICATION_AUTOMATIC_PROVISION,
tp.valid VALID,
tp.filter FILTER,
a.ID APPLICATION_ID,
ag.ID APPLICATION_GROUP_ID,
ag.CODE APPLICATION_GROUP_CODE,
ag.NAME APPLICATION_GROUP_NAME
from sch_centra_id.GLOBAL_PROFILES gp
join sch_centra_id.GLOBAL_TRANSACTIONAL_PROFILES gtp on gtp.GLOBAL_PROFILE_ID=gp.id
join sch_centra_id.TRANSACTIONAL_PROFILES tp on gtp.TRANSACTIONAL_PROFILE_ID=tp.id
join sch_centra_id.APPLICATIONS a on a.id=tp.application_id
join SCH_CENTRA_ID.APPLICATIONS_GROUP ag on a.APPLICATION_GROUP_ID=ag.ID
where gp.valid=1 and gtp.VALID=1 and tp.valid=1
GO



DROP VIEW SCH_CENTRA_ID.TEMPLATE_PROFILES_VW
GO
CREATE VIEW SCH_CENTRA_ID.TEMPLATE_PROFILES_VW (ID, FIELD_CODE, FIELD_NAME, FIELD_VALUE, TRANSACTIONAL_PROFILE_ID, APPLICATION_CODE, VALID,FIELD_ID) AS 
SELECT 
tp.ID,
f.CODE FIELD_CODE,
f.NAME FIELD_NAME,
tp.FIELD_VALUE FIELD_VALUE,
tp.TRANSACTIONAL_PROFILE_ID,
apg.CODE APPLICATION_CODE,
tp.VALID,
f.ID FIELD_ID
FROM SCH_CENTRA_ID.TEMPLATE_PROFILES tp
left join SCH_CENTRA_ID.FIELDS f on tp.FIELD_ID=f.ID
left join SCH_CENTRA_ID.TRANSACTIONAL_PROFILES tr on  tr.ID=tp.TRANSACTIONAL_PROFILE_ID
left join SCH_CENTRA_ID.APPLICATIONS ap on ap.id=tr.application_id
left join SCH_CENTRA_ID.APPLICATIONS_GROUP apg on apg.id=ap.APPLICATION_GROUP_ID
GO


DROP VIEW SCH_CENTRA_ID.TEMPLATE_PROFILES_MATRIX_VW
GO
CREATE VIEW SCH_CENTRA_ID.TEMPLATE_PROFILES_MATRIX_VW (ID, TRANSACTIONAL_PROFILE_ID, FIELD_CODE, FIELD_NAME, FIELD_DETAIL_CODE, FIELD_DETAIL_NAME, FIELD_DETAIL_VALUE, APPLICATION_CODE, VALID, GROUPER,FIELD_ID,FIELD_DETAIL_ID) AS 
select 
tpmd.ID,
tpm.TRANSACTIONAL_PROFILE_ID,
m.CODE FIELD_CODE,
m.NAME FIELD_NAME,
md.CODE FIELD_DETAIL_CODE,
md.NAME FIELD_DETAIL_NAME,
tpmd.VALUE FIELD_DETAIL_VALUE,
ap.CODE APPLICATION_CODE,
tpmd.VALID,
tpmg.ID GROUPER,
m.ID FIELD_ID,
md.ID FIELD_DETAIL_ID
from SCH_CENTRA_ID.TEMPLATE_PROFILES_MATRICES tpm
join SCH_CENTRA_ID.TEMPLATE_PROFILES_MATRICES_GROUP tpmg on tpmg.TEMPLATE_PROFILE_MATRIX_ID=tpm.ID
join SCH_CENTRA_ID.TEMPLATE_PROFILES_MATRICES_DETAIL tpmd on tpmd.TEMPLATE_PROFILE_MATRIX_GROUP_ID=tpmg.ID
join SCH_CENTRA_ID.MATRICES_DETAIL md on tpmd.MATRIX_DETAIL_ID=md.ID
join SCH_CENTRA_ID.MATRICES m on tpm.MATRIX_ID=m.ID
join SCH_CENTRA_ID.TRANSACTIONAL_PROFILES tr on  tr.ID=tpm.TRANSACTIONAL_PROFILE_ID
join SCH_CENTRA_ID.APPLICATIONS ap on ap.id=tr.application_id
go

DROP VIEW SCH_CENTRA_ID.TRANSACTIONAL_PROFILES_VW
GO
CREATE VIEW SCH_CENTRA_ID.TRANSACTIONAL_PROFILES_VW (GLOBAL_PROFILE_ID, GLOBAL_PROFILE_CODE, GLOBAL_PROFILE_NAME, GLOBAL_PROFILE_IS_BIRTH, ID, TRANSACTIONAL_PROFILE_CODE, TRANSACTIONAL_PROFILE_NAME, TRANSACTIONAL_PROFILE_COMMENTS, TRANSACTIONAL_PROFILE_CATALOG_RISK_LEVEL_ID, TRANSACTIONAL_PROFILE_APPLICATION_ID, APPLICATION_CODE, APPLICATION_NAME, APPLICATION_AUTOMATIC_PROVISION, VALID, FILTER, APPLICATION_ID, APPLICATION_GROUP_ID, APPLICATION_GROUP_CODE, APPLICATION_GROUP_NAME) AS 
 select 
gp.id GLOBAL_PROFILE_ID,
gp.code GLOBAL_PROFILE_CODE,
gp.name GLOBAL_PROFILE_NAME,
gp.is_birth GLOBAL_PROFILE_IS_BIRTH,
tp.id ID,
tp.code TRANSACTIONAL_PROFILE_CODE,
tp.name TRANSACTIONAL_PROFILE_NAME,
tp.comments TRANSACTIONAL_PROFILE_COMMENTS,
tp.catalog_risk_level_id TRANSACTIONAL_PROFILE_CATALOG_RISK_LEVEL_ID,
tp.application_id TRANSACTIONAL_PROFILE_APPLICATION_ID,
a.code APPLICATION_CODE,
a.name APPLICATION_NAME,
a.automatic_provision APPLICATION_AUTOMATIC_PROVISION,
tp.valid VALID,
tp.filter FILTER,
a.ID APPLICATION_ID,
ag.ID APPLICATION_GROUP_ID,
ag.CODE APPLICATION_GROUP_CODE,
ag.NAME APPLICATION_GROUP_NAME
from sch_centra_id.TRANSACTIONAL_PROFILES tp
left join sch_centra_id.GLOBAL_TRANSACTIONAL_PROFILES gtp on gtp.TRANSACTIONAL_PROFILE_ID=tp.id
left join sch_centra_id.GLOBAL_PROFILES gp on gtp.GLOBAL_PROFILE_ID=gp.id
left join sch_centra_id.APPLICATIONS a on a.id=tp.application_id
left join SCH_CENTRA_ID.APPLICATIONS_GROUP ag on a.APPLICATION_GROUP_ID=ag.ID
GO





DROP VIEW SCH_CENTRA_ID.TRANSACTIONAL_PROFILES_VW
GO
CREATE VIEW SCH_CENTRA_ID.TRANSACTIONAL_PROFILES_VW (GLOBAL_PROFILE_ID, GLOBAL_PROFILE_CODE, GLOBAL_PROFILE_NAME, GLOBAL_PROFILE_IS_BIRTH, ID, TRANSACTIONAL_PROFILE_CODE, TRANSACTIONAL_PROFILE_NAME, TRANSACTIONAL_PROFILE_COMMENTS, TRANSACTIONAL_PROFILE_CATALOG_RISK_LEVEL_ID, TRANSACTIONAL_PROFILE_APPLICATION_ID, APPLICATION_CODE, APPLICATION_NAME, APPLICATION_AUTOMATIC_PROVISION, VALID, FILTER, APPLICATION_ID, APPLICATION_GROUP_ID, APPLICATION_GROUP_CODE, APPLICATION_GROUP_NAME) AS 
 select 
gp.id GLOBAL_PROFILE_ID,
gp.code GLOBAL_PROFILE_CODE,
gp.name GLOBAL_PROFILE_NAME,
gp.is_birth GLOBAL_PROFILE_IS_BIRTH,
tp.id ID,
tp.code TRANSACTIONAL_PROFILE_CODE,
tp.name TRANSACTIONAL_PROFILE_NAME,
tp.comments TRANSACTIONAL_PROFILE_COMMENTS,
tp.catalog_risk_level_id TRANSACTIONAL_PROFILE_CATALOG_RISK_LEVEL_ID,
tp.application_id TRANSACTIONAL_PROFILE_APPLICATION_ID,
a.code APPLICATION_CODE,
a.name APPLICATION_NAME,
a.automatic_provision APPLICATION_AUTOMATIC_PROVISION,
tp.valid VALID,
tp.filter FILTER,
a.ID APPLICATION_ID,
ag.ID APPLICATION_GROUP_ID,
ag.CODE APPLICATION_GROUP_CODE,
ag.NAME APPLICATION_GROUP_NAME
from sch_centra_id.TRANSACTIONAL_PROFILES tp
left join sch_centra_id.GLOBAL_TRANSACTIONAL_PROFILES gtp on gtp.TRANSACTIONAL_PROFILE_ID=tp.id
left join sch_centra_id.GLOBAL_PROFILES gp on gtp.GLOBAL_PROFILE_ID=gp.id
left join sch_centra_id.APPLICATIONS a on a.id=tp.application_id
left join SCH_CENTRA_ID.APPLICATIONS_GROUP ag on a.APPLICATION_GROUP_ID=ag.ID
GO



CREATE TABLE SCH_CENTRA_ID.PROFILES_SYNCHRONIZATION_EXECUTIONS
    (
        ID BIGINT NOT NULL IDENTITY,
        GLOBAL_PROFILE_ID BIGINT NULL,
        TRANSACTIONAL_PROFILE_ID BIGINT NULL,
        USER_CREATED NVARCHAR(20) NOT NULL,
        DATE_CREATED DATETIME NOT NULL,
        DATE_PLANNED DATETIME NOT NULL,
        DATE_SYNCHRONIZATION_INIT DATETIME,
        DATE_SYNCHRONIZATION_END DATETIME,
        STATUS NVARCHAR(3) NOT NULL,
        TYPE NVARCHAR(3) NOT NULL,
        VALID INT NOT NULL,
        CONSTRAINT PROFILES_SYNCHRONIZATION_EXECUTIONS_PK PRIMARY KEY (ID),
        CONSTRAINT PROFILES_SYNCHRONIZATION_EXECUTIONS_GLOBAL_PROFILES_FK FOREIGN KEY (GLOBAL_PROFILE_ID) REFERENCES SCH_CENTRA_ID.GLOBAL_PROFILES (ID),
        CONSTRAINT PROFILES_SYNCHRONIZATION_EXECUTIONS_TRANSACTIONAL_PROFILES_FK FOREIGN KEY (TRANSACTIONAL_PROFILE_ID) REFERENCES SCH_CENTRA_ID.TRANSACTIONAL_PROFILES (ID)
    )
GO

CREATE TABLE SCH_CENTRA_ID.PROFILES_SYNCHRONIZATION
    (
        ID BIGINT NOT NULL IDENTITY,
        GLOBAL_PROFILE_ID BIGINT NULL,
        TRANSACTIONAL_PROFILE_ID BIGINT NOT NULL,
        PROFILE_SYNCHRONIZATION_EXECUTION_ID BIGINT NULL,
        USER_CREATED NVARCHAR(20) NOT NULL,
        DATE_CREATED DATETIME NOT NULL,
        DATE_SYNCHRONIZATION DATETIME,
        STATUS NVARCHAR(3) NOT NULL,
        TYPE NVARCHAR(1) NOT NULL,
        VALID INT NOT NULL,
        CONSTRAINT PROFILES_SYNCHRONIZATION_PK PRIMARY KEY (ID),
        CONSTRAINT PROFILES_SYNCHRONIZATION_PROFILE_SYNCHRONIZATION_EXECUTION_FK FOREIGN KEY (PROFILE_SYNCHRONIZATION_EXECUTION_ID) REFERENCES SCH_CENTRA_ID.PROFILES_SYNCHRONIZATION_EXECUTIONS (ID),
        CONSTRAINT PROFILES_SYNCHRONIZATION_GLOBAL_PROFILES_FK FOREIGN KEY (GLOBAL_PROFILE_ID) REFERENCES SCH_CENTRA_ID.GLOBAL_PROFILES (ID),
        CONSTRAINT PROFILES_SYNCHRONIZATION_TRANSACTIONAL_PROFILES_FK FOREIGN KEY (TRANSACTIONAL_PROFILE_ID) REFERENCES SCH_CENTRA_ID.TRANSACTIONAL_PROFILES (ID)
    )
GO

Delete from sch_centra_id.MENUS where [TRANSLATE]='NAV.OTHERS_REPORTS.TITLE' and TITLE='Otros Reportes'
GO
UPDATE "SCH_CENTRA_ID"."MENUS" SET "TITLE" = 'Reportes' WHERE "TRANSLATE" = 'NAV.PROFILE_REPORTS.TITLE'
go



CREATE TABLE SCH_CENTRA_ID.TEMPLATE_PROFILES_AD
    (
        ID BIGINT NOT NULL IDENTITY,
        TRANSACTIONAL_PROFILE_ID BIGINT NOT NULL,
	ACTIVATE_MAIL INT ,
	MAILBOX_TYPE NVARCHAR(20),
	SHOULD_CHANGE_PASSWORD_FIRST_TIME INT ,
	SHOULD_NOT_CHANGE_PASSWORD INT ,
	PASSWORD_NOT_EXPIRE INT ,
	ACCOUNT_CONTAINER TEXT,
	GROUP_AD TEXT,
	EXCHANGE_ADVANCED_OWA INT,
	EXCHANGE_ADVANCED_ACTIVE_SYNC INT,
	SIP INT,
	TERMINAL_SERVICES_PROFILE NVARCHAR(20),
	CONNECT_FOLLOWING_DRIVE INT,
	TERMINAL_SERVICES_HOME_DIRECTORY NVARCHAR(100),
	ALLOW_LOGON_TO_TERMINAL_SERVER INT,
	FIELD_ACTIVATE_MAIL_ID BIGINT ,
	FIELD_MAILBOX_TYPE_ID BIGINT ,
	FIELD_SHOULD_CHANGE_PASSWORD_FIRST_TIME_ID BIGINT ,
	FIELD_SHOULD_NOT_CHANGE_PASSWORD_ID BIGINT ,
	FIELD_PASSWORD_NOT_EXPIRE_ID BIGINT ,
	FIELD_ACCOUNT_CONTAINER_ID BIGINT ,
	FIELD_GROUP_AD_ID BIGINT ,
	FIELD_EXCHANGE_ADVANCED_OWA_ID BIGINT ,
	FIELD_EXCHANGE_ADVANCED_ACTIVE_SYNC_ID BIGINT ,
	FIELD_SIP_ID BIGINT ,
	FIELD_TERMINAL_SERVICES_PROFILE_ID BIGINT ,
	FIELD_CONNECT_FOLLOWING_DRIVE_ID BIGINT ,
	FIELD_TERMINAL_SERVICES_HOME_DIRECTORY_ID BIGINT ,
	FIELD_ALLOW_LOGON_TO_TERMINAL_SERVER_ID BIGINT ,
        VALID INT NOT NULL,
        CONSTRAINT TEMPLATE_PROFILE_AD_PK PRIMARY KEY (ID),
        CONSTRAINT TEMPLATE_PROFILE_AD_TRANSACTIONAL_PROFILE_FK FOREIGN KEY (TRANSACTIONAL_PROFILE_ID) REFERENCES SCH_CENTRA_ID.GLOBAL_PROFILES (ID),
        CONSTRAINT TEMPLATE_PROFILE_AD_FIELD_ACTIVATE_MAIL_FK FOREIGN KEY (FIELD_ACTIVATE_MAIL_ID) REFERENCES SCH_CENTRA_ID.FIELDS (ID),
        CONSTRAINT TEMPLATE_PROFILE_AD_FIELD_SHOULD_CHANGE_PASSWORD_FIRST_TIME_FK FOREIGN KEY (FIELD_SHOULD_CHANGE_PASSWORD_FIRST_TIME_ID) REFERENCES SCH_CENTRA_ID.FIELDS (ID),
        CONSTRAINT TEMPLATE_PROFILE_AD_FIELD_SHOULD_NOT_CHANGE_PASSWORD_FK FOREIGN KEY (FIELD_SHOULD_NOT_CHANGE_PASSWORD_ID) REFERENCES SCH_CENTRA_ID.FIELDS (ID),
        CONSTRAINT TEMPLATE_PROFILE_AD_FIELD_PASSWORD_NOT_EXPIRE_FK FOREIGN KEY (FIELD_PASSWORD_NOT_EXPIRE_ID) REFERENCES SCH_CENTRA_ID.FIELDS (ID),
        CONSTRAINT TEMPLATE_PROFILE_AD_FIELD_ACCOUNT_CONTAINER_FK FOREIGN KEY (FIELD_ACCOUNT_CONTAINER_ID) REFERENCES SCH_CENTRA_ID.FIELDS (ID),
        CONSTRAINT TEMPLATE_PROFILE_AD_FIELD_GROUP_AD_FK FOREIGN KEY (FIELD_GROUP_AD_ID) REFERENCES SCH_CENTRA_ID.FIELDS (ID),
        CONSTRAINT TEMPLATE_PROFILE_AD_FIELD_EXCHANGE_ADVANCED_OWA_FK FOREIGN KEY (FIELD_EXCHANGE_ADVANCED_OWA_ID) REFERENCES SCH_CENTRA_ID.FIELDS (ID),
        CONSTRAINT TEMPLATE_PROFILE_AD_FIELD_EXCHANGE_ADVANCED_ACTIVE_SYNC_FK FOREIGN KEY (FIELD_EXCHANGE_ADVANCED_ACTIVE_SYNC_ID) REFERENCES SCH_CENTRA_ID.FIELDS (ID),
        CONSTRAINT TEMPLATE_PROFILE_AD_FIELD_SIP_FK FOREIGN KEY (FIELD_SIP_ID) REFERENCES SCH_CENTRA_ID.FIELDS (ID),
        CONSTRAINT TEMPLATE_PROFILE_AD_FIELD_TERMINAL_SERVICES_PROFILE_FK FOREIGN KEY (FIELD_TERMINAL_SERVICES_PROFILE_ID) REFERENCES SCH_CENTRA_ID.FIELDS (ID),
        CONSTRAINT TEMPLATE_PROFILE_AD_FIELD_CONNECT_FOLLOWING_DRIVE_FK FOREIGN KEY (FIELD_CONNECT_FOLLOWING_DRIVE_ID) REFERENCES SCH_CENTRA_ID.FIELDS (ID),
        CONSTRAINT TEMPLATE_PROFILE_AD_FIELD_TERMINAL_SERVICES_HOME_DIRECTORY_FK FOREIGN KEY (FIELD_TERMINAL_SERVICES_HOME_DIRECTORY_ID) REFERENCES SCH_CENTRA_ID.FIELDS (ID),
        CONSTRAINT TEMPLATE_PROFILE_AD_FIELD_ALLOW_LOGON_TO_TERMINAL_SERVER_FK FOREIGN KEY (FIELD_ALLOW_LOGON_TO_TERMINAL_SERVER_ID) REFERENCES SCH_CENTRA_ID.FIELDS (ID)
    )
GO


