[
{
"attributeURI":"urn:scim:schemas:extension:bp:1.0:data.codigoAgrupacion",
"attributeName":"codigoAgrupacion",
"dataType":"string",
"multiValued":"false",
"multiValuedAttributeChildName":"null",
"description":"codigoAgrupacion",
"schemaURI":"urn:scim:schemas:extension:bp:1.0",
"readOnly":"false",
"required":"false",
"caseExact":"false",
"subAttributes":"null"
},
{
"attributeURI":"urn:scim:schemas:extension:bp:1.0:data.nombreAgrupacion",
"attributeName":"nombreAgrupacion",
"dataType":"string",
"multiValued":"false",
"multiValuedAttributeChildName":"null",
"description":"nombreAgrupacion",
"schemaURI":"urn:scim:schemas:extension:bp:1.0",
"readOnly":"false",
"required":"false",
"caseExact":"false",
"subAttributes":"null"
},
{
"attributeURI":"urn:scim:schemas:extension:bp:1.0:data.nombreCompania",
"attributeName":"nombreCompania",
"dataType":"string",
"multiValued":"false",
"multiValuedAttributeChildName":"null",
"description":"nombreCompania",
"schemaURI":"urn:scim:schemas:extension:bp:1.0",
"readOnly":"false",
"required":"false",
"caseExact":"false",
"subAttributes":"null"
},
{
"attributeURI":"urn:scim:schemas:extension:bp:1.0:data.codigoCompania",
"attributeName":"codigoCompania",
"dataType":"string",
"multiValued":"false",
"multiValuedAttributeChildName":"null",
"description":"codigoCompania",
"schemaURI":"urn:scim:schemas:extension:bp:1.0",
"readOnly":"false",
"required":"false",
"caseExact":"false",
"subAttributes":"null"
},
{
"attributeURI":"urn:scim:schemas:extension:bp:1.0:data.nombreSupervisor",
"attributeName":"nombreSupervisor",
"dataType":"string",
"multiValued":"false",
"multiValuedAttributeChildName":"null",
"description":"nombreSupervisor",
"schemaURI":"urn:scim:schemas:extension:bp:1.0",
"readOnly":"false",
"required":"false",
"caseExact":"false",
"subAttributes":"null"
},
{
"attributeURI":"urn:scim:schemas:extension:bp:1.0:data.identificacionSupervisor",
"attributeName":"identificacionSupervisor",
"dataType":"string",
"multiValued":"false",
"multiValuedAttributeChildName":"null",
"description":"identificacionSupervisor",
"schemaURI":"urn:scim:schemas:extension:bp:1.0",
"readOnly":"false",
"required":"false",
"caseExact":"false",
"subAttributes":"null"
},
{
"attributeURI":"urn:scim:schemas:extension:bp:1.0:data.identificacion",
"attributeName":"identificacion",
"dataType":"string",
"multiValued":"false",
"multiValuedAttributeChildName":"null",
"description":"identificacion",
"schemaURI":"urn:scim:schemas:extension:bp:1.0",
"readOnly":"false",
"required":"false",
"caseExact":"false",
"subAttributes":"null"
},
{
"attributeURI":"urn:scim:schemas:extension:bp:1.0:data.nombresEmpleado",
"attributeName":"nombresEmpleado",
"dataType":"string",
"multiValued":"false",
"multiValuedAttributeChildName":"null",
"description":"nombresEmpleado",
"schemaURI":"urn:scim:schemas:extension:bp:1.0",
"readOnly":"false",
"required":"false",
"caseExact":"false",
"subAttributes":"null"
},
{
"attributeURI":"urn:scim:schemas:extension:bp:1.0:data.apellidosEmpleado",
"attributeName":"apellidosEmpleado",
"dataType":"string",
"multiValued":"false",
"multiValuedAttributeChildName":"null",
"description":"Apellidos de empleado",
"schemaURI":"urn:scim:schemas:extension:bp:1.0",
"readOnly":"false",
"required":"false",
"caseExact":"false",
"subAttributes":"null"
},
{
"attributeURI":"urn:scim:schemas:extension:bp:1.0:data.codigoTrabajador",
"attributeName":"codigoTrabajador",
"dataType":"string",
"multiValued":"false",
"multiValuedAttributeChildName":"null",
"description":"Codigo del trabajador",
"schemaURI":"urn:scim:schemas:extension:bp:1.0",
"readOnly":"false",
"required":"false",
"caseExact":"false",
"subAttributes":"null"
},
{
"attributeURI":"urn:scim:schemas:extension:bp:1.0:data.celular",
"attributeName":"celular",
"dataType":"string",
"multiValued":"false",
"multiValuedAttributeChildName":"null",
"description":"Celular",
"schemaURI":"urn:scim:schemas:extension:bp:1.0",
"readOnly":"false",
"required":"false",
"caseExact":"false",
"subAttributes":"null"
},
{
"attributeURI":"urn:scim:schemas:extension:bp:1.0:data.codigoEmpleado",
"attributeName":"codigoEmpleado",
"dataType":"string",
"multiValued":"false",
"multiValuedAttributeChildName":"null",
"description":"codigoEmpleado",
"schemaURI":"urn:scim:schemas:extension:bp:1.0",
"readOnly":"false",
"required":"false",
"caseExact":"false",
"subAttributes":"null"
},
{
"attributeURI":"urn:scim:schemas:extension:bp:1.0:data.codigoDivision",
"attributeName":"codigoDivision",
"dataType":"string",
"multiValued":"false",
"multiValuedAttributeChildName":"null",
"description":"codigoDivision",
"schemaURI":"urn:scim:schemas:extension:bp:1.0",
"readOnly":"false",
"required":"false",
"caseExact":"false",
"subAttributes":"null"
},
{
"attributeURI":"urn:scim:schemas:extension:bp:1.0:data.nombreDivision",
"attributeName":"nombreDivision",
"dataType":"string",
"multiValued":"false",
"multiValuedAttributeChildName":"null",
"description":"nombreDivision",
"schemaURI":"urn:scim:schemas:extension:bp:1.0",
"readOnly":"false",
"required":"false",
"caseExact":"false",
"subAttributes":"null"
},
{
"attributeURI":"urn:scim:schemas:extension:bp:1.0:data.codigoDepartamento",
"attributeName":"codigoDepartamento",
"dataType":"string",
"multiValued":"false",
"multiValuedAttributeChildName":"null",
"description":"codigoDepartamento",
"schemaURI":"urn:scim:schemas:extension:bp:1.0",
"readOnly":"false",
"required":"false",
"caseExact":"false",
"subAttributes":"null"
},
{
"attributeURI":"urn:scim:schemas:extension:bp:1.0:data.nombreDepartamento",
"attributeName":"nombreDepartamento",
"dataType":"string",
"multiValued":"false",
"multiValuedAttributeChildName":"null",
"description":"nombreDepartamento",
"schemaURI":"urn:scim:schemas:extension:bp:1.0",
"readOnly":"false",
"required":"false",
"caseExact":"false",
"subAttributes":"null"
},
{
"attributeURI":"urn:scim:schemas:extension:bp:1.0:data.codigoArea",
"attributeName":"codigoArea",
"dataType":"string",
"multiValued":"false",
"multiValuedAttributeChildName":"null",
"description":"codigoArea",
"schemaURI":"urn:scim:schemas:extension:bp:1.0",
"readOnly":"false",
"required":"false",
"caseExact":"false",
"subAttributes":"null"
},
{
"attributeURI":"urn:scim:schemas:extension:bp:1.0:data.nombreArea",
"attributeName":"nombreArea",
"dataType":"string",
"multiValued":"false",
"multiValuedAttributeChildName":"null",
"description":"nombreArea",
"schemaURI":"urn:scim:schemas:extension:bp:1.0",
"readOnly":"false",
"required":"false",
"caseExact":"false",
"subAttributes":"null"
},
{
"attributeURI":"urn:scim:schemas:extension:bp:1.0:data.codigoCentroCosto",
"attributeName":"codigoCentroCosto",
"dataType":"string",
"multiValued":"false",
"multiValuedAttributeChildName":"null",
"description":"codigoCentroCosto",
"schemaURI":"urn:scim:schemas:extension:bp:1.0",
"readOnly":"false",
"required":"false",
"caseExact":"false",
"subAttributes":"null"
},
{
"attributeURI":"urn:scim:schemas:extension:bp:1.0:data.nombreCentroCosto",
"attributeName":"nombreCentroCosto",
"dataType":"string",
"multiValued":"false",
"multiValuedAttributeChildName":"null",
"description":"nombreCentroCosto",
"schemaURI":"urn:scim:schemas:extension:bp:1.0",
"readOnly":"false",
"required":"false",
"caseExact":"false",
"subAttributes":"null"
},
{
"attributeURI":"urn:scim:schemas:extension:bp:1.0:data.nombreCargo",
"attributeName":"nombreCargo",
"dataType":"string",
"multiValued":"false",
"multiValuedAttributeChildName":"null",
"description":"nombreCargo",
"schemaURI":"urn:scim:schemas:extension:bp:1.0",
"readOnly":"false",
"required":"false",
"caseExact":"false",
"subAttributes":"null"
},
{
"attributeURI":"urn:scim:schemas:extension:bp:1.0:data.codigoNivelJerarquico",
"attributeName":"codigoNivelJerarquico",
"dataType":"string",
"multiValued":"false",
"multiValuedAttributeChildName":"null",
"description":"codigoNivelJerarquico",
"schemaURI":"urn:scim:schemas:extension:bp:1.0",
"readOnly":"false",
"required":"false",
"caseExact":"false",
"subAttributes":"null"
},
{
"attributeURI":"urn:scim:schemas:extension:bp:1.0:data.nombreNivelJerarquico",
"attributeName":"nombreNivelJerarquico",
"dataType":"string",
"multiValued":"false",
"multiValuedAttributeChildName":"null",
"description":"nombreNivelJerarquico",
"schemaURI":"urn:scim:schemas:extension:bp:1.0",
"readOnly":"false",
"required":"false",
"caseExact":"false",
"subAttributes":"null"
},
{
"attributeURI":"urn:scim:schemas:extension:bp:1.0:data.numeroCuentaDeposito",
"attributeName":"numeroCuentaDeposito",
"dataType":"string",
"multiValued":"false",
"multiValuedAttributeChildName":"null",
"description":"numeroCuentaDeposito",
"schemaURI":"urn:scim:schemas:extension:bp:1.0",
"readOnly":"false",
"required":"false",
"caseExact":"false",
"subAttributes":"null"
},
{
"attributeURI":"urn:scim:schemas:extension:bp:1.0:data.fechaIngresoEmpleado",
"attributeName":"fechaIngresoEmpleado",
"dataType":"string",
"multiValued":"false",
"multiValuedAttributeChildName":"null",
"description":"fechaIngresoEmpleado",
"schemaURI":"urn:scim:schemas:extension:bp:1.0",
"readOnly":"false",
"required":"false",
"caseExact":"false",
"subAttributes":"null"
},
{
"attributeURI":"urn:scim:schemas:extension:bp:1.0:data.fechaSalidaEmpleado",
"attributeName":"fechaSalidaEmpleado",
"dataType":"string",
"multiValued":"false",
"multiValuedAttributeChildName":"null",
"description":"fechaSalidaEmpleado",
"schemaURI":"urn:scim:schemas:extension:bp:1.0",
"readOnly":"false",
"required":"false",
"caseExact":"false",
"subAttributes":"null"
},
{
"attributeURI":"urn:scim:schemas:extension:bp:1.0:data.tipoUsuario",
"attributeName":"tipoUsuario",
"dataType":"string",
"multiValued":"false",
"multiValuedAttributeChildName":"null",
"description":"tipoUsuario",
"schemaURI":"urn:scim:schemas:extension:bp:1.0",
"readOnly":"false",
"required":"false",
"caseExact":"false",
"subAttributes":"null"
},
{
"attributeURI":"urn:scim:schemas:extension:bp:1.0:data.estadoEmpleado",
"attributeName":"estadoEmpleado",
"dataType":"string",
"multiValued":"false",
"multiValuedAttributeChildName":"null",
"description":"estadoEmpleado",
"schemaURI":"urn:scim:schemas:extension:bp:1.0",
"readOnly":"false",
"required":"false",
"caseExact":"false",
"subAttributes":"null"
},
{
"attributeURI":"urn:scim:schemas:extension:bp:1.0:data.subTipo",
"attributeName":"subTipo",
"dataType":"string",
"multiValued":"false",
"multiValuedAttributeChildName":"null",
"description":"subTipo",
"schemaURI":"urn:scim:schemas:extension:bp:1.0",
"readOnly":"false",
"required":"false",
"caseExact":"false",
"subAttributes":"null"
},
{
"attributeURI":"urn:scim:schemas:extension:bp:1.0:data.subTipo",
"attributeName":"subTipo",
"dataType":"string",
"multiValued":"false",
"multiValuedAttributeChildName":"null",
"description":"subTipo",
"schemaURI":"urn:scim:schemas:extension:bp:1.0",
"readOnly":"false",
"required":"false",
"caseExact":"false",
"subAttributes":"null"
},
{
"attributeURI":"urn:scim:schemas:extension:bp:1.0",
"attributeName":"data",
"dataType":"null",
"multiValued":"false",
"multiValuedAttributeChildName":"null",
"description":"SCIM BP User Schema Extension",
"schemaURI":"urn:scim:schemas:extension:bp:1.0",
"readOnly":"false",
"required":"false",
"caseExact":"false",
"subAttributes":"celular codigoEmpleado subTipo tipoUsuario estadoEmpleado fechaSalidaEmpleado fechaIngresoEmpleado numeroCuentaDeposito nombreNivelJerarquico codigoNivelJerarquico nombreCargo nombreCentroCosto codigoCentroCosto nombreArea codigoArea nombreDepartamento codigoDepartamento nombreDivision codigoDivision nombreAgrupacion codigoAgrupacion nombreCompania codigoCompania nombreSupervisor identificacionSupervisor identificacion nombresEmpleado apellidosEmpleado codigoTrabajador"
}
]
